<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       	View Purrcoins
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="col-md-12">
    			<!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">User: {{email}}</h3>
            </div>
            <div class="box-body">
            	<table id="tbl_audit" class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                	<th>Row</th>
                	<th>Action</th>
                  <th>Description</th>
                  <th>Purrcoins</th>
                  <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                  <td>{{++index}}</td>
                  <td>{{val.action}}</td>
                  <td>{{val.description}}</td>
                  <td >{{val.additional_info}}</td>
                  <td >{{val.created_at}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    		</div>
    	</div>
    </section>
  </div>
</template>
<script type="text/javascript">
	export default{
	  data(){
	    return{
        rows: [],
        email: ''
			}
	  },
	  mounted () {
      loading()
      this.email = this.$route.params.id.replace(/\$st/g,"/");
	  	this.setTable();
      setTimeout(()=>{
        close_loading()
      },1000)
	  },
	  methods: {
	  	setTable() {
        const url = `${base_url}/purrcoins_api/get_all_purrcoins?email=`+this.email;
        axios.get(url)
			  .then((response) => {
           this.rows = response.data.audits;
          setTimeout(() => {
          	 $('#tbl_audit').DataTable({
                 "order": [[ 0, "desc" ]]
             })
          })
        })
			  .catch(function (error) {
			    console.log(error);
			  });
	  	}
   }
	}
</script>