<template>	
    <!-- Content Wrapper. Contains page content -->
	  <div class="wrapper">
	    <admin_header></admin_header>
	    <admin_sidebar></admin_sidebar>
	    <router-view></router-view>
	    <admin_footer></admin_footer>
	  </div>
</template>
<!-- <script>
export default {
  mounted() {
    this.autocomplete = new google.maps.places.Autocomplete(
      (this.$refs.autocomplete),
      {types: ['geocode']}
    );

    this.autocomplete.addListener('place_changed', () => {
      let place = this.autocomplete.getPlace();
      let ac = place.address_components;
      let lat = place.geometry.location.lat();
      let lon = place.geometry.location.lng();
      let city = ac[0]["short_name"];

      console.log(`The user picked ${city} with the coordinates ${lat}, ${lon}`);
    });
  }
}
</script> -->

