<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manage Corporate Clients
        <small>Update Corporate Clients</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-10 col-lg-8">
          <!-- Input addon -->
          <div class="box box-success">
            <!-- <div class="box-header with-border">
               <h3 class="box-title">Input Addon</h3>
            </div>-->
            <div class="box-body">
              <form action="#" @submit.prevent="submitForm()" autocomplete="off">
                <div class="row">
                  <div class="col-md-12">
                    <h4>Company Information</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="FirstName">Company Name</label>
                      <input
                        class="form-control"
                        id="first_name"
                        name="first_name"
                        v-model="company_data.company_name"
                        type="text"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="LastName">Main Account</label>
                      <input
                        class="form-control"
                        data-val="true"
                        id="last_name"
                        name="last_name"
                        v-model="company_data.account"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="LastName">Tel #</label>
                      <input
                        class="form-control"
                        data-val="true"
                        name="last_name"
                        v-model="company_data.tel_number"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="LastName">Contact Person Name</label>
                      <input
                        class="form-control"
                        data-val="true"
                        name="last_name"
                        v-model="company_data.contact_person"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="LastName">Company TIN Number</label>
                      <input
                        class="form-control"
                        data-val="true"
                        name="last_name"
                        v-model="company_data.tin_number"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="LastName">Company Office Address</label>
                      <input
                        class="form-control"
                        data-val="true"
                        name="last_name"
                        v-model="company_data.address"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label
                        for="FirstName"
                      >Add Company Wallet: (current: {{company_data.company_wallet}})</label>
                      <input
                        class="form-control"
                        id="first_name"
                        v-model="add_wallet"
                        type="number"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="MiddleName">Status</label>
                      <select v-model="company_data.status" class="form-control" required>
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="FirstName">Date Created</label>
                      <input
                        class="form-control"
                        id="first_name"
                        v-model="created_at"
                        type="text"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="LastName">Date Updated</label>
                      <input
                        class="form-control"
                        data-val="true"
                        id="last_name"
                        v-model="updated_at"
                        type="text"
                        readonly
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Company Brand Discount</h4>
                    <button
                      type="button"
                      class="btn btn-danger"
                      @click="unselectAllBrands()"
                      v-if="selected_all"
                    >Unselect All</button>
                    <button
                      type="button"
                      class="btn btn-default"
                      @click="selectAllBrands()"
                      v-if="selected_all == false"
                    >Select All</button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-toggle="modal"
                      data-target="#bulkEdit"
                    >Bulk Edit</button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-toggle="modal"
                      data-target="#importDiscount"
                    >Import Discount Data</button>
                    <button class="btn btn-success" id="btnSubmit">Update Company</button>
                  </div>
                </div>
                <br />
                <div
                  class="row brand_row"
                  v-for="(brand, index) in company_data.discounts"
                  :key="index"
                >
                  <div class="col-md-1">
                    <label for v-if="index == 0">Row</label>
                    <br v-if="index == 0">
                    <input
                      type="checkbox"
                      v-model="selected_brands"
                      :id="`row${index}`"
                      :value="index"
                    />
                  </div>
                  <div class="col-md-8">
                    <label for v-if="index == 0">Brand Name:</label>
                    <input type="text" v-model="brand.brand_name" class="form-control" readonly />
                  </div>
                  <div class="col-md-2">
                    <label for v-if="index == 0">Discount</label>
                    <input type="number" v-model="brand.discount" class="form-control" />
                  </div>
                </div>

                <button class="btn btn-success" id="btnSubmit">Update Company</button>
              </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- Modal -->
          <div id="bulkEdit" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Bulk Edit</h4>
                </div>
                <div class="modal-body">
                  <label for>Enter Discount for all selected brands</label>
                  <input type="number" class="form-control" v-model="discount" />
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" @click="applyBulkEdit()">Apply</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div id="importDiscount" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Import Discount</h4>
                </div>
                <div class="modal-body">
                  <label for>Import from:</label>
                  <select name id class="form-control" v-model="company_id">
                    <option
                      :value="company.id"
                      v-for="(company,index) in companies"
                      :key="index"
                    >{{company.company_name}}</option>
                  </select>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-primary"
                    @click="importBrandDiscount()"
                  >Import</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style="expand-right"][data-loading] {
  padding-right: 46px;
}
.ladda-button {
  padding: 7px 15px;
}
.brand_row {
  margin-bottom: 10px;
}
</style>
<script type="text/javascript">
export default {
  data() {
    return {
      companies: [],
      company_id: "",
      company_data: {
        company_name: "",
        account: "",
        company_wallet: "",
        discounts: [],
        address: "",
        tin_number: "",
        contact_person: "",
        tel_number: "",
      },
      discount: 0,
      selected_brands: [],
      id: "",
      created_at: "",
      updated_at: "",
      brands: [],
      selected_all: false
    };
  },
  mounted() {
    this.id = this.$route.params.id.replace(/\$st/g, "/");
    this.setContent();
  },
  methods: {
    submitForm() {
      confirm_alert("The company data will be updated", "", "info").then(
        response => {
          var l = Ladda.create(document.querySelector("#btnSubmit"));
          l.start();
          let company_data = JSON.stringify(this.company_data);
          let url = base_url + "company_api/edit";
          axios
            .post(url, {
              token: getCookie("csrf_cookie"),
              company_data: company_data,
              id: this.id,
              add_wallet: this.add_wallet
            })
            .then(response => {
              if (response.data.message == "success") {
                l.stop();
                $("#btnSubmit").removeClass("ladda-button");
                swal("Updated Successfully", "", "success");
                setTimeout(() => {
                  window.location.href =
                    base_url + "secure_admin#/view_company_clients";
                }, 2000);
              } else {
                console.log(response.data.message);
              }
            })
            .catch(function(error) {
              console.log(error);
            });
        }
      );
    },
    applyBulkEdit() {
      for (var x = 0; x < this.selected_brands.length; x++) {
        var index = this.selected_brands[x];
        this.company_data.discounts[index].discount = this.discount;
      }
      this.discount = 0;
      $("#bulkEdit").modal("hide");
    },
    importBrandDiscount() {
      const url = `${base_url}/company_api/get_company_discount`;
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          company_id: this.company_id
        })
        .then(response => {
          this.company_data.discounts = JSON.parse(response.data.discounts);
          notify2("Imported Successfully", "", "success");
          $("#importDiscount").modal("hide");
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    selectAllBrands() {
      this.selected_all = true;
      for (var x = 0; x < this.brands.length; x++) {
        this.selected_brands.push(x);
      }
    },
    unselectAllBrands() {
      this.selected_all = false;
      this.selected_brands = [];
    },
    setContent() {
      const url = `${base_url}company_api/get_company/?q=${escape(this.id)}`;
      axios
        .get(url)
        .then(response => {
          var contents = response.data.company;
          this.brands = response.data.brands;
          this.companies = response.data.companies;
          if (contents.discounts == "" || contents.discounts == null) {
            for (var x = 0; x < this.brands.length; x++) {
              this.company_data.discounts.push({
                id: this.brands[x].brand_id,
                brand_name: this.brands[x].name,
                discount: 0
              });
            }
          } else {
            this.company_data.discounts = JSON.parse(contents.discounts);
            if (this.company_data.discounts.length != this.brands.length) {
              for (var x = 0; x < this.brands.length; x++) {
                this.addBrand(
                  this.company_data.discounts,
                  this.brands[x].id,
                  this.brands[x]
                );
              }
            }
          }

          this.company_data.company_name = contents.company_name;
          this.company_data.account = contents.account;
          this.company_data.company_wallet = contents.company_wallet;
          this.company_data.tel_number = contents.tel_number;
          this.company_data.address = contents.address;
          this.company_data.contact_person = contents.contact_person;
          this.company_data.tin_number = contents.tin_number;
          this.company_data.status = contents.status;
          this.created_at = contents.created_at;
          this.updated_at = contents.updated_at;
          close_loading();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    addBrand(arr, id, obj) {
      const found = arr.some(el => el.id === id);
      if (!found) {
        var tmp_obj = {
          brand_name: obj.name,
          discount: 0,
          id: obj.brand_id
        };
        this.company_data.discounts.push(tmp_obj);
      }
      return arr;
    }
  }
};
</script>