<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" id="admin-order-view">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       	Manage Orders
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
        <div class="col-md-12">
          <div class="col-md-4 form-group">
            <label>Status</label>
            <select class="form-control" v-model="filter_status" @change="filterTable()">
              <option value="all">All</option>
              <option value="0">Pending</option>
              <option value="1">Processing</option>
              <option value="3">Completed</option>
              <option value="4">Cancelled</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <label>Payment Status</label>
            <select class="form-control" v-model="filter_payment_status" @change="filterTable()">
              <option value="all">All</option>
              <option value="1">Paid</option>
              <option value="0">Unpaid</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <label>Payment Mode</label>
            <select class="form-control" v-model="filter_payment_method" @change="filterTable()">
              <option value="all">All</option>
              <option value="bank_transfer">Bank Transfer</option>
              <option value="pickup">Pickup</option>
              <option value="paypal">Paypal</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <label>Date Range</label>
            <date-picker v-model="filter_date" range lang="en" @change="filterTable()"></date-picker>
          </div>
          <div class="col-md-4 form-group">
            <label>Mode</label>
            <select class="form-control" v-model="filter_mode" @change="filterTable()">
              <option value="Live">Live</option>
              <option value="Test">Test</option>
            </select>
          </div>
        </div>
    		<div class="col-md-12">
    			<!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Orders</h3>
            </div>
            <div class="box-body">
            	<table id="tbl_orders" class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                  <th>Order Key</th>
                  <th>Email</th>
                  
                  <th>Amount</th>
                  <th>Payment Mode</th>
                  <th>Order Status</th>
                  <th>Date ordered</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                  <td><a href='javascript:void(0)' @click="view_order(val.id)">{{ val.order_key }}</a></td>
                  <td><p>{{val.email}}</p></td>
                  <td><p>PHP {{val.amount}}</p></td>
                  <td><p>{{val.payment_method}}</p></td>
                  <td>{{val.status }}</td>
                  <td>{{val.created_at ? val.created_at : 'N/A'}}</td>
                  <td>
                  	<div class="dropdown">
										  <button class="btn dropdown-toggle" type="button" v-bind:class="{ disabled: val.status >= 3, 'btn-success': val.status == 3, 'btn-danger': val.status == 4 || val.status == 5 || val.status == 6, 'btn-primary': !(val.status >= 3) }" data-toggle="dropdown">Set Status
										  <span class="caret"></span></button>
										  <ul class="dropdown-menu">
										    <li v-bind:class="{ active: val.status == 'Pending' }"><a href="javascript:void(0)" @click="changeStatus('Pending', val.id)">Pending</a></li>
										    <li v-bind:class="{ active: val.status == 'Processing' }"><a href="javascript:void(0)" @click="changeStatus('Processing', val.id)">Processing</a></li>
                        <li v-bind:class="{ active: val.status == 'Completed' }"><a href="javascript:void(0)" @click="changeStatus('Completed', val.id)">Completed</a></li>
                        <li v-bind:class="{ active: val.status == 'Cancelled' }"><a href="javascript:void(0)" @click="changeStatus('Cancelled', val.id)">Cancelled</a></li>
										  </ul>
										</div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    		</div>
    	</div>
    </section>
  </div>
</template>
<script type="text/javascript">
  import DatePicker from 'vue2-datepicker'
	export default{
    components: { DatePicker },
	  data(){
	    return{
        rows: [],
        filter_payment_status: 'all',
        filter_payment_method: 'all',
        filter_status: 'all',
        filter_date: '',
        filter_mode: 'Live'
			}
	  },
	  mounted () {
      loading()
	  	this.setTable();
      setTimeout(()=>{
        close_loading()
      },1000)
	  },
	  methods: {
      view_order(id) {
      	window.open(
				  base_url+`secure_admin#/view_orders/${escape(id).replace(/\//g,"$st")}`,
				  '_blank' // <- This is what makes it open in a new window.
				);
        //this.$router.push(`/view_orders/${escape(id).replace(/\//g,"$st")}`);
      }, 
      pad(num, size) {
        var s = num+"";
        while (s.length < size) s = "0" + s;
        return s;
      },
      filterTable(){   
        const url = `${base_url}/orders_api/get_orders/?status=` + this.filter_status + `&payment_method=` + this.filter_payment_method + `&payment_status=` + this.filter_payment_status + `&mode=` + this.filter_mode;
        axios.get(url) 
        .then((response) => {
           this.rows = [];
           var orders = response.data.orders;

          if(this.filter_date.length != 0) {
             orders.map((item, index) => {
              var payment_details = JSON.parse(item.payment_details);
              var item_date = new Date(item.created_at);
              var date_from = new Date(this.filter_date[0]);
              var date_to = new Date(this.filter_date[1]);
              date_to.setDate(date_to.getDate() + 1);
              if(item_date.getTime() >= date_from.getTime() && item_date.getTime() <= date_to.getTime()){
               this.rows.push(
               {
                 id: item.id,
                 order_key: item.order_key,
                 email: item.email,
                 billing_info: JSON.parse(item.billing_info),
                 shipping_info:JSON.parse(item.shipping_info),
                 price:item.price,
                 status:item.status,
                 coupon_value:item.coupon_value,
                 payment_details: payment_details,
                 payment_method: item.payment_method,
                 total: item.total,
                 status:item.status,
                 expired_at:item.expired_at,
                 created_at:item.created_at
               })
             }
             })
           }
         else {
            orders.map((item, index) => {
              var payment_details = JSON.parse(item.payment_details);
              this.rows.push(
               {
                 id: item.id,
                 order_key: item.order_key,
                 email: item.email,
                 billing_info: JSON.parse(item.billing_info),
                 shipping_info:JSON.parse(item.shipping_info),
                 price:item.price,
                 status:item.status,
                 coupon_value:item.coupon_value,
                 payment_details: payment_details,
                 payment_method: item.payment_method,
                 total: item.total,
                 status:item.status,
                 created_at:item.created_at
               })
            });
         }
          $("#tbl_orders").dataTable().fnDestroy();
          setTimeout(() => {
             $('#tbl_orders').DataTable({
                "searching": false,
                 "order": [[ 8, "desc" ]],
                 "lengthMenu": [25,50, 100]
             })
          })

        })
        .catch(function (error) {
          console.log(error);
        });
      },
	  	setTable() {
        const url = `${base_url}/wallet_api/get_orders`;
        axios.get(url) 
			  .then((response) => {
           var orders = response.data.orders;
           console.log(orders)
             orders.map((item, index) => {
               this.rows.push(
               {
                 id: item.id,
                 order_key: item.order_key,
                 email: item.email,
                 full_address: item.full_address,
                 status:item.status,
                 payment_method: item.payment_method,
                 amount: item.amount,
                 status:item.status,
                 created_at:item.created_at
               })
             })
          setTimeout(() => {
          	 $('#tbl_orders').DataTable({
                 "lengthMenu": [25,50, 100],
                 "aaSorting": [],
                 "columnDefs": [ {
					    		},{'sType': 'currency', 'aTargets': [2] }]
             })
          })
        })
			  .catch(function (error) {
			    console.log(error);
			  });
	  	},
     getPaymentStatus(status) {
        return status == 1 ? 'Paid' : 'Unpaid';
     },
     changeStatus(status, id) {
      let vm = this;
      confirm_alert(
        "Update Status?",
        "Are you sure?",
        "info"
      ).then(response => {
        if (response) {
          var url = `${base_url}wallet_api/change_status`;
          axios
            .post(url, {
              token: getCookie("csrf_cookie"),
              id: id,
              status: status
            })
            .then(response => {
             location.reload();
            })
            .catch(function(error) {
              console.log(error);
            });
        }
      });
    }
   }
	}
</script>