<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper manage_products">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       	Manage Products
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="col-md-12">
    			<!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Products</h3>
            </div>
            <div class="box-body">
             <div class="row">
              <div class="col-md-12">
               <button class="btn btn-warning" @click="selectAll" v-show="allSelected==false">Select All</button>
               <button class="btn btn-warning" @click="selectAll" v-show="allSelected==true">Unselect All</button>
               <button class="btn btn-danger" @click="deleteAllProduct" v-show="selected_id.length > 0">Delete Selected Products</button>
               <button class="btn btn-info" data-toggle="modal" data-target="#bulk_modal">Bulk Edit</button>
               <button class="btn btn-primary" data-toggle="modal" data-target="#filter_modal">Filter Products</button>
              </div>
             </div>
             <br>
             <h3>Products for {{category}}</h3>
            	<table id="tbl_products" class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                	<th>Row</th>
                	<th>Product Name</th>
                  <th>Price </th>
                  <th>No of Stocks</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(val, index) in rows" :key="index" :class="`row${val.id}`">
                  <td><input type="checkbox" v-model="selected_id" :value="val.id"></td>
                  <td><a :href="`cards/view/${val.id}`" target="_blank">{{val.name}}</a></td>
                  
                  <td v-if="val.card_type == 'regular'">
                   <div class="tmp_action_container" v-show="val.id != showActionId || showActionColumn != 'regular_price'">
                    <button class="btn btn-primary edit_column" @click="showAction(val.id,index,'regular_price',val.regular_price)"><i class="fa fa-edit" ></i></button>{{val.regular_price}}
                   </div>
                   <div class="action_container" v-show="val.id == showActionId && showActionColumn == 'regular_price'">
                    <input type="number" ref="regular_price" v-model="new_value" v-on:keyup.enter="updateValue(val.id,index)">
                    <button class="btn-primary" @click="updateValue(val.id,index)"><i class="fa fa-check"></i></button>
                    <button class="btn-danger" @click="cancelEdit()"><i class="fa fa-times"></i></button>
                   </div>
                  </td>
                  <td v-if="val.card_type == 'foil'">
                   <div class="tmp_action_container" v-show="val.id != showActionId || showActionColumn != 'foil_price'">
                    <button class="btn btn-primary edit_column" @click="showAction(val.id,index,'foil_price',val.foil_price)"><i class="fa fa-edit" ></i></button>{{val.foil_price}}
                   </div>
                   <div class="action_container" v-show="val.id == showActionId && showActionColumn == 'foil_price'">
                    <input type="number" ref="foil_price" v-model="new_value" v-on:keyup.enter="updateValue(val.id,index)">
                    <button class="btn-primary" @click="updateValue(val.id,index)"><i class="fa fa-check"></i></button>
                    <button class="btn-danger" @click="cancelEdit()"><i class="fa fa-times"></i></button>
                   </div>
                 </td>
                  <td v-if="val.stock==0">
                   <div class="tmp_action_container" v-show="val.id != showActionId || showActionColumn != 'stock'">
                    <button class="btn btn-primary edit_column" @click="showAction(val.id,index,'stock',val.stock)"><i class="fa fa-edit" ></i></button><label class="label label-warning">out of stock</label>
                   </div>
                   <div class="action_container" v-show="val.id == showActionId && showActionColumn == 'stock'">
                    <input type="number" ref="stock" v-model="new_value" v-on:keyup.enter="updateValue(val.id,index)">
                    <button class="btn-primary" @click="updateValue(val.id,index)"><i class="fa fa-check"></i></button>
                    <button class="btn-danger" @click="cancelEdit()"><i class="fa fa-times"></i></button>
                   </div>
                  </td>
                  <td v-else>
                   <div class="tmp_action_container" v-show="val.id != showActionId || showActionColumn != 'stock'">
                    <button class="btn btn-primary edit_column" @click="showAction(val.id,index,'stock',val.stock)"><i class="fa fa-edit" ></i></button>{{val.stock}}
                   </div>
                   <div class="action_container" v-show="val.id == showActionId && showActionColumn == 'stock'">
                    <input type="number" ref="stock" v-model="new_value" v-on:keyup.enter="updateValue(val.id,index)">
                    <button class="btn-primary" @click="updateValue(val.id,index)"><i class="fa fa-check"></i></button>
                    <button class="btn-danger" @click="cancelEdit()"><i class="fa fa-times"></i></button>
                   </div>
                  </td>
                  <td>
                  	<div class="dropdown">
         										  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Show Actions
         										  <span class="caret"></span></button>
         										  <ul class="dropdown-menu">
         										    <li><a href="javascript:void(0)" @click="edit(val.id)">Edit</a></li>
         										    <li><a href="javascript:void(0)" @click="deleteProduct(val.id)">Delete</a></li>
         										  </ul>
         										</div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    		</div>
    	</div>
    </section>
    <!-- Modal -->
   <div id="filter_modal" class="modal fade" role="dialog">
     <div class="modal-dialog">

       <!-- Modal content-->
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Filter Products</h4>
         </div>
         <div class="modal-body">
           <div class="row">
           	<div class="col-md-12">
           		<label>Product Name</label>
							<input class="form-control" name="product_name" v-model="product_name">
           	</div>
            <div class="col-md-12">
              <label>Select Category</label>
              <select class="form-control"  v-model="category">
              	<option value="none">Select Category</option>
               <option  v-for="(item,index) in categories" :value="item.set_code" >{{item.set}}</option>
              </select>
            </div>
           </div>
           <div v-for="(item,index) in filters" v-if="item.main_filter=='Variation' || item.main_filter=='Rarity'">
           <div class="row"  v-if="item.main_filter=='Variation'">
	            <div class="col-md-12" >
	              <label >Select {{item.main_filter}}</label>
	              <select class="form-control" v-model="variation" >
	               <option  v-for="(item2,index) in item.sub_filter" :value="item2">{{item2}}</option>
	              </select>
	              <!-- <select class="form-control" v-model="type" v-else-if="item.main_filter=='Type'">
	               <option  v-for="(item2,index) in item.sub_filter" :value="item2">{{item2}}</option>
	              </select>
	              <select class="form-control" v-model="colors" v-else-if="item.main_filter=='Colors'">
	               <option  v-for="(item2,index) in item.sub_filter" :value="item2">{{item2}}</option>
	              </select>
	               -->
	            </div>
           	</div>
           	<div class="row">
            	<div class="col-md-12" v-if="item.main_filter=='Rarity'">
	            	<label >Select {{item.main_filter}}</label>
	              <select class="form-control" v-model="rarity">
	               <option  v-for="(item2,index) in item.sub_filter" :value="item2">{{item2}}</option>
	              </select>
	            </div>
            </div>
           </div>
         </div>
         <div class="modal-footer">
           <button class="btn btn-primary" @click="filterProduct()">Submit</button>
         </div>
       </div>

     </div>
   </div>
   <div id="bulk_modal" class="modal fade" role="dialog">
     <div class="modal-dialog">

       <!-- Modal content-->
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Bulk Edit</h4>
         </div>
         <div class="modal-body">
           <div class="row">
            <div class="col-md-12">
              <label>Enter Stocks <small>(leave blank if no changes)</small></label>
              <input type="number" v-model="num_stocks" name="" class="form-control">
              <label>Base/Cost Price <small>(leave blank if no changes)</small></label>
              <input type="number" v-model="base_price" name="" class="form-control">
              <div v-if="variation=='Regular'">
               <label>Regular Price <small>(leave blank if no changes)</small></label>
               <input type="number" v-model="regular_price" name="" class="form-control">
              </div>
              <div v-else>
               <label>Foil Price <small>(leave blank if no changes)</small></label>
               <input type="number" v-model="foil_price" name="" class="form-control">
              </div>
              <label>Set Code <small>(leave blank if no changes)</small></label>
              <input type="text" v-model="set_code" name="" class="form-control">
            </div>
           </div>
         </div>
         <div class="modal-footer">
           <button class="btn btn-primary" @click="bulkEdit()">Submit</button>
         </div>
       </div>

     </div>
   </div>
  </div>
</template>
<style type="text/css">
.manage_products .edit_column {
 margin-right:5px;
 background:transparent;
}
.manage_products .edit_column .fa-edit {
 color:blue;
}
.action_container {
 width:200px;
}

 .manage_products .row {
  margin-bottom: 10px;
 }
 .manage_products .action_container input  {
  width: 80px;
 }

 .manage_products .action_container button, .manage_products .action_container input {
  display: inline-block;
 }
</style>
<script type="text/javascript">
	export default{
	  data(){
	    return{
        rows: [],
        product_selected: [],
        filters:[],
        categories:[],
        category:"",
        variation:"Regular",
        colors: "All",
        type: "All",
        rarity: "All",
        num_stocks: '',
        base_price:'',
        set_code:'',
        regular_price:'',
        foil_price:'',
        product_name:'',
        selected_id: [],
        showActionId: '',
        showActionColumn:'',
        new_value:'',
        allSelected: false,
			}
	  },
	  mounted () {
      loading()
	  	this.setTable();
    this.getFilters();
      setTimeout(()=>{
        close_loading()
      },1000)
	  },
	  methods: {
    showAction(id,row,column,current_value) {
     this.showActionId = id;
     this.showActionColumn = column
     this.new_value = current_value
     if(column == "base_price") {
      this.$nextTick(() => this.$refs.base_price[row].focus())
     }
     else if(column == "regular_price") {
      this.$nextTick(() => this.$refs.regular_price[row].focus())
     }
     else if(column == "foil_price") {
      this.$nextTick(() => this.$refs.foil_price[row].focus())
     }
     else if(column == "stock") {
      this.$nextTick(() => this.$refs.stock[row].focus())
     }
     
    },
    cancelEdit(){
     this.showActionId = this.showActionColumn = this.new_value = ''
    },
    updateValue(id,row){
     var new_value = this.new_value;
     var column = this.showActionColumn;


     let url = base_url+'products_api/singleEdit';
     axios.post(url, {
        token: getCookie('csrf_cookie'),
        new_value: this.new_value,
        column: this.showActionColumn,
        id: id,
      })
      .then((response) => {
        if(response.data.message=="success") {
          if(column == "base_price") {
           this.rows[row].base_price = new_value
          }
          else if(column == "regular_price") {
           this.rows[row].regular_price = new_value
          }
          else if(column == "foil_price") {
           this.rows[row].foil_price = new_value
          }
          else if(column == "stock") {
           this.rows[row].stock = new_value
          }
          this.showActionId = this.showActionColumn = this.new_value = ''
        }
        else {
         console.log(response.data.message);
        }
      })
      .catch(function (error) {
        console.log(error);
      });

    },
    selectAll: function() {
      if (!this.allSelected) {
       this.rows.map((item, index) => {
        this.selected_id.push(item.id);
       })
       this.allSelected = true;
      } else {
       this.selected_id = [];
       this.allSelected = false;
      }
    },
	  	setTable() {
     const url = `${base_url}products_api/get_all_products`;
     axios.get(url)
			  .then((response) => {
           this.rows = response.data.products;
           this.category = response.data.cat_code
           this.rarity = response.data.rarity
           this.variation = response.data.variation
           this.product_name = response.data.product_name
          setTimeout(() => {
          	 $('#tbl_products').DataTable({
          	 	"lengthMenu": [50, 100],
          	 	"order": [[ 1, "asc" ],[2,"asc"]],
          	 	"columnDefs": [ {
			          "targets": [4,5,6,7],
			          "orderable": false,
			    		}]
          	 })
          })
        })
			  .catch(function (error) {
			    console.log(error);
			  });
	  	},
    getFilters() {
     const url = `${base_url}products_api/getFilters`;
     axios.get(url)
     .then((response) => {
         this.filters = response.data.filters;
         this.categories = response.data.categories;
     })
     .catch(function (error) {
       console.log(error);
     });
    },
	  	edit(id) {
	  		this.$router.push(`/edit_product/${escape(id).replace(/\//g,"$st")}`);
	  	},
    filterProduct() {
     this.rows = [];
     let url = base_url+'products_api/filterProduct';
     axios.post(url, {
        token: getCookie('csrf_cookie'),
        category: this.category,
        variation: this.variation,
        rarity: this.rarity,
        product_name:this.product_name
      })
      .then((response) => {
        if(response.data.message=="success") {
          location.reload();
        }
        else {
         console.log(response.data.message);
        }
      })
      .catch(function (error) {
        console.log(error);
      });
    },
    deleteAllProduct(){
     confirm_alert('Are you sure?','You won\'t be able to revert this! ','warning').then((response) => {
       const url = `${base_url}products_api/deleteAllProduct`;
          axios.post(url,{
            token: getCookie('csrf_cookie'),
            selected_id: JSON.stringify(this.selected_id),
            category: this.category,
            variation: this.variation,
            rarity: this.rarity
          })
         .then((response) => {
          console.log(response.data.cat_code);
          //location.reload();
         })
       .catch(function (error) {
         console.log(error);
       });
     });
    },
    bulkEdit() {
     confirm_alert('Are you sure?','You won\'t be able to revert this! ','warning').then((response) => {
       const url = `${base_url}products_api/bulkEdit`;
       loading()
          axios.post(url,{
            token: getCookie('csrf_cookie'),
            num_stocks: this.num_stocks,
            base_price: this.base_price,
            regular_price: this.regular_price,
            foil_price: this.foil_price,
            selected_id: JSON.stringify(this.selected_id),
            category: this.category,
            set_code: this.set_code,
        		  variation: this.variation
          })
         .then((response) => {
          close_loading();
          location.reload();
         })
       .catch(function (error) {
         console.log(error);
       });
     });
    },
	  	deleteProduct(id) {
	  		confirm_alert('Are you sure?','You won\'t be able to revert this! ','warning').then((response) => {
 		  		const url = `${base_url}products_api/deleteProduct`;
 	        axios.post(url,{
 	        	 token: getCookie('csrf_cookie'),
 				     id: id
 	        })
   				  .then((response) => {
    						location.reload();
    	    })
 				  .catch(function (error) {
 				    console.log(error);
 				  });
 				});
	  	}
   }
	}
</script>