<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manage Users
        <small>Add new user</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-10 col-lg-8">
          <!-- Input addon -->
          <div class="box box-success">
            <!-- <div class="box-header with-border">
	              <h3 class="box-title">Input Addon</h3>
            </div>-->
            <div class="box-body">
              <form action="#" @submit.prevent="submitForm()" autocomplete="off">
                <div class="row">
                  <div class="col-md-12">
                    <h4>Personal Information</h4>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="FirstName">First Name</label>
                      <input
                        class="form-control"
                        id="first_name"
                        name="first_name"
                        v-model="user_data.firstname"
                        type="text"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="LastName">Last Name</label>
                      <input
                        class="form-control"
                        data-val="true"
                        id="last_name"
                        name="last_name"
                        v-model="user_data.lastname"
                        type="text"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="LastName">Middle Initial</label>
                      <input
                        class="form-control"
                        data-val="true"
                        id="last_name"
                        name="last_name"
                        v-model="user_data.middleinitial"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="MiddleName">Contact number</label>
                      <input
                        class="form-control"
                        data-val="true"
                        id="contact_number"
                        name="contact_number"
                        v-model="user_data.contact_number"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="MiddleName">Company</label>
                      <select v-model="user_data.company" class="form-control">
                        <option
                          :value="company.id"
                          v-for="(company,index) in companies"
                          :key="index"
                        >{{company.company_name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="MiddleName">Wallet</label>
                      <input type="number" class="form-control" v-model="user_data.wallet" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Account Information</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="LastName">Email</label>
                      <input type="email" class="form-control" v-model="user_data.email" required />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="Password">Password</label>
                      <input
                        class="form-control"
                        data-val="true"
                        id="last_name"
                        type="text"
                        v-model="user_data.password"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="Role">Role</label>
                      <select v-model="user_data.role" class="form-control" required>
                        <option value="Admin">Admin</option>
                        <option value="Customer">Customer</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value />Access Merchants and Products Reports
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value />Access Corporate Client Reports & View Wallet Balance
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="1" v-model="user_data.api_enable" />Access to API
                      </label>
                    </div>
                  </div>
                </div>
                <button class="btn btn-success" id="btnSubmit">Add User</button>
              </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style="expand-right"][data-loading] {
  padding-right: 46px;
}
.ladda-button {
  padding: 7px 15px;
}
</style>
<script type="text/javascript">
export default {
  data() {
    return {
      user_data: {
        lastname: "",
        firstname: "",
        middleinitial: "",
        wallet: 0,
        company: "",
        password: "",
        contact_number: "",
        email: "",
        api_enable:"",
        active: "1",
        role: "Admin"
      },
      companies: []
    };
  },
  mounted() {
    this.setContent();
  },
  methods: {
    setContent() {
      const url = `${base_url}company_api/get_companies`;
      axios
        .get(url)
        .then(response => {
          this.companies = response.data.companies;
          close_loading();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    submitForm() {
      confirm_alert("The user will be added", "", "info").then(response => {
        var l = Ladda.create(document.querySelector("#btnSubmit"));
        l.start();
        let user_data = this.user_data;
        let url = base_url + "users_api/add";
        axios
          .post(url, {
            token: getCookie("csrf_cookie"),
            user_data: user_data
          })
          .then(response => {
            if (response.data.message == "success") {
              l.stop();
              $("#btnSubmit").removeClass("ladda-button");
              swal("Added Successfully", "", "success");
              setTimeout(() => {
                window.location.href = base_url + "secure_admin#/view_users";
              }, 2000);
            } else {
              console.log(response.data.message);
            }
          })
          .catch(function(error) {
            console.log(error);
          });
      });
    }
  }
};
</script>