<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manage Users
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Users</h3>
            </div>
            <div class="box-body">
              <!-- <data-tables
                :data="rows"
                style="width: 100%"
                :pagination-props="{ pageSizes: [10,15],layout: &quot;sizes, prev, pager, next, jumper, ->, total, slot&quot; }"
              >
                <el-table-column label="Date ordered" prop="created_at">
                  <template slot-scope="scope">
                    <p>{{scope.row.email}}</p>
                  </template>
                </el-table-column>
              </data-tables>-->

              <table id="tbl_users" class="table table-bordered table-striped table-responsive">
                <thead>
                  <tr>
                    <th>Row</th>
                    <th>Email</th>
                    <th>Wallet</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Date created</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                    <td>{{++index}}</td>
                    <td>{{val.email}}</td>
                    <td>PHP {{val.wallet ? val.wallet : 0 }}</td>
                    <td>{{val.role}}</td>
                    <td v-if="val.active==1">
                      <span class="label label-success">Active</span>
                    </td>
                    <td v-else>
                      <span class="label label-danger">Inactive</span>
                    </td>
                    <td>{{val.created_at ? val.created_at : 'N/A'}}</td>
                    <td>
                      <div class="dropdown">
                        <button
                          class="btn btn-primary dropdown-toggle"
                          type="button"
                          data-toggle="dropdown"
                        >
                          Show Actions
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="javascript:void(0)" @click="edit(val.email)">Edit</a>
                          </li>
                          <li>
                            <a
                              href="javascript:void(0)"
                              @click="changeStatus(val.email,val.active, index)"
                            >Change Status</a>
                          </li>
                          <li>
                            <a href="javascript:void(0)" @click="deleteUser(val.email)">Delete User</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
  </div>
</template>
<script type="text/javascript">
export default {
  data() {
    return {
      rows: [],
      baseurl:base_url
    };
  },
  mounted() {
    loading();
    this.setTable();
    setTimeout(() => {
      close_loading();
    }, 1000);
  },
  methods: {
    setTable() {
      const url = `${base_url}/users_api/get_users`;
      axios
        .get(url)
        .then(response => {
          this.rows = response.data.users;
          setTimeout(() => {
            $("#tbl_users").DataTable({
              lengthMenu: [10, 25, 50, 100],
              columnDefs: [
                {
                  targets: [6],
                  orderable: false
                },
                { sType: "currency", aTargets: [2] }
              ]
            });
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    edit(email) {
      this.$router.push(`/edit_user/${escape(email).replace(/\//g, "$st")}`);
    },
    deleteUser(email) {
      confirm_alert(
        "Are you sure?",
        "You won't be able to revert this! ",
        "warning"
      ).then(response => {
        const url = `${base_url}users_api/delete`;
        axios
          .post(url, {
            token: getCookie("csrf_cookie"),
            email: email
          })
          .then(response => {
            location.reload();
          })
          .catch(function(error) {
            console.log(error);
          });
      });
    },
    changeStatus(email, status, index) {
      index--;
      confirm_alert(
        "Are you sure?",
        "",
        "warning"
      ).then(response => {
        const url = `${base_url}users_api/changeStatus`;
        axios
          .post(url, {
            token: getCookie("csrf_cookie"),
            email: email,
            status: status
          })
          .then(response => {
            this.rows[index].active = !status;
            //location.reload();
          })
          .catch(function(error) {
            console.log(error);
          });
      });
    }
  }
};
</script>