<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manage Vouchers
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Vouchers</h3>
            </div>
            <div class="box-body">
              <button class="btn btn-primary">Filter Vouchers</button>
              <button
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#importVouchers"
              >Import Vouchers</button>

              <div id="importVouchers" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <form method="post" action="#" @submit.prevent="importVouchers()">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Import Vouchers</h4>
                      </div>
                      <div class="modal-body">
                        <div class="form-group">
                          <label for>Brand</label>
                          <select name class="form-control" id v-model="selected_brand" @change="changeBrand()" required>
                            <option value>- Select a Brand -</option>
                            <option
                              :value="value.brand_id"
                              v-for="(value,index) in brands"
                              :key="index"
                              
                            >{{value.name}}</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for>Product:</label>
                          <select name class="form-control"  v-model="selected_product" required>
                            <option value>- Select a Product -</option>
                            <option
                              :value="value.id"
                              v-for="(value,index) in products"
                              :key="index"
                            >{{value.name}}</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for>File:</label>
                          <input
                            type="file"
                            class="form-control"
                            ref="file"
                            v-on:change="handleFileUpload()"
                            required
                          />
                        </div>

                        <a
                          :href="`${base_url+'uploads/vouchers_format.xlsx'}`"
                          download
                        >Click Here to download voucher upload format</a>
                      </div>
                      <div class="modal-footer">
                        <button type="submit " class="btn btn-primary">Upload</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <br />
              <br />
              <table id="tbl_vouchers" class="table table-bordered table-striped table-responsive">
                <thead>
                  <tr>
                    <th>Row</th>
                    <th>Voucher Code</th>
                    <th>Order Number</th>
                    <th>Status</th>
                    <th>Redeemed</th>
                    <th>Downloaded</th>
                    <th>Date Sent</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                    <td>{{++index}}</td>
                    <td>{{val.voucher_code}}</td>
                    <td>{{val.order_number}}</td>
                    <td v-if="val.status==1">
                      <span class="label label-success">Active</span>
                    </td>
                    <td v-else>
                      <span class="label label-danger">Inactive</span>
                    </td>
                    <td v-if="val.is_redeemed == 1">{{'Yes ' + val.date_redeemed}}</td>
                    <td v-else>No</td>
                    <td v-if="val.is_downloaded == 1">{{ 'Yes ' + val.date_downloaded}}</td>
                    <td v-else>No</td>
                    <td>{{val.date_sent ? val.date_sent : 'N/A'}}</td>
                    <td>
                      <div class="dropdown">
                        <button
                          class="btn btn-primary dropdown-toggle"
                          type="button"
                          data-toggle="dropdown"
                        >
                          Show Actions
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="javascript:void(0)" @click="edit(val.id)">Edit</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
  </div>
</template>
<script type="text/javascript">
export default {
  data() {
    return {
      rows: [],
      brands: [],
      selected_brand: "",
      file: "",
      base_url: base_url,
      selected_product: "",
      products: []
    };
  },
  mounted() {
    loading();
    this.setTable();
    this.setBrands();
    setTimeout(() => {
      close_loading();
    }, 1000);
  },
  methods: {
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
    },
    changeBrand() {
      loading();
      var url = base_url + "products/get_products_by_brand_id";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          brand_id: this.selected_brand
        })
        .then(response => {
          this.products = response.data.products;
          close_loading();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    importVouchers() {
      loading();
      let formData = new FormData();
      var url = `${base_url}vouchers_api/import_vouchers`;
      formData.append("file", this.file);
      formData.append("brand_id", this.selected_brand);
      formData.append("product_id", this.selected_product);
      formData.append("token", getCookie("csrf_cookie"));
      axios
        .post(url, formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => {
          if (response.data.message == "success") {
            this.selected_brand = this.file = "";
            $("#importVouchers").modal("hide");
            notify2("Vouchers import successfully", "", "success");
            setTimeout(() => {
              location.reload();
            }, 2000);
          } else {
            notify2("Vouchers import failed", response.data.message, "error");
          }
        })
        .catch(function(error) {
          console.log(error);
          notify2("Vouchers import failed", "", "error");
        });
    },
    setBrands() {
      const url = `${base_url}/brands_api/get_brands`;
      axios
        .get(url)
        .then(response => {
          this.brands = response.data.brands;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    setTable() {
      const url = `${base_url}/vouchers_api/get_vouchers`;
      axios
        .get(url)
        .then(response => {
          this.rows = response.data.vouchers;
          setTimeout(() => {
            $("#tbl_vouchers").DataTable({
              lengthMenu: [25, 50, 100],
              columnDefs: [
                {
                  targets: [7],
                  orderable: false
                }
              ]
            });
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    edit(id) {
      //  this.$router.push(`/edit_company/${escape(id).replace(/\//g, "$st")}`);
    },
    changeStatus(email, status) {
      confirm_alert(
        "Are you sure?",
        "You won't be able to revert this! ",
        "warning"
      ).then(response => {
        const url = `${base_url}users_api/changeStatus`;
        axios
          .post(url, {
            token: getCookie("csrf_cookie"),
            email: email,
            status: status
          })
          .then(response => {
            location.reload();
          })
          .catch(function(error) {
            console.log(error);
          });
      });
    }
  }
};
</script>