<template>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Loyalty Program
        <small>Update Loyalty Program</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
     <div class="row">
      <div class="col-md-10 col-lg-6">
           <!-- Input addon -->
           <div class="box box-success">
             <!-- <div class="box-header with-border">
               <h3 class="box-title">Input Addon</h3>
             </div> -->
             <div class="box-body">
              <form action="#"  @submit.prevent="submitForm()" autocomplete="off">
              	<div class="row">
              		<div class="col-md-12">
	                  <h4 >Loyaty Program Information</h4>
	                </div>
              	</div>
                <div class="row">
                	<div class="col-md-12">
	                   <div class="form-group">
	                      <label for="FirstName">Level Number</label>
	                      <input class="form-control" id="first_name" name="first_name"  v-model="loyalty_data.level_number"type="text"   required />
	                   </div>
	                </div>
	                <div class="col-md-12">
		               	<div class="form-group">
		                  <label for="LastName">Loyalty Name</label>
		                  <input class="form-control" data-val="true" id="last_name" name="last_name" v-model="loyalty_data.level_name" type="text"   required />
		                </div>
		               </div>
                </div>
                <div class="row">
                	<div class="col-md-12">
	                   <div class="form-group">
	                      <label for="FirstName">Lifetime spend</label>
	                      <input class="form-control" id="first_name" name="first_name"  v-model="loyalty_data.lifetime_spend"type="text"   required />
	                   </div>
	                </div>
	                <div class="col-md-12">
		               	<div class="form-group">
		                  <label for="LastName">Single Cards Rebate</label>
		                  <input class="form-control" data-val="true" id="last_name" name="last_name" v-model="loyalty_data.single_cards_rebate" type="text"   required />
		                </div>
		              </div>
		              <div class="col-md-12">
		               	<div class="form-group">
		                  <label for="LastName">Other Products Rebate</label>
		                  <input class="form-control" data-val="true" id="last_name" name="last_name" v-model="loyalty_data.other_products_rebate" type="text"   required />
		                </div>
		              </div>
                </div>
                <button class="btn btn-success" id="btnSubmit">Update Loyalty Program</button>
              </form>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
         </div>
     </div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
 .ladda-button {
      padding: 7px 15px;
 }
</style>
<script type="text/javascript">

 export default{
   data(){
     return{
       loyalty_data: {
        level_number: '',
        level_name: '',
        lifetime_spend:'',
        single_cards_rebate: '',
        other_products_rebate: ''
       },
       id: '',
    }
   },
   mounted(){
    this.id = this.$route.params.id.replace(/\$st/g,"/");
    this.setContent()
   },
   methods: {
     submitForm () {
      confirm_alert('Loyalty program will be updated','','info').then((response) => {
        var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
        l.start();
        let loyalty_data =  JSON.stringify(this.loyalty_data);
        let url = base_url+'loyalty_program_api/edit';
        axios.post(url, {
           token: getCookie('csrf_cookie'),
           loyalty_data: loyalty_data,
           id: this.id
         })
         .then((response) => {
           if(response.data.message=="success") {
               l.stop();
               $("#btnSubmit").removeClass('ladda-button');
               swal("Updated Successfully","","success");
               setTimeout(()=>{
                window.location.href = base_url +"secure_admin#/view_loyalty"
               },2000)
           }
           else {
            console.log(response.data.message);
           }
         })
         .catch(function (error) {
           console.log(error);
         });
      });
      
     },
     setContent(){
      const url = `${base_url}loyalty_program_api/get_loyalty_program/?q=${escape(this.id)}`;
       axios.get(url)
       .then((response) => {
       	console.log(response.data.loyalty_program)
         var contents = response.data.loyalty_program;
         contents.map((item, index) => {
          this.loyalty_data.level_number = item.level_number
	        this.loyalty_data.level_name = item.level_name
	        this.loyalty_data.lifetime_spend = item.lifetime_spend
	        this.loyalty_data.single_cards_rebate = item.single_cards_rebate
	        this.loyalty_data.other_products_rebate = item.other_products_rebate
         })
       })
       .catch(function (error) {
         console.log(error);
       });
     }
   }
 }
</script>