/* 

=================================================================== 

Custom Fonts

=================================================================== 

*/

@font-face {

    font-family: 'Tabitha';

    src: url('fonts/tabitha.eot'), url('fonts/tabitha.ttf') format('truetype'), url('fonts/tabitha.svg') format('svg');

    font-weight: normal;

    font-style: normal;

}	

@font-face {

    font-family: 'open_sanslight';

    src: url('fonts/fonts/opensans-light-webfont.eot');

    src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),

         url('fonts/opensans-light-webfont.woff') format('woff'),

         url('fonts/opensans-light-webfont.ttf') format('truetype'),

         url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');

    font-weight: normal;

    font-style: normal;



}





@font-face {

    font-family: 'open_sansregular';

    src: url('fonts/opensans-regular-webfont.eot');

    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),

         url('fonts/opensans-regular-webfont.woff') format('woff'),

         url('fonts/opensans-regular-webfont.ttf') format('truetype'),

         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');

    font-weight: normal;

    font-style: normal;



}









@font-face {

    font-family: 'open_sanssemibold';

    src: url('fonts/opensans-semibold-webfont.eot');

    src: url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),

         url('fonts/opensans-semibold-webfont.woff') format('woff'),

         url('fonts/opensans-semibold-webfont.ttf') format('truetype'),

         url('fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');

    font-weight: normal;

    font-style: normal;



}



@font-face {

    font-family: 'open_sansbold';

    src: url('fonts/opensans-bold.eot');

    src: url('fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),

         url('fonts/opensans-bold.woff') format('woff'),

         url('fonts/opensans-bold.ttf') format('truetype'),

         url('fonts/opensans-bold.svg#open_sansbold') format('svg');

    font-weight: normal;

    font-style: normal;



}



@font-face {

    font-family: 'open_sansextrabold';

    src: url('fonts/opensans-extrabold_0.eot');

    src: url('fonts/opensans-extrabold_0.eot?#iefix') format('embedded-opentype'),

         url('fonts/opensans-extrabold_0.woff') format('woff'),

         url('fonts/opensans-extrabold_0.ttf') format('truetype'),

         url('fonts/opensans-extrabold_0.svg#open_sansextrabold') format('svg');

    font-weight: normal;

    font-style: normal;



}



@font-face {

    font-family: 'tabitharegular';

    src: url('fonts/tabitha-webfont.eot');

    src: url('fonts/tabitha-webfont.eot?#iefix') format('embedded-opentype'),

         url('fonts/tabitha-webfont.woff') format('woff'),

         url('fonts/tabitha-webfont.ttf') format('truetype'),

         url('fonts/tabitha-webfont.svg#tabitharegular') format('svg');

    font-weight: normal;

    font-style: normal;



}


@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('fonts/caviardreams-webfont.eot');
    src: url('fonts/caviardreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/caviardreams-webfont.woff2') format('woff2'),
         url('fonts/caviardreams-webfont.woff') format('woff'),
         url('fonts/caviardreams-webfont.ttf') format('truetype'),
         url('fonts/caviardreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('fonts/caviardreams_bold-webfont.eot');
    src: url('fonts/caviardreams_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/caviardreams_bold-webfont.woff2') format('woff2'),
         url('fonts/caviardreams_bold-webfont.woff') format('woff'),
         url('fonts/caviardreams_bold-webfont.ttf') format('truetype'),
         url('fonts/caviardreams_bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
