.headField{
	width: 200px;
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding-left: 5px;
	font-family: 'open_sansregular' !important;
    margin-top: -3px;
    text-align:left;	
}

.headBtn{
	padding: 6px 12px;
    border: 1px solid transparent;
	border-radius: 4px;
	background: #cbaf6d;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	color: white;
	line-height: 12px;
	font-size: 12px;
	font-family: 'open_sansregular' !important;
	display:table-cell;
	margin-top: -3px;
	margin-left: 5px;
}
.headLabel{
	font-family: 'open_sansregular' !important;
	font-size: 14px;
}
#rightBox{
	margin-right: 0;
}
@media screen and (max-width: 1079px) {
	#rightBox{
		margin-right: 0;
	}
}
@media screen and (max-width: 990px) {
	.headLabel{
		display: none;
	}
}
@media screen and (max-width: 820px) {
	.headBtn{
		display: none;
	}
}
@media screen and (max-width: 725px) {
	#subscribeBox{
		display: none;
	}
}