html,
body {
	top: 0;
	left: 0;
	margin: 0;
	font-family: "Helvetica", sans-serif;
}

.form-control.error {
	color: red;
	border: 1px solid red;
}

#footer-banner {
	background-image: url('../img/banner.jpg') !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 230px;
	text-align: center;
}

#footer-banner .cta {
	width: 63%;
	float: right;
	margin-top: 142px;
}

.maxwidth {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
}

.top-nav {
	position: relative;
	width: 100%;
	border-top: 2px solid red;
	height: auto;
	background-color: #fff;
}


.main-nav {
	position: relative;
	width: 100%;
	height: auto;
	padding: 25px 0;
	background-color: #de3c4c;
}

.custom-top-nav {
	position: relative;
}

.custom-top-nav ul {
	padding-left: 0px;
	margin-bottom: 0px;
	text-align: right;
}

.custom-top-nav ul li {
	list-style: none;
	display: inline-block;
}

.custom-top-nav ul li a {
	color: #de3c4c;
	display: block;
	font-weight: 600;
	font-size: 13px;
	text-transform: uppercase;
	padding: 10px 20px;
	font-family: "Helvetica", sans-serif;
}

.nav-search {
	border-radius: 0px;
	outline: 0;
	border: 0;
	padding: 0;
	background-color: #fff;
}

.nav-search-input {
	border-radius: 0px;
	outline: 0;
	border: 0;
	background-color: #fff;
	font-style: italic;
	font-size: 15px;
	padding: 6px 10px;
	line-height: 1em;
}

.bdycont {
	background-image: url('../img/Gifted-Standard-Homepage.png');
	background-size: cover;
	background-position: center right;
}

.paddbdy {
	padding-top: 130px;
	padding-bottom: 130px;
}

.banner-img {
	float: left;
	margin-right: 15px;
}

.banner-img-text {
	color: #de3c4c;
	font-size: 4.5em;
	line-height: 1em;
	text-transform: uppercase;
	font-weight: 600;
	font-family: "Quicksand", sans-serif;
	padding-top: 50px;
}

.moto-text {
	font-weight: normal;
	font-family: "Helvetica Oblique", sans-serif;
	font-style: italic;
	color: #DC3C4C;
	font-size: 26px;
	padding-top: 33px;
}

.sndgft,
.sndgft:hover {
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
	border-radius: 10px;
	color: #DE3C4C;
	font-family: "Helvetica", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	padding: 12px 20px;
	background-color: #b8e5dc;
	border: 5px solid #DE3C4C;
}

.sndgft2,
.sndgft2:hover {
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
	border-radius: 10px;
	color: #DC3C4C;
	font-family: "Helvetica", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	padding: 12px 20px;
	background-color: #b8e5dc;
	border: 5px solid #FFFFFF;
}

.carousel-cont {
	position: relative;
	background-color: #fff;
	padding: 20px 0;
}

.red-cont {
	position: relative;
	background-color: #DC3C4C;
	padding: 50px 0;
}

.red-margin {
	margin-bottom: 100px;
}

.banner-text-red {
	color: #d0eae2;
	font-size: 4.4em;
	line-height: 1em;
	text-transform: uppercase;
	font-weight: 600;
	font-family: "Quicksand", sans-serif;
	margin-bottom: 20px;
}

.banner-subtext-red {
	font-weight: normal;
	font-family: "Helvetica Oblique", sans-serif;
	font-style: italic;
	color: #ffffff;
	font-size: 23px;
	margin-bottom: 20px
}

.item-red {
	margin-bottom: 20px;
	position: relative;
}

.item-red .border {
	position: absolute;
	top: 0px;
	right: -10px;
	background-color: #fff;
	border-radius: 5px;
	width: 6px;
	height: 100%;
}

.item-red .title {
	font-family: 'Pacifico', cursive;
	color: #fff;
	font-size: 29px;
	margin-bottom: 10px;
}

.item-red .img {
	margin-bottom: 10px;
}

.item-red .img img {
	box-sizing: border-box;
	padding: 0 60px;
	max-height: 96px;
	height: 96px;
}

.item-red .desc {
	padding: 0 60px;
	font-size: 17px;
	color: #fff;
}

.wtil {
	color: #de3c4c;
	font-size: 58px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: "Quicksand", sans-serif;
	padding: 60px 0;
}

.green-cont {
	z-index: 4;
	position: relative;
	background-color: #d0eae2;
	padding: 20px 0;
}



.recom-item {
	background-color: #fff;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.recom-item .image {
	position: relative;
	text-align: center;
	padding-bottom: 10px;
	background-color: #D0EAE2;
	margin-bottom: 10px;
}

.recom-item .image .img {
	height: 186px;
	margin-bottom: 10px;
}

.recom-item .title {
	color: #DC3C4C;
}

.recom-item .title span:first-child {
	font-weight: 600;
	text-transform: uppercase;
}

.recom-item .desc {
	text-transform: uppercase;
	color: #8e8e8e;
	font-size: 13px;
}

.recom-item .desc .cat {
	border-bottom: 1px solid #7d7d7d;
	text-transform: uppercase;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.brgf {
	padding: 60px 0;
}

.footer {
	position: relative;
	background-color: #DC3C4C;
	padding: 30px 0;
	color: #fff;
}

.footer .sm {
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 15px;
	text-transform: uppercase;
}

.ftul {
	position: relative;
	padding-left: 0px;
}

.ftul li {
	list-style: none;
}

.ftul li a {
	font-size: 14px;
	color: #fff;
}

.custom-nav {
	position: relative;
	margin-top: -76px;
	margin-bottom: 25px;
}

.mobnav {
	display: none !important;
	background-color: #B9E2DB;
}

.mobnav .custom-col ul li a {
	text-align: center;
	font-weight: 600;
	color: #DC3C4C;
	text-transform: uppercase;
	font-family: "Helvetica", sans-serif;
	font-size: 16px;
	font-weight: normal;
}

/* Bootstrap overwrite */
.navbar-toggle {
	background-color: #fff;
	border-color: #ddd;
}

.navbar-toggle .icon-bar {
	background-color: #888;
}

.nav-top-nav,
.nav-main-nav {
	min-height: initial;
	background-color: transparent;
	border: 0px;
	border-color: transparent;
	margin-bottom: 0px;
}

.nav-main-nav {
	padding-top: 20px;
}

.nav-top-nav .navbar-nav>li>a,
.nav-top-nav .navbar-nav>li>a:focus,
.nav-top-nav .navbar-nav>li>a:hover {
	padding: 10px 25px;
	color: #de3c4c;
	text-transform: uppercase;
	font-family: "Helvetica", sans-serif;
	font-size: 13px;
	font-weight: 600;
}

.nav-main-nav .navbar-nav>li>a,
.nav-main-nav .navbar-nav>li>a:focus,
.nav-main-nav .navbar-nav>li>a:hover {
	color: #fff;
	text-transform: uppercase;
	font-family: "Helvetica", sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding: 15px;
	border: 0 none;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.navbar-default .navbar-nav>.browse-gifts-dropdown.open>a {
	color: #fff;
	background-color: #CA2F3E;
}

li.dropdown.browse-gifts-dropdown.open {
	color: #fff;
	background-color: none;
}

#browse-gifts:hover {
	background-color: #CA2F3E;
}

.dropdown .browse-gifts-dropdown:hover {
	background-color: #DE3C4C;
}

.navbar-right .browse-gifts-menu {
	right: 0;
	left: 0;
	background-color: #CA2F3E;
	box-shadow: none;
	border-radius: 0;
	border: 0;
}

.navbar-right .browse-gifts-menu li {
	margin: 0 10px;
}

.navbar-right .browse-gifts-menu li a {
	padding: 10px 0px;
	color: #fff;
	border-top: 1px solid #D83848;
	text-align: center;
	font-size: 15px;
}

.navbar-right .browse-gifts-menu li a:hover {
	background-color: #CA2F3E;
}

.browse-gifts-dropdown:hover .browse-gifts-open {
	display: block;
}

.browse-gifts-open {
	background-color: #CA2F3E;
	height: 45px;
	margin-top: -45px;
	display: none;
}

.ftimg {
	width: 100%;
	max-width: 100px;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}

.cu-fo {
	position: relative;
	background-color: #fff;
	color: #DC3C4C;
	font-size: 15px;
	padding: 50px 0;
}

.cards {
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

.cards .item {
	margin-bottom: 10px;
	border-radius: 3px;
	display: inline-block;
	margin-right: 5px;
	padding: 3px 10px;
	-webkit-box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 1);
}

@media (min-width: 1200px) {
	.products_container {
		width: 1320px;
	}
}

.cards .item img {
	height: 30px;
}

.search_branch {
	height: 45px;
	font-size: 18px;
	padding-left: 15px;
	padding-right: 30px;
	background-image: none !important;
	background-color: #fff;
	border-radius: 2px !important;
	transition: .25s ease;
	transition-property: box-shadow, background-color;
}

.products_container .category_menu {
	list-style: none;
	padding-left: 0px;
}

.products_container .category_menu img {
	height: 25px;
	vertical-align: middle;
	/* | top | bottom */
}

.products_container .category_menu li a {
	display: inline-block;
	vertical-align: middle;
	/* | top | bottom */
}

.products_container .category_menu li a {
	color: #8c8c8c;
	font-size: 1.5rem;
	margin-bottom: 10px;
	text-decoration: none;
}

.products_container .category_menu li {
	margin-bottom: 10px;
}

.products .card {
	padding-left: auto;
	cursor: pointer;
	padding-right: auto;
	min-height: 150px;
	margin-top: 15px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-webkit-transition: .25s box-shadow;
	transition: .25s box-shadow;
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.products .card .card-title {
	font-family: 'Quicksand';
	font-size: 16px;
}

.products .card .card-image {
	height: 150px;
	background: white;
	padding: 10px;
	white-space: nowrap;
	text-align: center;
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.products .card img {
	vertical-align: middle;
	display: inline-block !important;
}

.products .card .card-block {
	padding: 10px;
}



.card:focus,
.card:hover {
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}


.card-inverse .card-img-overlay {
	background-color: rgba(51, 51, 51, 0.85);
	border-color: rgba(51, 51, 51, 0.85);
}

.social-links {
	margin-top: 30px;
}

.futllk {
	width: 40px;
}

.flus {
	color: #D0EAE2;
	padding-top: 10px;
	font-size: 31px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: "Quicksand", sans-serif;
	text-align: center;
}

.white-line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 35%;
}

.white-line-foot {
	position: absolute;
	top: 0;
	right: 0;
	height: 120%;
}

.red-right-rib {
	position: absolute;
	top: 20px;
	right: 100px;
	width: 100%;
	max-width: 25%;
}

.red-left-rib {
	position: absolute;
	bottom: 20px;
	left: 100px;
	width: 100%;
	max-width: 25%;
}

.white-cont {
	position: relative;
}






/* Owl carousel styles */
#owl-demo .item {
	background-color: transparent;
	margin: 10px;
	text-align: center;
}

#owl-demo .item img {
	max-height: 80px;
}

.owl-theme .owl-controls .owl-page span {
	background-color: #DC3C4C !important;
}

/*use styles below to disable ugly selection*/
.customNavigation a {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}















@media screen and (max-width: 1441px) {
	.banner-img-text {
		padding-top: 23px;
	}
}

@media screen and (max-width: 1338px) {
	.banner-img-text {
		padding-top: 0px;
	}

	.fimg {
		width: 100%;
		height: initial !important;
	}

	.red-right-rib {
		top: 50px;
		max-width: 30%;
	}

	.red-left-rib {
		bottom: 50px;
		max-width: 30%;
	}

	.white-line-foot {
		display: none;
	}
}

@media screen and (max-width: 1104px) {
	.banner-img-text {
		font-size: 4em;
	}

	.banner-img {
		max-width: 180px;
		padding-top: 20px;
	}
}

@media screen and (max-width: 1060px) {
	.banner-subtext-red {
		font-size: 19px;
	}

	.banner-text-red {
		font-size: 3em;
	}

	.nav-search {
		display: none !important;
	}
}

@media screen and (max-width: 991px) {
	.banner-img-text {
		text-align: center
	}

	.banner-img {
		display: block;
		margin: 0 auto;
		float: none;
		text-align: center
	}

	.paddbdy {
		padding: 50px 0;
	}

	.moto-text,
	.banner-subtext-red,
	.banner-text-red {
		text-align: center;
	}

	.sndgft-btn {
		padding-top: 20px;
		text-align: center;
	}

	.maxwidth {
		box-sizing: border-box;
		padding-left: 10px;
		padding-right: 10px;
	}

	.recom-cont {
		float: left;
		width: 50% !important;
	}

	.recom-cont:nth-child(2) .border {
		display: none;
	}

	.item-red {
		margin-bottom: 30px;
	}

	.fimg {
		width: initial;
		max-height: 96px !important;
		height: 96px !important;
	}

	.red-margin {
		margin-bottom: 0px;
	}

	.red-left-rib,
	.red-right-rib {
		display: none;
	}

	.wtil {
		text-align: center;
		padding: 30px 0;
		font-size: 37px;
	}

	.brgf {
		padding: 30px 0;
	}
}

@media screen and (max-width: 865px) {
	.nav-main-nav .navbar-nav>li>a {
		padding: 15px 10px !important;
	}
}

@media screen and (max-width: 844px) {
	.head-img img {
		max-width: 170px;
	}

	.nav-main-nav {
		padding-top: 10px;
	}

	.bdycont {
		background-position: -700px 0;
	}
}

@media screen and (max-width: 767px) {
	.bdycont {
		/*background-image: url('../img/Gifted.PH-Christmas-Banner 2017-mobile.jpg');*/
		background-position: -700px 0;
	}

	.mobnav {
		display: block !important;
	}

	.recom-cont {
		width: 100% !important;
		float: none;
	}

	.recom-cont .border {
		display: none !important;
	}

	.banner-subtext-red {
		font-size: 17px;
	}

	.banner-text-red {
		font-size: 2.5em;
	}

	.footer .sm {
		padding: 10px 0;
		text-align: center;
		font-size: 18px;
	}

	.owl-controls {
		display: none !important;
	}

}

@media screen and (max-width: 590px) {
	.custom-top-nav ul {
		text-align: center;
	}

	.owl-controls {
		display: none !important;
	}

}

@media screen and (max-width: 420px) {
	.banner-img-text {
		font-size: 3em;
	}

	.moto-text {
		font-size: 19px;
	}

	.fimg {
		width: 95%;
		height: initial !important;
	}

	.owl-controls {
		display: none !important;
	}

}

@media screen and (max-width: 320px) {
	.item-red .img img {
		width: 95%;
		height: initial !important;
	}

	.banner-text-red {
		font-size: 2em;
	}

	.owl-controls {
		display: none !important;
	}

}




/*=================================================================== 



Popup Login Section



=================================================================== */



.login-left {

	background-color: #fff;

	padding: 20px;

	height: 450px;

}

.referral {

	background-color: #fff;

	padding: 20px;

	min-height: 450px;

}






.login-right {

	background-color: #de414d;

	padding: 10px 20px;

	height: 450px;

}







.required {

	color: #FF0000;

}





#login-popup label {

	color: #0e1011;

	display: block;

	font-size: 13px;

	margin-bottom: 10px;

	width: auto;

	font-weight: 700;

}







.big-textbox {



	padding: 15px;



	height: auto;



	margin-bottom: 20px;



	resize: vertical;



}







.medium-textbox {



	padding: 10px;



	height: auto;



	margin-bottom: 20px;



}







.short-textbox,
.short-select {



	width: 19%;



}







.medium-select {



	width: 30%;



}







.short-select,
.medium-select {



	display: inline-block;



	margin-right: 10px;



}





.grey2 {
	/*  color: #84888b; */
	float: right;
	font-family: 'poppins';
}



.grey3 {
	/*  color: #84888b; */
	font-family: 'poppins';
	display: block;
}



.important {
	font-style: normal;
	font-weight: 500;
	margin: 10px 0 10px 10px;
}

.semi-centered {
	margin: 80px 0 20px 0;
}

a.red:hover {
	text-decoration: underline;
	color: #de414d;
}

.btn-mustard {
	background-color: #cbaf6d;
}

#emailBox {
	display: none;
}

.noshow {
	display: none;
}

.tell-a-friend {
	width: 70px;
	height: 70px;
	display: block;
	position: fixed;
	bottom: 10px;
	left: 10px;
	background: url('../img/tell-a-friend.png') no-repeat center center;
	outline: 0;
	z-index: 4;
}




/**Bart CSS**/

#myCarousel .item {
	height: 500px !important;
	text-align: center;
}

.item-child {
	display: flex !important;
	align-items: center !important;
	height: 500px !important;
}

.item-child img {
	max-width: 90%;
	height: auto;
}

.glyphicon-chevron-right:before,
.glyphicon-chevron-left:before {
	color: #ddd;
	opacity: 1 !important;
}

.carousel-control.right,
.carousel-control.left {
	background-image: none;
}

@media screen and (max-width: 767px) {
	.tell-a-friend {
		/*display: block;*/
	}

	#myCarousel .item {
		height: 300px !important;
		text-align: center;
	}

	.item-child {
		height: 300px !important;
	}
}

.products {
	padding: 20px 0px;
	;
}

.slick-prev:before,
.slick-next:before {
	color: #d70f64 !important;
}

.dish_menu h3 {
	font-size: 14px;
	font-family: "Quicksand", sans-serif;
	text-align: center;
	font-weight: 600;
}

.dish_menu .slick-slide {
	cursor: pointer;
}

.dish_menu_container {
	margin: 0px 10px 0px;
}

.vouchers_header {
	color: #de3c4c;
	font-size: 22px;
	margin-top: 7px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: "Quicksand", sans-serif;
}

.products .panel {
	border-radius: 2px;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .12), 0 3px 3px -2px rgba(0, 0, 0, .145), 0 1px 8px 0 rgba(0, 0, 0, .09);
	border: 0;
}

.products .panel-heading {
	background: white;
	font-family: 'Pacifico';
	font-size: 16px;
	text-align: center;
}

.brand_description_container {
	margin-top: 10px;
}

.brand_image_container {
	height: 225px;
	width: 225px;
	display: block;
	margin: 0 auto;
	border: 1px solid #eee;
	padding: 5px;
	white-space: nowrap;
	text-align: center;
}

.brand_image_container img {
	vertical-align: middle;
	display: inline-block !important;
	height: auto;
}

.brand_description_container .brand_title {
	font-size: 22px;
	color: #de3c4c;
	font-family: "Quicksand";
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
}

.brand_description_container .brand_description {
	font-size: 16;
	color: #de3c4c;
	font-family: "Quicksand";
	font-weight: 400;
	letter-spacing: 1px;
}

.brand_description_container .brand_categories {
	font-size: 16;
	color: #de3c4c;
	font-family: "Quicksand";
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}


.brand_product_container {
	height: 100px;
	width: 100%;
	display: block;
	margin: 0 auto;
	padding: 5px;
	background-color: #DE3D43;
	background-image: linear-gradient(to bottom, #DE3D43 0%, #DE3D43 51%, #DE3D43 75%);
	opacity: 0.95;
	white-space: nowrap;
	text-align: center;
}

.brand_product_container p {
	vertical-align: middle;
	display: inline-block !important;
	height: auto;
	color: white;
	font-family: "Quicksand";
	text-transform: uppercase;
	font-size: 18px;
	white-space: pre-line;
	font-weight: 600;
	letter-spacing: 1px;

}

.brand_product_main_container {
	padding: 20px 150px;
	min-height: 250px;
}

.product_price {
	font-weight: 600;
}


.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
}

.vertical-align-center {
	/* To center vertically */
	display: table-cell;
	vertical-align: middle;
}

.voucher_quantity {
	text-align: center;
	font-weight: 600;
	font-family: "Quicksand";
}

.main_btn_clr {
	background: #d9534f;
	border-radius: 0px;
	width: 100%;
	color: white;
	border: 1px solid #d9534f;
}

.sub_btn_clr {
	background: #cbaf6d;
	color: white;
	border-radius: 0px;
	width: 100%;
	border: 1px solid #cbaf6d;
}

#selectProduct .card {
	margin-top: 0px;
}

#selectProduct .voucher_title {
	font-weight: 600;
	color: #d9534f;
	font-size: 22px;
	font-family: "Quicksand";
}

#selectProduct .voucher_category {
	font-weight: 600;
	font-size: 16px;
	font-family: "Quicksand";
}

#selectProduct .voucher_price {
	font-weight: 600;
	font-size: 14px;
	font-family: "Quicksand";
}

.greeting_cart_title {
	font-weight: 600;
	color: #d9534f;
	font-size: 22px;
	font-family: "Quicksand";
}

.greeting_card_container {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 5px
}

.none {
	display: none;
}

/* HIDE RADIO */
.greeting_card_main_container [type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

/* IMAGE STYLES */
.greeting_card_main_container [type=radio]+img {
	cursor: pointer;
}

.brand_details>li.active>a,
.brand_details>li.active>a:focus,
.brand_details>li.active>a:hover {
	background: #de3c4c !important;
	color: white;
}



/* CHECKED STYLES */
.greeting_card_main_container [type=radio]:checked+div {
	outline: 2px solid #DE3C4C;
}

.buyer_details_main_container input,
.buyer_details_main_container textarea {
	border-radius: 0px;
	padding: 20px 10px;
}

.modal-content {
	/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
	width: inherit;
	height: inherit;
	/* To center horizontally */
	margin: 0 auto;
}

#selectProduct .card {
	min-height: 100px;
}

@media(max-width:1199px) {
	.brand_product_main_container {
		padding: 20px;
	}
}

@media(max-width: 400px) {
	.worth_of {
		display: none;
	}
}


.main_btn_clr:hover,
.main_btn_clr:focus,
.main_btn_clr:active,
.sub_btn_clr:hover,
.sub_btn_clr:focus,
.sub_btn_clr:active {
	color: white !important;
}

#contact label {



	color: #0e1011;



	display: block;



	font-family: 'poppins';



	font-size: 14px;



	margin-bottom: 10px;



	width: auto;



	margin-top: 15px;



}







#contact span.info {



	color: #0e1011;



	font-family: "poppins";



	font-size: 14px;



	/* margin-bottom: 40px; */



	margin-bottom: 20px;



	line-height: 20px;



	margin-top: 15px;



	width: auto;



	padding-left: 20px;



}







#contact .info-icon {



	background-image: url("../img/social.jpg");



	float: left;



	height: 30px;



	width: 30px;



}







#contact .soc-pn {



	background-position: 0 0;



}







#contact .soc-em {



	background-position: 0 -29px;



}







#contact .soc-fb {



	background-position: 0 -89px;



}



#contact .soc-tw {
	background-position: 0 -59px;
}

#contact .soc-ig {
	background-position: 0 -119px;
}
