

.my-popover-content {
	display: none;
}

.hide {
	display: none !important;
}

#result {
	color: red;
}
.cta .dropdown-item:active,.cta .dropdown-item:focus {
	background-color: unset !important;
	border:none;
}
/********HEADER********/
.form-control:focus {
	box-shadow: none !important;
	border-color: #000;
}
.navbar_mobile{
	display: none;
}
.checkbox label:after {
	content: '';
	display: table;
	clear: both;
 }
 
 .checkbox .cr {
	position: relative;
	display: inline-block;
	border: 1px solid #a9a9a9;
	border-radius: .25em;
	width: 1.3em;
	height: 1.3em;
	margin-right: .5em;
 }
 
 .checkbox .cr .cr-icon {
	position: absolute;
	font-size: .8em;
	line-height: 0;
	top: 50%;
	left: 15%;
 }
 
 .checkbox label input[type="checkbox"] {
	display: none;
 }
 
 .checkbox label input[type="checkbox"]+.cr>.cr-icon {
	opacity: 0;
 }
 
 .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
	opacity: 1;
 }
 
 .checkbox label input[type="checkbox"]:disabled+.cr {
	opacity: .5;
 }
.top-buffer {
	margin-top: 20px;
}
.center {
	display:block;
	margin:0 auto;
}
.el-table__header-wrapper, .el-table__header,.el-table__body {
	width: 100% !important;
}
.view_restaurant .el-table_1_column_1 > div{
	text-overflow:initial !important;
}
.view_restaurant [name="el-table_1_column_1"] {
	width: 10% !important;
}
.view_restaurant [name="el-table_1_column_2"] {
	width: 60% !important;
}
.view_restaurant [name="el-table_1_column_3"] {
	width: 15% !important;
}
.view_restaurant [name="el-table_1_column_4"] {
	width: 15% !important;
}


.price_tag {
	display: inline-block;
  
  width: auto;
	height: 38px;
	
	background-color: #cf1964;
	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 3px 4px 4px 3px;
	
	border-left: 1px solid #cf1964;

	/* This makes room for the triangle */
	margin-left: 19px;
	
	position: relative;
	
	color: white;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	line-height: 38px;

	padding: 0 10px 0 10px;
}

/* Makes the triangle */
.price_tag:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #cf1964;
}

/* Makes the circle */
.price_tag:after {
	content: "";
	background-color: white;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
}


.bg-transparent {
	padding: 5px 20px;
}
.navbar-brand img {
	height: 50px;;
}
.cta a {
	margin-right: 10px;
	color: #d70f64 !important;
	border-radius: 6px;
	padding: 10px 15px;
}

.main_color_text {
	font-family: 'Pacifico';
	color: #dc3c4b !important; 
}

.center {
	margin:0 auto;display:block;
}

.no-decor {
	text-decoration: none !important;
}

.main_color {
	color: #dc3c4b !important;
}

.main_bg_color {
	background: #dc3c4b !important; 
	color:white !important;
	border:1px solid #cf1964 !important;
}

.main_bg_color:hover,.main_bg_color:focus,.main_bg_color:active {
	background: #d9534f !important; 
	border:1px solid #d9534f !important;
	box-shadow: none !important;
	color:white;
}
.center-block {
	display: block;
	margin: 0 auto;
}
.btn.focus, .btn:focus, .btn:hover{
	border-color: #DE3C4C !important;
	outline-color:#DE3C4C !important;
}
.breadcrumb-item a {
	color: #000 !important;
}
.slick-prev:before,
.slick-next:before {
	color: #d70f64 !important;
}

/******* HOMEPAGE ***/
.homepage .homepage_banner {
	background-image:
		linear-gradient(to left, rgba(95, 96, 96, 0.05), rgba(0, 0, 0, 0.05)),
		url('../images/banner3.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding: 5rem 2rem;
	color: white;
	margin-bottom: 0px;
	text-align: center;
}

.homepage .banner-header {
	text-shadow: -1px 3px 1px rgba(177,177,177,0.8);
}

.homepage .hero-img {
	height: 250px;
	margin-bottom: 10px;
}

.homepage .card {
	width: 100% !important;
	border: 0px solid rgba(0,0,0,.125);
}

.homepage .content {
	padding:20px 0px 40px;
}

.homepage .card .card-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
}

.homepage .card .card-body {
	padding: 1rem 0;
}

.homepage .card .card-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	color:#808080;
	text-decoration: none;
}

.homepage .search_button {
	background: white;
	border-left: 0px;
	border-color: rgb(206, 212, 218);
}
.homepage .resto_logo {
	height:170px;
	width: 85%;
   margin: 0 auto;
}
.homepage .popular_header {
	font-weight: 300;
}

.homepage .search_button:hover {
	color: black;
}


.search-box {
	display: inline-block;
	width: 100%;
	border-radius: 3px;
	padding: 4px 55px 4px 15px;
	position: relative;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.search-box.hovered,
.search-box:hover,
.search-box:active {
	border: 1px solid #aaa;
}

.search-box input[type=text] {
	border: none;
	box-shadow: none;
	display: inline-block;
	padding: 0;
	background: transparent;
}

.search-box input[type=text]:hover,
.search-box input[type=text]:focus,
.search-box input[type=text]:active {
	box-shadow: none;
}

.search-box .search-btn {
	position: absolute;
	right: 2px;
	top: 2px;
	color: #aaa;
	border-radius: 3px;
	font-size: 21px;
	padding: 5px 10px 1px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.red {
	color: red !important;
}
@media(max-width:567px) {
	.additional_order small {
		font-size: 10px;
	}
	.cart_summary_container, .cart_summary_price_container{
		padding:1rem !important;
	}
	.cart_summary .product_details_table td, .cart_summary .product_details_table h5  {
		font-size: 12px;
	}
	.cart_summary .price_details, .cart_summary .price_details h5{
		font-size: 12px;
	}
	.mobile_checkout_container {
		display: block !important;
	}
	.navbar_mobile{
		display: inline-block;
	}
	.navbar_mobile ul, .navbar_mobile li {
		display: inline-block;
	}
	.navbar_mobile .navbar-nav .dropdown-menu {
		position: absolute;
		left: -60px;
	}
	.homepage .hero-img {
		height: 150px;
	}
	.homepage .banner-header {
		font-size:2rem;
	}
	.homepage .homepage_banner {
		padding: 3rem 2rem;
	}
	.el-pagination {
		white-space: pre-wrap !important; 
	}
	.product_description{
		display: none;
	}
	.restaurant_category{
		display: none;
	}
	
}
@media(max-width:320px) {
	.homepage .hero-img {
		height: 150px;
	}
	.homepage .banner-header {
		font-size:1.6rem;
	}
}

/*****View Restaurant&*****************/

.view_restaurant #main {
	padding:0px;
}
.view_restaurant .view_restaurant_banner {
	background-image:
		linear-gradient(to left, rgba(95, 96, 96, 0.1), rgba(0, 0, 0, 0.1)),
		url('../images/resto_banner.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 7rem 2rem;
	color: white;
	text-align: center;
	margin-bottom: 0rem;
}



.view_restaurant .dish_menu h3 {
	font-size: 14px;
	text-align: center;
}

.view_restaurant .dish_menu .slick-slide {
	cursor: pointer;
}

.view_restaurant .dish_menu_container {
	margin: 0px 10px 20px;
}

.view_restaurant {
	overflow-x: hidden;
	background: #FAFAFA;
}


.view_restaurant .menu_container {
	min-height: 1500px;
}

.view_restaurant .card-horizontal {
	display: flex;
	flex: 1 1 auto;
}

.view_restaurant .card-footer {
	padding: 0px;
}

.view_restaurant .dish_title {
	text-align: center;
	text-transform: uppercase;
	margin-top: 15px;
}

.view_restaurant .add_to_cart {
	width:100%;
	border-radius: 0px;
}

.view_restaurant .popover-body{
	width:200px;
}

.view_restaurant .cart-quantity-content {
	text-align: center;
}

.view_restaurant .qty_btn {
	width: 27%;
	margin: 5px 3%; 
	height: 35px;
	display: inline-block;
	border: 2px solid #d70f64;
	padding-top: 5px;
	cursor: pointer;
	
}

.view_restaurant .qty_btn a {
	color:#222;
	text-decoration: none;
	cursor: pointer;
}
.view_restaurant .add_to_cart_btn {
	display: block;
	margin: 0 auto;
}

.view_restaurant .restaurant-menu {
	margin:25px auto;
}
.view_restaurant .default_price {
	text-align: center;
}
.view_restaurant .qty_btn:hover, .view_restaurant .qty_btn:hover a {
	background:#d70f64;
	color:white !important;	
}
.view_restaurant .side_cart_summary {
	background-color: #fff !important;
	z-index: 1;
    box-shadow: 0 2px 28px 0 rgba(0,0,0,0.12);
}
.view_restaurant .cart_products {
	max-height: 500px;
	overflow: auto;
}
.view_restaurant  .cart_products_table td {
	padding: 0.4rem;
	border:0px !important
}
.view_restaurant .cart_products_table {
	max-height: 500px;
}
.view_restaurant .fixed_side_cart {
	padding-top: 5.5rem!important;
}
.view_restaurant .side_add_to_cart {
	width:60px;
	font-size:12px;
}
.view_restaurant .side_cart_product{
	font-size: 14px;
	margin-bottom:0px;
}
.view_restaurant .side_cart_price{
	font-size: 14px;
}

.view_restaurant .cart_details_container{
	padding:20px;
}
.view_restaurant .total_details {
	font-weight: 600;
}
.view_restaurant .side_cart_checkout {
	width:100%;
}
.view_restaurant .bg-transparent {
	background-color: white !important; 
}
.view_restaurant .restaurant_details_container {
	padding:20px 0px 0px;
}

.view_restaurant .no_products {
	padding:10px;
	text-align: center;
}
#menu_table .product_name {
	font-weight: 500;
	font-size: 16px;
}
#productModal .product_name {
	font-weight: 600;
	font-size: 16px;
}
#productModal .close_modal {
	position: absolute;
   right: 10px;
	top: 5px;
	z-index: 2;
}
#productModal .default_price {
	
}

#productModal .additional_information {
	font-size:12px;	
}
#productModal .modal-body {
	background: #fafafa;
}
#productModal .modal-footer {
	box-shadow: 0 2px 28px 0 rgba(0,0,0,0.12);
	display: block;
	padding: 16px;
}

#productModal #qty_input{
	text-align: center;
}

#productModal #minus-btn, #productModal #plus-btn {
	color:#d70f64;
}


.cart_products_table #minus-btn, .cart_products_table #plus-btn  {
	margin-top:-2px;
	color:#d70f64;
}
.cart_products_table .quantity_container {
	padding:0px !important;
	padding-top: 0px !important;
}

.view_restaurant #productModal [type="radio"]:checked,
.view_restaurant #productModal [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.view_restaurant #productModal [type="radio"]:checked + label,
.view_restaurant #productModal [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.view_restaurant #productModal [type="radio"]:checked + label:before,
.view_restaurant #productModal [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 19px;
    height: 19px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.view_restaurant #productModal [type="radio"]:checked + label:after,
.view_restaurant #productModal [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #d70f64;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.view_restaurant #productModal [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.view_restaurant #productModal [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
#productModal  .prod_add_to_cart,#productModal  .select_qty_btn{
	width:100%;
	border-radius: 0px;
}

#result2 {
	color:red;
}

#productModal .quantity_text {
	width: 70%;
    text-align: center;
}

#minus-btn:focus, #plus-btn:focus {
	box-shadow: none;
}
@media(max-width:1600px) {
	.view_restaurant .restaurant_details_container {
		padding: 20px 25px 0px;
	}
	.view_restaurant .restaurant-menu {
		padding: 0px 25px;
	}
	.side_cart_per_prod_price{
		width:25%;
	}
	.side_cart_per_prod_name{
		width:55%;
	}
}
@media(max-width:1537px) {
	.view_restaurant #main {
		max-width: 75%;
	}
}
@media(max-width:1500px) {
	.view_restaurant #main {
		max-width: 70%;
	}
	.side_cart_summary {
		flex: 0 0 30%;
		max-width: 30%;
	}
	.view_restaurant [name="el-table_1_column_2"] {
		width: 50% !important;
	}
	.view_restaurant [name="el-table_1_column_3"] {
		width: 20% !important;
	}
	.view_restaurant [name="el-table_1_column_4"] {
		width: 20% !important;
	}
}

@media(max-width:1350px) {
	/* .cart_products_table .quantity_container {
		width:25%;
	} */
	.view_restaurant #main {
		max-width: 65%;
	}
	.side_cart_summary {
		flex: 0 0 35%;
		max-width: 35%;
	}
}

@media(max-width:1150px) {
	.cart_products_table .quantity_container {
		width:25%;
	}
	.cart_products_table .side_cart_per_prod_name {
		width:50%;
	}
}
@media(max-width: 991px) {
	.cart_summary_container, .cart_summary_price_container{
		padding:1rem !important;
	}
	.cart_summary .product_details_table td, .cart_summary .product_details_table h5  {
		font-size: 12px;
	}
	.cart_summary .price_details, .cart_summary .price_details h5{
		font-size: 12px;
	}
	.mobile_checkout_container {
		display: block !important;
	}
	.navbar_mobile{
		display: inline-block;
	}
	.navbar_mobile ul, .navbar_mobile li {
		display: inline-block;
	}
	.navbar_mobile .navbar-nav .dropdown-menu {
		position: absolute;
		left: -60px;
	}
	.view_restaurant .card-horizontal {
		display: block;
	}
	.view_restaurant .card-horizontal img {
		display: block;
		margin: 0 auto;
	}
	#productModal .quantity_text {
		width: 50%;
		 text-align: center;
	}
	.view_restaurant #main {
		max-width: 100%;
	}
	.side_cart_summary {
		display:none;
	}
	.view_restaurant .restaurant-menu {
		padding:10px;
	}
}
.encounter_promblem {
	display: none;
}
@media(max-width: 767px) {
	.view_restaurant .add_to_cart_btn{
		font-size: 11px;
	}
	.restaurant-menu {
		max-width: 675px;
	}

	.customerchat  {
		display: none !important;
	}
	.encounter_promblem {
		display: block;
	}
	.authentication .signin-content{
		padding-top:0px;
	}
}

@media(max-width: 730px) {
	.restaurant-menu {
		max-width: 600px;
	}
	.view_restaurant [name="el-table_1_column_1"] {
		width: 15% !important;
	}
	.view_restaurant [name="el-table_1_column_2"] {
		width: 40% !important;
	}
	.view_restaurant [name="el-table_1_column_3"] {
		width: 20% !important;
	}
	.view_restaurant [name="el-table_1_column_4"] {
		width: 25% !important;
	}
	.view_restaurant .view_restaurant_banner{
		padding: 3rem 2rem;
	}
}

@media(max-width: 650px) {
	.restaurant-menu {
		max-width: 550px;
	}
	.view_restaurant [name="el-table_1_column_1"] {
		width: 13% !important;
	}
	.view_restaurant [name="el-table_1_column_2"] {
		width: 30% !important;
	}
	.view_restaurant [name="el-table_1_column_3"],.el-table_1_column_3 {
		display:none !important;
	}
	.view_restaurant [name="el-table_1_column_4"] {
		width: 30% !important;
	}
	.mobile_add_to_cart{
		display:block !important;
	}
	.add_to_cart_btn{
		display: none !important;
	}
	.view_restaurant .dish_menu_container{
		margin: 0px 50px 20px;
	}
	.slick-slide{
		width:100px !important;
	}
	.el-table__header-wrapper{
		display: none !important;
	}
}

@media(max-width: 500px) {
	#productModal .quantity_text {
		width: 40%;
		 text-align: center;
	}
}

@media(max-width: 440px) {
	#productModal .quantity_text {
		width: 30%;
		 text-align: center;
	}
}
/******* Cart Summary *******/
.cart_summary {
	background: #fafafa;
}
.cart_summary .bg-transparent {
	background-color: #fff !important;
}



/**********Footer************/
footer {
	background-color: #f5f5f5;
	padding: 20px 0px 1px;
}

footer .footer-widget h3 {
	margin-bottom: 30px;
}

footer .contact-link {
	display: inline-block;
	width: 100%;
	color: #333;
}

footer .footer-social ul {
	padding-left: 0;
}

footer .footer-social ul li {
	list-style: none;
	float: left;
	padding: 0 10px;
}

footer .footer-social ul li:first-child {
	padding-left: 0;
}

footer .footer-social ul li a {
	font-size: 20px;
	color: #333;
}

footer .footer-social ul li a:hover {
	color: red;
}

footer .opening-time {
	padding-left: 0;
}

footer .opening-time li {
	list-style: none;
}

footer .opening-time li p {
	font-size: 16px;
}

footer .opening-time li span {
	float: left;
	padding-right: 10px;
}

footer .opening-time li span .fa-times {
	color: red;
}

footer .opening-time li strong {
	color: red;
}

footer .media-body a {
	color: #333;
}

footer .media-body a:hover {
	color: red;
}

footer .media-body span {
	color: #969696;
}

footer .images-gellary ul {
	padding-left: 0;
}

footer .images-gellary ul li {
	list-style: none;
	float: left;
	margin: 0 3% 2% 0;
	width: 31%;
	position: relative;
}

footer .images-gellary ul li:nth-child(3n) {
	margin: 0 0 1%;
}


/*
 * Component: Info Box
 * -------------------
 */
 .info-box {
	display: block;
	min-height: 90px;
	background: #fff;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	margin-bottom: 15px;
 }
 .info-box small {
	font-size: 14px;
 }
 .info-box .progress {
	background: rgba(0, 0, 0, 0.2);
	margin: 5px -10px 5px -10px;
	height: 2px;
 }
 .info-box .progress,
 .info-box .progress .progress-bar {
	border-radius: 0;
 }
 .info-box .progress .progress-bar {
	background: #fff;
 }
 .info-box-icon {
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
	display: block;
	float: left;
	height: 90px;
	width: 90px;
	text-align: center;
	font-size: 45px;
	line-height: 90px;
 }
 .info-box-icon > img {
	max-width: 100%;
 }
 .info-box-content {
	padding: 5px 10px;
	margin-left: 90px;
 }
 .info-box-number {
	display: block;
	font-weight: bold;
	font-size: 18px;
 }
 .progress-description,
 .info-box-text {
	display: block;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
 }
 .info-box-text {
	text-transform: uppercase;
 }
 .info-box-more {
	display: block;
 }
 .progress-description {
	margin: 0;
 }