.hiwCont{
	background-color: #d0eae2;
}

.hiwCont p{
	padding: 0;
	margin: 0;
}
.hiw{
	padding: 50px 0;
}
.hiw ul{
	padding-left: 0;
	margin: 0;
}

.hiw ul li{
	list-style: none;
}

.hiw p.title{
	text-transform: uppercase;
	font-family: "Quicksand", sans-serif;
	font-weight: 900;
	font-size: 400%;
	color: #ff405b;
	margin-bottom: 30px;
}

.hiw p.subtitle{
	font-family: "Quicksand", sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #7ccfc0;
	font-weight: 600;
	font-size: 270%;
	margin-bottom: 40px;
}

.hiw .item .img{
	box-sizing: border-box;
	margin-bottom: 20px !important;
	text-align: center;
	width: 100%;
}
.hiw .item .img img{
	vertical-align: bottom;
	width: 100%;
}

.hiw .item:first-child .img{
	padding-top: 32px;
	margin: 0 auto;
	max-width: 300px;
}


.hiw .item:nth-child(2) .img img{
	margin: 0 auto;
	max-width: 150px;
}

.hiw .item:nth-child(3) .img img{
	margin: 0 auto;
	padding-top: 45px;
	max-width: 220px;
}

.hiw .text{
	text-align: center;
	color: #de3c4c;
	font-size: 120%;
}

.hiw .text .ti{
	font-weight: bold;
}

.hiw .card .img{
	box-sizing: border-box;
	margin-bottom: 20px !important;
	text-align: center;
	width: 100%;
}
.hiw .card .img img{
	vertical-align: bottom;
	width: 100%;
}


.hiw .card:first-child .img{
	padding-top: 69px;
	margin: 0 auto;
	max-width: 200px;
}


.hiw .card:nth-child(2) .img img{
	padding-top: 62px;
	margin: 0 auto;
	max-width: 200px;
}

.hiw .card:nth-child(3) .img img{
	margin: 0 auto;
	max-width: 220px;
}

.ourPart{
	padding: 50px 40px;
	min-height: 600px;
}

.ourPart p.title{
	text-transform: uppercase;
	font-family: "Quicksand", sans-serif;
	font-weight: 900;
	font-size: 400%;
	color: #ff405b;
	margin-bottom: 30px;
}
.item-brand {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.item-brand img{
    position:absolute;
}
.mainCont{
	display: block;
	position: relative;
}

.rib-left, .rib-right{
	position: absolute;
	z-index: 100;
}

.hiwCont, .ourPart{
	position: relative;
	display: block;
	z-index: 90;
}

.rib-right{
	position: absolute;
	width: 218px;
	top: 135px;
	right: 0;
}

.rib-left{
	position: absolute;
	width: 266px;
	top: 420px;
	left: 0;
}


@media screen and (max-width: 500px){
	.hiw p.title,
	.ourPart p.title{
		font-size: 300%;
		text-align: center
	}
	.hiw p.subtitle,
	.ourPart p.subtitle{
		font-size: 180%;
		text-align: center
	}
}

@media screen and (max-width: 1200px){
	.rib-left, .rib-right{
		display: none;
	}
}

@media screen and (max-width: 768px){

	.hiw .item, .hiw .card {
		margin-bottom: 20px;
	}

	.hiw .item .img img,
	.hiw .card .img img{
		margin: 0 auto;
		padding-top: 0px !important;
		max-width: 60% !important;
	}
	.hiw .item .img,
	.hiw .card .img{
		text-align: center;
		max-width: initial !important;
		padding-top: 0 !important;
	}

	.hiw .item:nth-child(2) .img img{
		max-width: 150px !important;
	}

}