@media (min-width:769px) and (max-width:1199px){
	.navbar-header {
		display: none;
	}
	
	.navbar-nav {
		float:right;
	}
	
	.navbar .navbar-nav > li > a {
		padding: 35px 10px 32px !important;
		font-size:15px !important;
	}	
	
	.slick-next{
		right: -20px !important;
	}
	
	.slick-prev{
		left: -20px !important;
	}
	
	#footer .btn-default {
		margin-top:10px;
	}
	
	.search-page-container .product-list img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		max-height: 100%;
	}

	.search-page-container .product-list .preview {
		border: 1px solid#e2e8eb;		
		height: 129px;
		overflow: hidden;
	}
	
	.search-page-container .product-list .product-title {
		min-height:50px;
		margin-bottom: 20px;
	}
	
	#img-carousel {
	  display:block;
	}
	
	.image-preview {
		display:block;
		width:auto;
	}
	
	#greeting-card #card-preview #dynamic-content {
		left:54px;
	}
	
	#greeting-card #card-preview #dynamic-details {
		left:370px;
	}
	
	#how-it-works {
		min-height:458px;
	}
	
	
	
	
}


/**** IPAD PORTRAIT ****/
@media (min-width:461px) and (max-width:768px) {	
	
	body {
		overflow-x:hidden;		
	}

	.navbar .navbar-nav > li > a {
		padding: 35px 10px 32px;
		font-size:15px;
	}	
	
	.navbar .nav .search_nav {
		margin-top:34px;
		padding-left:7px;		
	}
	
	
	.slick-next{
		right: -10px !important;
		top:25%;
	}
	
	.slick-prev{
		left: -10px !important;
		top:25%;
	}
	
	/*
	#brand-slider .slick-next {
		display:none !important;
	}
	
	#brand-slider .slick-prev{
		display:none !important;
	}*/
	
	.navbar-nav {
		float:right;
	}
	
	.hidden-lg {
		display:none;
	}		
	
	#main-slider h2 span {
		display:block;
	}
	
	#main-slider .big-cta-left .box1 {
		margin-left:-15px;
	}
	
	#main-slider .btn-medium-cta {
		width:200px;
	}
	
	#main-slider .big-cta-right .box2 {
		margin-left:-15px;
	}
	
	#main-slider .main-slider-container img {
		max-width:100%;
	}
	
	#how-it-works {
		min-height: 343px;		
	}
	
	
	#how-it-works .cta {
		bottom:15px;		
	}
	
	.btn-how-it-works {
	    font-size: 16px;
	    font-weight: bold;
	    padding: 4px 4px;
	    margin-right:20px;
	}   
    
	.btn-how-it-works span.label-btn {
		font-size:11px;
		margin-left:11px;
	}
		
	#press .press-caption {	
		margin:0;
	}
	
	#press .press-caption .big-quote {
		font-size:20px;
		margin-right:0;
	}
	
	#footer-banner {
		min-height: 165px;
		text-align:right;		
	}
	
	#footer-banner .cta {
	    float: right;
	    margin-top: 95px;
	    width:100%;	   
	}    
		
	#footer .form-inline .form-control {
		width:155px;
		margin-bottom:5px;
	}
	
	#featured-gifts .thumbnail .preview, #latest-gifts .thumbnail .preview {
		height:100px;
	}
	
	#press .thumbnail img {
		padding:0;		
	}
	
	
	/**** POPUPS ***/
	.custom-close {
		right:-12px;
		top:17px;
	}
	
	#login-popup input[type="checkbox"] {
    	margin: -18px 3px 19px 0;
    	width: 10px;
    	height:20px;
	}
	
	.important {
		margin-left:16px;
	}
	
	#login-popup .login-right {
		background:none;
		background-color:#DE414C;
	}
	
	#gift-option-popup .gift-popup {
		width:auto;
	}
	
	#gift-option-popup .option-close {
		right:-8px;
		top:-10px;
	}
	
	#gift-option-popup .modal-body div {
	
	}
	
	#gift-option-popup .btn-medium-cta {
		width:100%;
	}
	
	#login-popup .modal-dialog{
		width:720px;
		
	}
	
	#blog .thumbnail .blog .title-link {
		min-height:44px;
	}
	
	#contact span.info {
		font-size:12px;
		padding-left:10px;		
		margin-top:0;	
	}
	
	#img-carousel {	
		border-bottom: 1px solid #ccc;
    	padding-bottom: 32px;
	}
	
	#view-cart .product-detail {
		width:80%;
		margin-bottom:0;
	}
	
	#view-cart .product-detail h4 {
		width:70%;
	}
	
	#view-cart img.cart-thumb {
		margin-right:5px;
	}
	
	#greeting-card .thumb-container {
		width:129px;
	}
	
	#greeting-card .thumb-container:first-child {
		margin-left:auto;
	}
	
	#greeting-card #card-preview {
		padding:0;
		border:none;
	}
	
	#greeting-card #card-preview #dynamic-content {
		left:7px;
		top: 271px;
	}
	
	#greeting-card #card-preview #dynamic-details {
		 left: 323px;
		 top:120px;
	}
	
	.search-page-container .product-list .product-title {		
		margin-bottom: 20px;
	}
	
	.search-page-container .product-list .preview {
		margin-bottom:10px;
	}
	
	.search-page-container .highlighted-content .product-title {
		margin-bottom:0px;
	}
	
	.search-page-container .product-list {
		padding: 10px;
	}
	
	#product-page .mobile-detail-block {
		display:block !important;		
	}
	
	#product-page .product-detail-block {
		display:none;
	}
	
}

@media (max-width:460px){
	
	.navbar-toggle{
		margin-right:5px;
	}	

	.navbar-collapse {
		width:100%;
	}
	
	.navbar-nav {
		width:100%;
		margin:7.5px 0;
	}
	
	#search_open {
		display:none;
	}
	
	#search_term {
		display:block;
	}
	
	.navbar .navbar-nav > li > a {
		padding:15px 18px;
	}
	
	.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {		
		padding-bottom: 15px !important;
	}
	
	.navbar .navbar-nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {	    
	    padding-bottom: 15px !important;	    
	}
	
	.navbar .nav .search_nav {
		margin:15px 0;
	}
	
	.navbar .nav .search_nav input {
		position:relative;
		right:auto;
		width:99%;
	}
	
	#main-slider > .main-slider-container {
		top:7%;
	}
	
	#main-slider .big-cta-left, #main-slider .big-cta-right {
		height:auto;
		padding:15px 25px;
		margin:5px 0;
	}
	
	#how-it-works {
		min-height:235px;	
	}
	
	#how-it-works .cta {
		bottom:10px;		
	}
	
	.btn-how-it-works {
	    font-size: 10px;
	    font-weight: bold;
	    padding: 6px;	    
	}   
    
	.btn-how-it-works span.label-btn {
		font-size:10px;		
	}
	
	#footer-banner {
		min-height: 104px;
		text-align:right;		
	}
	
	#footer-banner .cta button {
	    margin:0;
	}
	
	#footer-banner .cta {
	    float: right;
	    margin-top: 60px;
	    margin-right:-10px;
	    width:100%;	   
	}    
	
	#footer-banner .btn-medium-cta {
		padding:8px 8px 8px 5px;
		font-size:11px;
		width:160px;
	}
	
	.slick-next{
		right: -10px !important;		
	}
	
	.slick-prev{
		left: -10px !important;		
	}
	
	
}

@media (min-width:361px) and (max-width:568px){
	.navbar-collapse {
		width:100%;
	}

	.navbar-nav {
		width:100%;
		margin:7.5px 0;
	}
	
	#search_open {
		display:none;
	}
	
	#search_term {
		display:block;
	}
	
	.navbar .navbar-nav > li > a {
		padding:15px 18px;
	}
	
	.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {		
		padding-bottom: 15px !important;
	}
	
	.navbar .navbar-nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {	    
	    padding-bottom: 15px !important;	    
	}
	
	.navbar .nav .search_nav {
		margin:15px 0;
	}
	
	.navbar .nav .search_nav input {
		position:relative;
		right:auto;
		width:99%;
	}
	
	#main-slider > .main-slider-container {
		top:6%;		
	}
			
	#main-slider h2 span {
		display: inline-block;
	}
	
	#main-slider .big-cta-left, #main-slider .big-cta-right {
		height:auto;
	}
	
	#main-slider .big-cta-right {
		margin-top:10px;
	}
	
	#main-slider .big-cta-left .box1 {
		margin-left:30px;		
	}
	
	#main-slider .big-cta-right .box2 {
		margin-left:30px;		
	}
	
	#how-it-works {
		min-height:250px;
	}
	
	#how-it-works .cta {
		bottom:1px;
	}
		
	.btn-how-it-works {
		margin-right:0;
	}
	
	#footer-banner {
		min-height:126px;
	}
	
	#footer-banner .cta {
		margin-top:72px;
	}
	
	#footer-banner .btn-medium-cta {
		width:auto;
		padding:12px
	}
	
	#footer-banner .cta button:last-child {
		margin-right:0;
	}
	
	.copyright {
		margin-top:22px;
	}
	
	/**** POPUPS ***/
	#gift-option-popup .gift-popup {
		width:auto;
	}
	
	#gift-option-popup .option-close {
		right:-8px;
		top:-10px;
	}
	
	#gift-option-popup .modal-body div {
		width:100%;
	}
	
	#gift-option-popup .btn-medium-cta {
		width:100%;
	}
	
	#gift-option-popup .modal-body .middle {
		margin-top:0px;
		margin-bottom:15px;
		text-align:center;
	}
	
	#gift-option-popup .modal-body div:last-child {
		padding-bottom:10px
	}
	
	#gift-option-popup .gift-popup {
		top:auto;
	}
	
	
	
	.custom-close {
		right: -10px;
    	top: 17px;
	}
	
	.text-center {
		display:table;
		width:100%;
	}
	
	.semi-centered {
		display:table-cell;
	}
	
	#login-popup .btn-medium-cta {
		display:block;
		margin:0 auto;
	}
	
	#login-popup .modal-dialog {
		width:auto;
	}
	
	.search-page-container .product-list .product-title {
		min-height:50px;
		margin-bottom: 10px;
	}
	
	.gift-suggestions-container .col-xs-12, .product-list .col-xs-12, #place-order .col-xs-12{
		width:50%;
	}
	
	#product-page .product-actions button {
		width:36%;
	}
	
	#product-page .denominations select {
		width:63%
	}
	
	#view-cart .product-detail {
		width:64%;
	}
	
	#view-cart .product-detail h4 {
		width:100%;
	}
	
	
	#greeting-card .thumb-container img {
		width:100%;
		height:100%;
		max-width:100%;
	}
	
	#greeting-card .thumb-container:first-child {
		margin-left:0px;
	}
	
	#greeting-card .thumb-container {
		width:90px;		
	}
	
	#greeting-card #row-preview *, #greeting-card #card-preview {
		display:none;
		height:0;
		width:0;		
	}
		
	.thumb-container label {
		font-size:11px
	}
	
	#place-order img.cart-thumb {
		margin-right:5px;
	}
	
	#place-order .product-detail {
		width:65%;
	}
	
	#my-account-tab li {
		border-right: 1px solid #dadada;
	}
			
	.gift-suggestions-container h4 {
		padding-left:0px;
		width:222px;
		margin-left:12px;		
	}
	
	#footer .footer-newsletter-block h3 {
		padding-top:20px !important;		
	}
	
	#footer .form-inline .form-control {
		width:90%;
		margin-bottom:5px;
	}
	
	#product-page .mobile-detail-block {
		display:block !important;		
	}
	
	#product-page .product-detail-block {
		display:none;
	}
	
	#contact .btn-medium-cta {
		width:100%;
		margin-bottom:30px;
	}
	
	#contact span.info {
		padding-left:20px;
		font-size:14px;
	}
	
}


@media (max-width:360px){
		
	#main-slider > .main-slider-container {
		top:6%;
	}
	
	#main-slider h2 span {
		display:block;
	}
			
	#main-slider .big-cta-left, #main-slider .big-cta-right{
		padding:15px 13px;
		background-color: rgba(250,250,250,0.23);
		border-bottom: none !important;
	}

	#main-slider .big-cta-left .box1 {
		height:64px;
		margin:-12px 3px 0 0;
	}
	
	.btn-medium-cta {
		width:auto;
		font-size:14px;
		padding:10px;
	}
	
	.label-btn  {
		margin-left:11px;
	}
	
	#main-slider h1 {
		margin-bottom:15px;
	}
	
	#main-slider .big-cta-right .box2 {
		height:65px;
		margin:-12px 3px 0 0;
	}
	

	#how-it-works {
		min-height:137px;
	}
	
	#how-it-works .cta {
		bottom:-10px;
	}
	
	#how-it-works .btn-how-it-works {
		padding:0;
	}
	
	#featured-gifts .thumbnail .preview, #latest-gifts .thumbnail .preview {
		height:85px;
	}
		
	.flag-best-seller-ribbon {
		left:20px;
	}
	
	#press {
		margin-bottom:0px;
	}
	
	#footer-banner {
		margin-top:0px;
		min-height:73px;
	}
	
	#footer-banner .cta {
		margin-top:42px;
	}
	
	#footer-banner .label-btn {
		font-size:11px;
	}
	
	#footer-banner .btn-medium-cta {
		padding:4px;
		width:auto;
	}
	
	.copyright {
		margin-top:15px;
		font-size:11px;
	}
	
	#footer-bottom .col-xs-6 {
		margin:0;
		padding:0;
	}
	
	/**** POPUPS ***/
	#gift-option-popup .gift-popup {
		width:auto;
	}
	
	#gift-option-popup .option-close {
		right:-8px;
		top:-10px;
	}
	
	#gift-option-popup .modal-body div {
		width:100%;
	}
	
	#gift-option-popup .btn-medium-cta {
		width:100%;
	}
	
	#gift-option-popup .modal-body .middle {
		margin-top:0px;
		margin-bottom:15px;
		text-align:center;
	}
	
	.custom-close {
		right: -10px;
    	top: 19px;
	}
	
	.red {
		font-size:12px;		
	}
	
	.grey2 {
		font-size:12px;
		margin-top:3px;
	}
	
	#login-popup .login-right {
		background:none;
		background-color:#DE414C;
	}
	
	#login-popup input[type="checkbox"] {
    	margin: -18px 3px 19px 0;
    	width: 10px;
    	height:20px;
	}
	
	.important {
		margin-left:16px;
	}
	
	.tool-sharer {
		position:relative;
	}
	
	.addthis_sharing_toolbox {
		position: absolute;
		left: 60px;
		top:30px
	}
	
	.addthis_default_style, .addthis_native_toolbox {
		display:inline-block;		
	}
	
	.addthis_button_google_plusone {
		position:absolute;
	}
	
	#img-carousel {
		border-bottom: 1px solid #ccc;
    	padding-bottom: 55px;
	}
	
	#product-page .denominations select {
		width:100%;
		margin-top:10px;
	}
	
	#product-page .product-actions button {
		width:100%;
		padding:15px;
		margin-bottom:15px;
	}
	
	#cart-summary .product-detail p{
		display:none;
	}
	
	#cart-summary .cart-thumb {
		display:none;
	}
	
	#cart-summary  .col-cart-total {
		display:none;
	}
	
	#view-cart .btn-medium-cta {
		width:auto;
		padding: 20px 20px 20px 10px;
	}
	
	#greeting-card .thumb-container img {
		width:100%;
		height:100%;
		max-width:100%;
	}
	
	#greeting-card .thumb-container:first-child {
		margin-left:5px;
	}
	
	#greeting-card .thumb-container {
		width:119px;
		margin-bottom:10px;
	}
	
	#greeting-card #row-preview *, #greeting-card #card-preview {
		display:none;
		height:0;
		width:0;		
	}
	
	.search-page-container .product-list {
		padding:10px;
	}
	
	.search-page-container .sort-select {
		top:10px;
		width:56%;
		right:15px;
	}
	
	#product-page .product-sub-detail .product-category {
		min-width:0;
	}
	
	#place-order .col-xs-12 {
		margin-bottom:20px;
	}
	
	#place-order .product-detail p{
		display:none;
	}
	
	#place-order .cart-thumb {
		display:none;
	}
	
	#place-order .col-cart-total {
		display:none;
	}
	
	#place-order .btn-medium-cta {
		width:100%;
	}
	
	#place-order  .col-cart-total {
		display:none;
	}
	
	#footer-banner {
		margin-top:10px;
	}
	
	#onepage-checkout .btn-medium-cta {
		margin-bottom:10px;
	}
	
	#place-order h3 {
		margin: 0 0 5px;
	}

	
	#top-header .icon-user01, 
	#top-header .icon-user02, 
	#top-header .icon-user03, 
	#top-header .icon-user04,
	#top-header .icon-user05,
	#top-header .my-wishlist
	{
		display:none;
	}
	
	#top-header p {
		padding-right:0;
	}
	
	
	.product-list .col-xs-12 {
		margin-top:15px;
	}
	
	#view-cart .pull-right {
    	float:none !important;
	}
	
	#view-cart .btn-medium-cta {
		width:100%;
	}
	
	
	#greeting-card .btn-medium-cta, #onepage-checkout .btn-medium-cta {
	    font-size: 14px;	 
	    width: 100%;
	    padding:20px;
	}
	
	#greeting-card .pull-right {
		float:none !important;
	}
	
	#greeting-card small {
	    display: block;
	    font-size: 71%;
	}
	
	#my-account-tab li {
		border-right: 1px solid #dadada;
	}
	
	.gift-suggestions-container h4 {
		padding-left:0px;
		width:222px;
		margin-left:26px;		
	}
	
	.search-page-container .product-list .preview {
		margin-bottom:5px;
	}
	
	.search-page-container .product-list .product-title {
		margin-bottom:15px;
	}
	
	.search-page-container .highlighted-content .product-title {
		margin-bottom:0px;
	}
	
	#footer .footer-newsletter-block h3 {
		padding-top:20px !important;
		font-size:16px;
	}
	
	#product-page .mobile-detail-block {
		display:block !important;		
	}
	
	#product-page .product-detail-block {
		display:none;
	}
	
	.ad-banner {
		height:40px;
	}
	
	.addthis_button_google_plusone {
		position:absolute;
		top:30px;
		left:0;
	}
	
	.table-responsive {
	    width: 100%;
	    margin-bottom: 15px;
	    overflow-y: hidden;
	    overflow-x: scroll;
	    -ms-overflow-style: -ms-autohiding-scrollbar;
	    border: 1px solid #DDD;
	    -webkit-overflow-scrolling: touch;
	}
	
	#register .btn-medium-cta {
		width:100%;
	}
	
	#contact .btn-medium-cta {
		width:100%;
		margin-bottom:20px;
	}
	
	#contact span.info {
		padding-left:0px;
		font-size:12px;
	}
	
	#contact .info-icon {
		margin-right:10px;
	}
	
}

@media (max-width:768px){
 .table_overflow .swipe_alert {background: rgba(255,255,255,0.3) url(../img/swipe-icon.png) top center repeat-y;position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
}

#generic-page img {
	max-width:100%;
}

#blog .thumbnail .img-blog img {
	height:auto;
}

.image-preview img {
	max-width:100% !important;
	
}