/*===================================================================

Import Section

===================================================================*/



@import url("custom_fonts.css");



/*===================================================================

General Section

===================================================================*/

.headField{
	width: 200px;
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding-left: 5px;
	font-family: 'open_sansregular' !important;
    margin-top: -3px;
    text-align:left;	
}

.headBtn{
	padding: 6px 12px;
    border: 1px solid transparent;
	border-radius: 4px;
	background: #cbaf6d;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	color: white;
	line-height: 12px;
	font-size: 12px;
	font-family: 'open_sansregular' !important;
	display:table-cell;
	margin-top: -3px;
	margin-left: 5px;
}
.headLabel{
	font-family: 'open_sansregular' !important;
	font-size: 14px;
}
#rightBox{
	margin-right: 0;
}
.centered{
	margin: 0 auto;
}
@media screen and (max-width: 1079px) {
	#rightBox{
		margin-right: 0;
	}
}
@media screen and (max-width: 990px) {
	.headLabel{
		display: none;
	}
}
@media screen and (max-width: 820px) {
	.headBtn{
		display: none;
	}
}
@media screen and (max-width: 725px) {
	#subscribeBox{
		display: none;
	}
}


body {

	font-family: 'open_sanslight';

}





#wrapper {

	background: #fff;

	min-height:400px;

	max-width: 1343px;

	margin: 0 auto;

	position: relative;

}





.red {

	color: #de414d;

}



.all-caps {

	text-transform: uppercase;

}





/*=================================================================== 

Header Section

===================================================================*/



header {

	background-color: #fff;

	box-shadow: -2px 2px 1px 1px rgba(0,0,0,0.07);

}



#top-header {

	background-color: #d04954;

	width:100%;

	padding:8px;

	height: 35px;

}



.logo img {

	margin-top:8px;

}



.user-a {

	float: right;

	font-size: 12px;

}



#top-header .icon-user01 {background-image: url(../img/icons.png);background-position: -26px 0px;height: 23px;width: 40px;display: block;float: left;}

#top-header .icon-user02 {background-image: url(../img/icons.png);background-position: -26px -46px;height: 23px;width: 40px;display: block;float: left;}

#top-header .icon-user03 {background-image: url(../img/icons.png);background-position: -26px -97px;height: 23px;width: 40px;display: block;float: left;}

#top-header .icon-user04 {background-image: url(../img/icons.png);background-position: -26px -146px;height: 23px;width: 40px;display: block;float: left;}





#top-header p {

	float: left;

	color: #fff;

	margin-right: 5px;

	padding-right: 15px;

}



.user-a .top-nav-separator {

	margin-top: -2px;

	margin-right: 0 !important;

	padding-right: 5px !important;

}



.user-a .top-nav-separator > span{

	padding-right: 0 !important;

	font-size: .9em;

	color: #FFA9A9;

}



#top-header p:last-child {

	margin-right: 0;

	padding-right: 0;

	border-right: 0;

}







#top-header a, #top-header a:visited {

	color: #fff;

	text-decoration:none;

}



#social-links {

	margin-top:20px;

	float: right;

}



.products-banner {

	margin:10px 0;

	text-align:center;

}



.pseudo-head {

	font-family: "tabitharegular", serif !important;

	font-weight: normal !important;

	color: #c93d47;

	margin: 0 0 20px;

	padding: 0;

 	/* font-size: 42px; */

	font-size: 34px;

}

.ref-pseudo-head {

	font-family: "tabitharegular", serif !important;

	font-weight: normal !important;

	color: #c93d47;

	margin: 0;

	padding: 0;

 	/* font-size: 42px; */

	font-size: 24px;

}








/*=================================================================== 



Nav Section



===================================================================*/



.brand {

	float:left;

	padding:0;

	display:block;

	position: relative;

	width:178px;

	z-index:999;	

}







.brand img {

	margin-top:8px;

	margin-bottom:0;

	padding:0;

}





#main-nav {



	background-color: #fff;



	box-shadow: -2px 2px 1px 1px rgba(0, 0, 0, 0.07);



	margin-bottom:3px;



}







.navbar {

	background:none;

	border:none;

	margin-bottom:3px !important;	

}



.navbar .navbar-nav > li > a {



	color: #666;

	border-top:4px solid #fff;

	text-shadow: none;

	font-size: 16px;

	padding: 35px 14px 32px;

	font-family: 'open_sanssemibold';

    text-transform: uppercase;

    border-bottom: 4px solid #fff;  

}







.navbar .nav > li > a:focus,



.navbar .nav > li > a:hover {



	border-bottom: 4px solid #de414d;  	



	color: #333;

	padding-bottom: 32px;

}











.navbar .navbar-nav > .active > a,



.navbar .nav > .active > a:hover,



.navbar .nav > .active > a:focus {



  	color: #333;



  	text-decoration: none;	



  	border-bottom: 4px solid #de414d;



  	background-color: #fff !important;	



  	-webkit-box-shadow: none;



       -moz-box-shadow: none;



          	box-shadow: none;



  	padding-bottom: 32px;



}







.navbar .nav .search_nav {



	position:relative;

	margin-top: 33px;

	padding-left:20px;



}











.navbar .nav .search_nav input {   



    height: 31px;



    position: absolute;



    right: 29px;



    width: 230px;



}







.navbar .nav .search_nav .btn {



    background: none;

    border: none;

    border-radius: 0; 

    display:inline-block;

    padding: 10px 1px;

    outline : none;    



}



.navbar-nav ul {

	float: right;

    margin: 0;

    padding: 0;

}





#search_term {

	display:none;

}



/*=================================================================== 



Main Slider Section



===================================================================*/



#main-slider {

	position:relative;

}



.ei-slider-thumbs {

   display:none !important;

}



#main-slider .big-cta {

	position:absolute;

	display:block;

	z-index:999;

	margin-top: 100px;

	width:80%;

}





#main-slider .big-cta-left {

	padding: 20px 25px 20px 25px;

	height: 200px;

	/* width: 460px; */

	max-width: 460px;

	background-color: rgba(250,250,250,0.8);

	border-radius: 4px;

	border-bottom: 7px solid#d3e0e5 !important;

	border: 1px solid rgba(0,0,0,0.07);

	text-align:center;

	margin: 0 auto;

}





#main-slider .big-cta-right {

	padding: 20px 25px 20px 25px;

	background-color: rgba(250,250,250,0.8);

	height: 200px;

	/* width: 460px; */

	max-width: 460px;

	border-radius: 4px;

	border-bottom: 7px solid #d3e0e5 !important;

	border: 1px solid rgba(0,0,0,0.07);

	text-align:center;	

	margin: 0 auto;



}



#main-slider .big-cta h2 {

	display:inline-block;

}



#main-slider h2 span {

	font-family: 'open_sansextrabold';

	font-size: 35px;

	font-weight: bolder;

	color: #d43e49;

	text-transform: uppercase;

}







#main-slider .big-cta h4 {



	font-family: 'open_sansextrabold';



	font-size: 40px;



	font-weight: bolder;



	color: #d43e49;



	text-transform: uppercase;	



	display:inline-block;



}







#main-slider .big-cta-right h1, #main-slider .big-cta-right h4 {



	color: #ae9457;



}


#main-slider .big-cta-left .box1 {



	background-image: url(../img/icons.png);

	background-position: 77px 240px;

	/*background-position: 77px 338px;*/



	float: left;



	height: 64px;width: 77px;



	display: block;



	margin: 3px 22px 0 30px;



}











.box-icon {



	display: inline-block;



	background-image: url(../img/icons.png);



	background-position: 77px 338px;



	height: 64px;width: 77px;



	vertical-align: middle;



}







#main-slider .big-cta-right .box2 {



	background-image: url(../img/icons.png);

	/*background-position: 77px 338px;*/
	
	float: left;



	height: 64px;



	width: 77px;



	display:block;



	margin: 3px 10px 0px 30px;



}







#main-slider > .main-slider-container {



	left: 0;



	position: absolute;



	top: 25%;



	width: 100%;



	z-index: 20;



}







#main-slider > .main-slider-container .label-btn {



	font-size: 14px;



}







#brand-slider {



	padding: 15px 0;



}







#brand-slider .slick-slider {



	margin-bottom:0;	



}







/* .flex-viewport {	



	float:left;



	padding:0 23px;	



	width:100%;



}







.flex-viewport ul {



	list-style:none;



	margin-bottom:0;



	height: 80px;



}











.flex-viewport .list-inline li {		



	margin-right:30px;	



}







.flex-viewport .list-inline li:last-child{



	margin-right:0;



}







.flex-viewport .list-inline li img {







	height:50px;



	width:50px;



	max-width: 100%;



}



 */



 



 #brand-slider .preview {



	display: inline-block;



 }



 



 #brand-slider .preview > img {



	height: 50px;



	width: 50px;



	max-width: 100%;



	margin: 0 auto;



	display: block;



 }



 



 







/*=================================================================== 



Main Content Section



===================================================================*/



.content-container {



	padding:20px;



	font-size: 15px;	



}







.custom-container {



	width:1024px !important;



}







/*=================================================================== 



Blog Section



===================================================================*/



#blog .thumbnail {



	border:none;



	background:none;



	min-height:450px;



	height:440px;



	overflow:hidden;



}







#blog .thumbnail .caption{



	padding: 20px 0 10px;



    text-align: left;



}



#blog .thumbnail .blog .title-link {



	min-height: 65px;



}







#blog .thumbnail .blog .title-link > a {



    color: #242b2f;



	font-size: 18px !important;



	font-family: 'open_sansregular';



	line-height: 20px;



	font-weight:bold;



}







#blog .thumbnail .img-blog {



	height: 242px;



	overflow:hidden;



}







#blog .thumbnail .img-blog img {



	width:100%;



	height:100%;



}















.blog-date {



	font-size: 12px !important;



}







#blog .thumbnail a {



  color: #242b2f;



  text-decoration:none;



}







#blog .thumbnail span.grey {



    color: #84888b;



    float: left;



    font-family: "open_sanslight";



    margin: 10px 0;



    width: 100%;



}







#blog .thumbnail .caption p {



    color: #515658;



    font-size: 13px;



}







#blog-page .grey {



	color: #84888b;



    float: left;



    font-family: "open_sanslight";



    margin-bottom: 20px;



    width: 100%;



}







#blog-page .text-justify {



	



}







.blog-categories-sidebar > .blog-side-title {



	 border-bottom: 2px solid #de414d;



    font-size: 18px;



    font-weight: bold;



    margin-top: 55px;



    padding-bottom: 10px;



}







/*=================================================================== 



How it works Section



===================================================================*/



#how-it-works {



    position:relative;



    min-height: 513px;



    text-align: center;



    width: 100%;



    padding:20px 0;

	

}







#how-it-works .cta {

	position:absolute;

	bottom:5px;

	margin:0 auto;

	width:100%;

}





h1 {

	font-family: "tabitharegular", serif !important;

	font-weight: normal !important;

	color: #c93d47;

	margin: 0 0 20px;

	padding: 0;

 	/* font-size: 42px; */

	font-size: 34px;

}







.title {

	background-image: url(../img/title-bg.png);

	height: 50px;

	width: 281px;

	margin: 20px auto;

}







.title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {



	display: inline-block !important;



	padding: 0px 10px !important;



	margin-left:15px !important;



	margin-right:15px !important;



}







h5 {



	color: #000;



    font-family: "open_sanslight";



    font-size: 18px;



    font-weight: lighter;



    line-height: 24px;



    margin: 30px 0;



}







/*=================================================================== 



Featured Gifts Section



===================================================================*/



#featured-gifts {



	display: block;



	width: 100%;



	background: #fff;



	text-align:center;



	padding-top:20px;



}



#featured-gifts h1{



	/*text-align: left;



	margin-left: 20px;*/



}



#featured-gifts .slick-slider{



	margin-top: 0;



}







#featured-gifts .thumbnail {



	border:none;



}







#featured-gifts .thumbnail .preview{



	border:none;



	height: 159px;



    margin-bottom: 10px;



    overflow: hidden;



}







#featured-gifts .thumbnail .caption{



	text-align: left;



	/*padding:0 15px;*/



	padding:0;



}







#featured-gifts .thumbnail .blog  h3 {



	color: #242b2f;



	font-size: 18px !important;



	font-family: 'open_sansregular';



	line-height: 20px;



}







#featured-gifts .thumbnail .caption h3 {



	color: #242b2f;



	font-size: 14px;



	font-family: 'open_sansregular';



	font-weight:bold;



}



#featured-gifts .thumbnail .caption h5 {



	color:#ca3743;



	font-size:14px;



	font-family: 'open_sansbold';



}







#featured-gifts .thumbnail .caption p {



	color:#515658;



	font-size:13px;



}







#featured-gifts .thumbnail .preview img {



    border: 1px solid #e2e8eb;



    display: block;



    height:100%; 



    width:100%   



}











/*=================================================================== 



RELATED Gifts Section



===================================================================*/



#related-gifts {



	display: block;



	width: 100%;



	background: #fff;



	text-align:center;



	padding-top:20px;



}



#related-gifts h1{



	/*text-align: left;



	margin-left: 20px;*/



}



#related-gifts .slick-slider{



	margin-top: 0;



}







#related-gifts .thumbnail {



	border:none;



}







#related-gifts .thumbnail .preview{



	border:none;



	height: 159px;



    margin-bottom: 10px;



    overflow: hidden;



   



}







#related-gifts .thumbnail .caption{



	text-align: left;



	/*padding:0 15px;*/



	padding:0;



}











#related-gifts .thumbnail .caption h3 {



	color: #242b2f;



	font-size: 14px;



	font-family: 'open_sansregular';



	font-weight:bold;



}







#related-gifts .thumbnail .caption p {



	color:#515658;



	font-size:13px;



}







#related-gifts .thumbnail .preview img {



    border: 1px solid #e2e8eb;



    display: block;



    height:100%; 



    width:100%;



    



}







/*=================================================================== 



Latest Gifts Section



===================================================================*/



#latest-gifts {



 	background: none repeat scroll 0 0 #ecf0f2;



    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1) inset;



    display: block;



    width: 100%;



    text-align:center;



	padding:20px 0 0;



}







#latest-gifts .thumbnail {



	border:none;



	background:none;



}











#latest-gifts .thumbnail .caption{



	text-align: left;



	/*padding:0 15px;*/



	word-wrap:break-word;



	padding:0 !important;



}







#latest-gifts .thumbnail .blog  h3 {



	color: #242b2f;



	font-size: 18px !important;

	font-family: 'open_sansregular';

	line-height: 20px;

}



#latest-gifts .thumbnail .caption h3 {

	color: #242b2f;

	font-size: 14px;

	font-family: 'open_sansregular';

	font-weight:bold;

}

#latest-gifts .thumbnail .caption h5 {



	color:#ca3743;



	font-size:14px;



	font-family: 'open_sansbold';



}







#latest-gifts .thumbnail .caption p {



	color:#515658;



	font-size:13px;



}











#latest-gifts .thumbnail img {



    border: 1px solid #e2e8eb;



    display: block;



    height:100%; 



    width:100%;    



}







#latest-gifts .thumbnail .preview{



	border:none;



	height: 159px;



    margin-bottom: 10px;



    overflow: hidden;



}







/*=================================================================== 



Press Section



===================================================================*/



#press {



	display: block;



    width: 100%;



    text-align:center;



    padding:20px 0;



}







#press .thumbnail {



	border:none;



	background:none;	



}







#press .thumbnail a {



	color: #242b2f;



	text-decoration:none;



}











#press .thumbnail img {



	border:0 none;



	padding: 0 12px;
	max-height: 200px;


}







#press .thumbnail .date {



	background-color: #de414d;



	padding: 2px 3px 2px;



	float: left;



	height: 40px;



	width: 55px;



	position: absolute;



	color: #FFFFFF;



	text-align: center;



	margin-left: 25px;



}



#press .thumbnail .date p {



	padding: 0;



	margin: 0;



}







#press .thumbnail .date h4 {



	font-size: 14px;



	color: #FFFFFF;



	text-align: center;



	padding: 0;



	margin: 0;



	font-family: 'open_sansbold';



}











#press .thumbnail .caption {



    text-align: left;



    padding:0 12px;



}







#press .thumbnail .caption h3 {



	color: #242b2f;



	font-size: 14px;



	font-family: 'open_sansregular';



	font-weight:bold;



}







#press .thumbnail .caption h5 {



	color:#ca3743;



	font-size:15px;



	font-family: 'open_sansbold';



}







#press .thumbnail .caption p {



	color:#515658;



	font-size:13px;



}







#press .press-caption {



	height:222px;	



	background-color:#F1F2F4;



	border:1px solid #F1F2F4;	



	margin:0px 20px 0 10px;



}







#press .press-caption p {



	margin:50px 5px 0 5px;	



}







#press .press-caption .big-quote {



	color:#BD3944;	



	font-weight:bold;



	font-size:30px;



	font-family: 'open_sansregular';



	text-align: center;



	margin-right:5px;



}











/*=================================================================== 



Main Press Section



===================================================================*/



#main-press h2, #main-press h2 a {



	font-family: 'open_sanssemibold';



	font-size: 18px;



	margin:0 0 3px 0;



		



}







#main-press h2 a {

	color:#101115;

	text-decoration:none;

}



#main-press .main-press-cover {	

	height:150px;

	width:210px;

	display: table-cell;

    vertical-align: middle;

    background-color:#FAFAFA;

    border:1px solid #E4E7E9; 

}





#main-press img {    

    display: block;

    margin:0 auto;

    max-width:100%;

    max-height:100%;

}









#main-press span {



    font-family: 'open_sanslight';



	font-size: 14px;	



}











#main-press .press-row {



	display:block;	



	



	min-height:140px;



	margin-bottom:30px;	



}







#main-press .press-content {



	font-family: 'open_sanslight';



	margin-top:20px;



	display:block;



	font-size: 14px;



}







#main-press .col-lg-9 {



	margin-left:-50px;



}















#main-press .press-link {



	margin-top:22px;



	



}















/*=================================================================== 



Bottom Banner Section



===================================================================*/







#footer-banner {



	



	-webkit-background-size: cover;



	-moz-background-size: cover;



	-o-background-size: cover;



	background-size: cover;



	min-height: 230px;



	text-align: center;



	



	/*background-image: url(../img/cta-bg.jpg) !important;



	background-repeat: no-repeat;



	background-color: #e8eef0;*/



	margin: 20px 0;



	



}







#footer-banner .hero-unit h1 {



	color: inherit;



    font-size: 60px;



    letter-spacing: -1px;



    line-height: 1;



    margin-bottom: 0;



}







#footer-banner .hero-unit {



    border-radius: 0;



    font-size: 14px !important;



    margin: 20px auto;



    padding: 13px 13px 13px 15px;



}



	



#footer-banner .hero-unit p {



    color: inherit;



    font-size: 18px;



    font-weight: 200;



    line-height: 30px;



}







#footer-banner .container {



	position:relative;    



}







#footer-banner .cta {



    width: 63%;    



    float:right;



    margin-top:142px



}







#footer-banner .cta button {



	margin:0 10px 0 10px;



}







/*=================================================================== 



Footer Section



===================================================================*/



#footer-menu {



	height: 50px;



	background: #fcfcfc url(../img/bg-k20.png) repeat;



	border-top: 4px solid #f6f6f6;



	border-bottom: 4px solid #f6f6f6;



	margin-top: 20px;



}



.foot-bottom {



	margin:0 auto;



	width:1024px;



	color: #FFFFFF;



	padding: 25px 0px 15px;



}



#footer-menu-logo img {



	margin-top: 10px;



}







#footer-menu-links {



	display: block;



	float: left;



	max-height: 52px;



	margin: 6px 0 6px 0;







}







#footer-menu-links ul,



#footer-menu-links li {



	list-style: disc;



	color:#999999;



	padding:0;



	margin:0;



}







#footer-menu-links li:first-child {



	list-style: none;



}











#footer-menu-links ul li{



	float:left;



	position:relative;



	z-index: 100;



	-webkit-transition: all 0.3s ease-in-out;



	-moz-transition: all 0.3s ease-in-out;



	-o-transition: all 0.3s ease-in-out;



	-ms-transition: all 0.3s ease-in-out;



	transition: all 0.3s ease-in-out;



}







#footer-menu-links ul li a { 



	display: inline-block;



	color: #999999;



	text-decoration: none;



	font-size: 12px;



	font-family: 'Droid Sans';



	text-transform: lowercase;



	padding: 10px 15px 10px 0px;



	margin: 0px 10px 0px 0px;



	-webkit-transition: all 0.3s ease-in-out;



	-moz-transition: all 0.3s ease-in-out;



	-o-transition: all 0.3s ease-in-out;



	-ms-transition: all 0.3s ease-in-out;



	transition: all 0.3s ease-in-out;



	



}







#footer-menu-links ul li:first-child a { 







}







#footer-menu-links ul li a:hover {



	color: #fff;



	-webkit-transition: all 0.3s ease-in-out;



	-moz-transition: all 0.3s ease-in-out;



	-o-transition: all 0.3s ease-in-out;



	-ms-transition: all 0.3s ease-in-out;



	transition: all 0.3s ease-in-out;



}







#footer-menu-back-to-top {



	margin: 10px;



	z-index: 999;



}







#footer-menu-back-to-top a {



	width: 30px;



	height: 30px;



	display: block;



	background-color: #89c236;







	background-image: url(../img/scroll-top-top.png);



	background-repeat: no-repeat;



	background-position: 50%;



	-webkit-transition: all 0.1s ease-in-out;



	-moz-transition: all 0.1s ease-in-out;



	-o-transition: all 0.1s ease-in-out;



	-ms-transition: all 0.1s ease-in-out;



	transition: all 0.1s ease-in-out;



}







#footer-menu-back-to-top a:hover {



	background-color: #aaa;



}







#footer {



	color: #666 !important;



	padding: 40px 0px;



	z-index: 1;



	position: relative;



	opacity: 1;



}







#footer, 



#footer p {



	color: #262b2d !important;



	font-size: 12px;



	line-height: 20px;



	padding-top: 15px;



	padding-bottom: 20px;



}







#footer a {



	color: #262b2d !important



}







#footer a:hover {



	color: #fff;



}







.no-margin {margin-top: 0;}







#footer h3 {



	padding: 2px 0px !important;



	margin: 0 0 10px 0;



	color: #2e3436;



	font-family: open_sanssemibold;



	font-size: 18px;



	



}







#footer .social-media-row {



	margin-top:10px;



	display:table;



}







#footer .social-media-row div {



	display:table-cell;



}







#footer .social-media-row a {



	float: left;



	margin-right: 10px;



	padding: 0;



}











#footer-bottom {



	background: #d04954;



	color: #FFFFFF;



	padding: 10px 0;



}







.footer-category-list ul {



	margin:0;



	padding-left:5px;



}







.footer-category-list ul li{



	list-style:none;



	padding-left:0;



	margin-left:0;	



}



















/*=================================================================== 



Icon Boxes Section



=================================================================== */







.icons-box-container {



	float:left;



}







.icons-boxes-container {



	float:left;



}







.icons-box {



	text-align: center;



	padding: 20px 10px 10px 10px;



}







.icons-box:hover {



}







.icons-box h3 {



	margin: 0 auto;



	padding-top: 15px !important;



	font-size: 14px;



	text-transform: uppercase;



	color: #c93b46;



	font-family: 'open_sansextrabold';



}







.icons-box p {



	float: left;



	font-size: 14px;



	color: #090a0b;



	font-family: 'open_sansregular';



}







.icons-box i {



	float: left;



	margin: -2px 0 0px 0;



}







.icons-box i.circle {



	float: none !important;



	margin: 0 auto !important;



}







.icons-box i.circle-color {



	float: none !important;



	margin: 0 auto !important;



}







.icons-box i.circle-color-full {



	float: none !important;



	margin: 0 auto !important;



}







.circle {



	-webkit-border-radius: 50em;



	-moz-border-radius: 50em;



	border-radius: 50em;



	-webkit-box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);



	   -moz-box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);



		    box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);



	margin: 0 auto;



	opacity: .1;



}







.big {



	border: 20px solid #fff !important;



}







.ico-color {



	background-image: url("../img/icons/green/glyphicons.png");



	opacity: 1;



}







.mini-color {

  background-image: url("../img/icons/green/glyphicons-mini.png");

  opacity: 1;

}



.circle-color {

	background-color: #fff;

	-webkit-border-radius: 50em;

	-moz-border-radius: 50em;

	border-radius: 50em;

	-webkit-box-shadow: 0px 0px 0px 3px #89c236;

	   -moz-box-shadow: 0px 0px 0px 3px #89c236;

		    box-shadow: 0px 0px 0px 3px #89c236;

	margin: 0 auto;

	opacity: 1;



}







.circle-color {



	background-color: #fff;



	-webkit-border-radius: 50em;



	-moz-border-radius: 50em;



	border-radius: 50em;



	-webkit-box-shadow: 0px 0px 0px 3px #89c236;



	   -moz-box-shadow: 0px 0px 0px 3px #89c236;



		    box-shadow: 0px 0px 0px 3px #89c236;



	margin: 0 auto;



	opacity: 1;







}







.circle-color-full {



	background-color: #89c236;



	-webkit-border-radius: 50em;



	-moz-border-radius: 50em;



	border-radius: 50em;



	-webkit-box-shadow: 0px 0px 0px 3px #89c236;



	   -moz-box-shadow: 0px 0px 0px 3px #89c236;



		    box-shadow: 0px 0px 0px 3px #89c236;



	margin: 0 auto;



	opacity: 1;



}







.big-color {



	border: 20px solid #89c236 !important;



}











.icon-tw {



	background-image: url(../img/icons.png);



	background-position: -30px 115px;



	height: 30px;



	width: 30px;



}







.icon-fb {



	background-image: url(../img/icons.png);



	background-position: -30px 158px;



	height: 30px;



	width: 30px;



}







.icon-ld {



	background-image: url(../img/icons.png);



	background-position: -30px 72px;



	height: 30px;



	width: 30px;



}







.icon-ig {



	background-image: url(../img/icons-updated.png);



	background-position: -30px 37px;



	height: 30px;



	width: 30px;



}











/*=================================================================== 



Icon Boxes Vert



=================================================================== */



.icons-box-vert-container {



	float:left;



}







.icons-boxes-vert-container {



	float:left;



}







.icons-box-vert {



	border: 1px solid #fff;



	padding: 30px 15px 10px 15px;



}







.icons-box-vert:hover {



	background: #fcfcfc;



	border: 1px solid #f6f6f6;



}







.icons-box-vert-info {



	float: right;



	margin-top: -6px;



	margin-bottom: 6px;



	margin-left: 20px;



	width: 70%;



}







.icons-box-vert h3 {



	float: left;



	margin-top: -10px;



}







.icons-box-vert p {



	float: left !important;



}







.icons-box-vert i {



	float: left;



}







.icons-box-vert i.circle {



	float: left !important;



}







.icons-box-vert i.circle {



	-webkit-border-radius: 50em;



	-moz-border-radius: 50em;



	border-radius: 50em;



	-webkit-box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);



	   -moz-box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);



		    box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);



	opacity: .1;



}







.icons-left {



	float: left;



}







/*=================================================================== 



Buttons Section



=================================================================== */







.btn-cta {



	padding: 30px 20px 30px 10px;



	font-family: 'open_sansregular' !important;



	font-size:16px;



	width: 220px;



}







.btn-medium-cta {



	padding: 20px 20px 20px 10px;



	font-family: 'open_sansregular' !important;



	font-size:16px;



	width: 220px;



	border:none;



	position: relative;



}

.bdr-none{
	border: none;
}







.btn-mustard {



	background-color: #cbaf6d;	



}







.btn-mustard:hover {



	background-color: #bda05a;



}











.btn-resize {



	width: auto;



	max-width: 100%;



}







/*=================================================================== 



Popup Login Section



=================================================================== */



.login-left {

	background-color: #fff;

    padding: 20px; 

    height:450px;

}

.referral {

	background-color: #fff;

    padding: 20px; 

    min-height:450px;

}






.login-right {

	background-color: #de414d;

    padding: 10px 20px;

    height:450px;

}







.required {

	color:#FF0000;

}





#login-popup label {

	color: #0e1011;

    display: block;

    font-size: 13px;

    margin-bottom: 10px;

    width: auto;

	font-weight: 700;

}







.big-textbox {	



    padding: 15px;



    height:auto;



    margin-bottom:20px;



	resize: vertical;



}







.medium-textbox {	



    padding: 10px;



    height:auto;



    margin-bottom:20px;



}







.short-textbox, .short-select {



	width:19%;



}	







.medium-select {



	width:30%;



}







.short-select, .medium-select {



	display:inline-block;



	margin-right:10px;



}





.grey2 {



   /*  color: #84888b; */



    float: right;



    font-family: 'open_sanslight';



}



.grey3 {

   /*  color: #84888b; */    

    font-family: 'open_sanslight';

    display:block;

}



.important {

	font-style:normal;

	font-weight:500;

	margin:10px 0 10px 10px;

}





.semi-centered {

	margin:80px 0 20px 0;

}



a.red:hover {

	text-decoration:underline;

	color: #de414d;

}





/*=================================================================== 



GIFT OPTION POPUP SECTION



=================================================================== */



#gift-option-popup .modal-body {



	padding: 15px 10px 5px 15px !important; 



}







#gift-option-popup .gift-option-popup {



	background-color: #fff;   



    



    display:block;    



    border-radius:4px;



    width:500px;        



}







#gift-option-popup .gift-popup {



	width:670px;



	top:100px; 	



}







#gift-option-popup .modal-body div{	



	display:inline-block;



}











#gift-option-popup .btn-medium-cta {



	width:300px;



}







#gift-option-popup .modal-body .middle {



	font-family: "open_sanssemibold";



    font-size: 18px;



    padding:0 5px;



    vertical-align:top;



    margin-top:20px;



   



}







#gift-option-popup .option-close {



	position:absolute;



	right: -14px;



    top: -14px;



    z-index:999;



}







#gift-option-popup .option-close a {



	opacity:1 !important;



	cursor:pointer;	



}







#gift-option-popup .help-pop {	



	display:table;



	margin-top:8px;



	font-size:12px;



	color:#A2A3A8;



}







#gift-option-popup a.help-pop:hover {



	text-decoration:none;



}



#gift-option-popup h3.gift-popup-title

{

	font-family: "tabitharegular", serif !important;

	font-weight: normal !important;

	color: #c93d47;

	margin: 0 0 20px;

	padding: 0;

	/* font-size: 42px; */

	font-size: 34px;

}





.tooltip.right .tooltip-inner {



   background-color: #F2F2F2;  



   color:#25292C;



   padding:10px 15px; 



   text-align:left;



   width:350px;



}







.tooltip-inner p {



	color: #2D2E32;



	font-weight:600;



	font-size:13px;



}



	



.tooltip.right .tooltip-arrow {



   border-right-color: #F2F2F2;



}















/*================================================================== 



Messages Section



===================================================================*/



.message-container {



	margin-top:20px;



}











/*=================================================================== 



Contact Us Section



===================================================================*/







#contact label {



	color: #0e1011;



    display: block;



    font-family: 'open_sanslight';



    font-size: 14px;



    margin-bottom: 10px;



    width: auto;



    margin-top:15px;



}







#contact span.info {



	color: #0e1011;



    font-family: "open_sanssemibold";



    font-size: 14px;



    /* margin-bottom: 40px; */



    margin-bottom: 20px;



    line-height: 20px;



    margin-top:15px;



    width: auto;



    padding-left: 20px;



}







#contact .info-icon {



	background-image: url("../img/social.jpg");



	float: left;



    height: 30px;



    width: 30px;



}







#contact .soc-pn {   



    background-position: 0 0;   



}







#contact .soc-em {   



    background-position: 0 -29px;    



}







#contact .soc-fb {   



    background-position: 0 -89px;    



}







#contact .soc-tw {   



    background-position: 0 -59px;    



}







#contact .soc-ig {   



    background-position: 0 -119px;    



}











/*=================================================================== 



My Account Section



===================================================================*/



#my-account #dash .box3 {



	background-image: url("../img/icons.png");



    background-position: 77px 338px;



    display: block;



    float: left;



    height: 64px;



    margin: 10px 20px 20px 0;



    width: 77px;



}







#my-account #dash h3 {



	color: #303437;



    font-family: "open_sansbold";



    font-size: 18px;



    margin: 0 0 5px;



}







#my-account #dash .badge {



	 background-color: #d04954;



	 padding: 5px 7px;



	 vertical-align:top;



	 font-weight:300;



}











#my-account-tab li {



    border-bottom: 1px solid #dadada;



    border-left: 1px solid #dadada;



    border-top: 1px solid #dadada;     



}







#my-account-tab li:last-child {



	 border-right: 1px solid #dadada;



}







#my-account-tab li a {	



    color: #2c3033;



	height: 85px;



    /* font-family: "open_sansbold"; */



    font-size: 12px;



    font-weight: 600;



    text-align: center;   



    text-transform: uppercase;



    border:0;



    border-radius:0;



	



	padding: 5px 35px;



    



}







#my-account-tab li.active {



	outline:0 !important;



	border-bottom:none;



}







#my-account-tab li.a:active {



	outline:0 !important;



}











#my-account-tab li a:hover {



	background-color:#fff;



}







#my-account-tab li.active a {



	outline:0 !important;



	border-top: 5px solid #de414d !important;



	margin-top:-1px;



}











#my-account-tab .icon-span {



	background-image: url("../img/ac-icons.png");



	background-repeat: no-repeat;



	background-position: center;



	height: 25px;



	/* margin-top:10px; */	



	margin-bottom:10px;



	width:28px;



	display:inline-block;	



}







#my-account-tab span.icon-dashboard {    



    background-position: 0 10px;  



}







#my-account-tab span.icon-info {



	background-position: 0px -60px;



}







#my-account-tab span.icon-address {



	background-position: 0px -122px;



}







#my-account-tab span.icon-orders {



	background-position: 0px -185px;



}







#my-account-tab span.icon-redeems {



	background-position: 0px -246px;



}







#my-account-tab span.icon-wishlist {



	background-position: 0px -309px;



}











#view-wishlist .product-detail {



	float: left;



    height: auto;



    padding:3px;



}







#view-wishlist .product-detail h4 {



	color: #30383d;



    font-family: "open_sansbold";



    font-size: 14px;



    margin: 0 0 5px;



}











#view-wishlist img.cart-thumb {



	height:60px;



	width:75px;



	border: 1px solid #dadada;



	float: left;



    margin-right: 10px;



    padding:1px;

}





#view-wishlist .actions {

    border: 1px solid #e7e7e7;

    color: #6f6f71;

}



/*








#view-wishlist .actions {



    border: 1px solid #e7e7e7;



    color: #6f6f71;



}







/*



.featured-gifts .thumbnail img, .latest-gifts .thumbnail img



{



	margin: 0 15px;



	width: 222px;



	height: 180px;



	border: 1px solid#e2e8eb;



	max-width: 222px;



}*/



/*=================================================================== 



Products/Listings Section



===================================================================*/



#listings-page .thumbnail {



	border:none;



	background:none;



	padding:10px 0px;



	margin-bottom:0;



}







#listings-page a {



	color: #242b2f;



	text-decoration:none;



}







#listings-page .thumbnail .caption{



	text-align: left;



	padding:0 2px;



}







#listings-page .thumbnail .caption h3 {



	color: #242b2f;



	font-size: 14px;



	font-family: 'open_sansregular';



	font-weight:bold;



	 min-height: 35px;



}



#listings-page .thumbnail .caption h5 {



	color:#ca3743;



	font-size:14px;



	font-family: 'open_sansbold';



	margin-top:20px;



}







#listings-page .thumbnail .caption p {



	color:#515658;



	font-size:13px;



	min-height:30px;



}











#listings-page .thumbnail img {



    border: 1px solid #e2e8eb;



    display: block;



    margin-left: auto;



    margin-right: auto;



    max-width: 100%;



    width:220px;



    height:178px;



    padding:10px;



    



}







#product-filters ul{



	list-style:none;



	padding:0;



}







.sidebar a {



    line-height: 36px;



    color: #000;



   



}







.sidebar a:hover {



	color:#de414d;



}











.sidebar a.un {



    background-image: url("../img/drop.png");



    background-position: right 15px;



    background-repeat: no-repeat;



    border-bottom: 1px solid #dadada;



    color: #333;



    float: left;



    font-family: "open_sansbold";



    font-size: 14px;



    width: 100%;



    text-decoration:none;



}







.sidebar a.std {



    font-size: 13px;



    padding-left: 20px;



}











h7.head {



    border-bottom: 2px solid #e04e5a;



    color: #1d2125;



    float: left;



    font-family: open_sansbold;



    font-size: 18px;



    height: auto;



    padding-bottom: 10px;



    padding-top: 10px;



    text-transform: uppercase;



    width: 100%;



}







.sidebar-subnav-subcategories{



	margin-top: 10px;



	list-style: none;



	padding-left: 20px;



}







/*=================================================================== 



Products Page Section



===================================================================*/



#product-page .product-sub-detail {



	font-family: "open_sansregular";



	font-size:16px;



}







#product-page .product-sub-detail span{



	display:inline-block;



	color:#000;



		



}







#product-page .product-sub-detail .product-category {



	min-width:300px;	



}







#product-page .product-category-icon {



	height:20px;



	margin-left:-7px;



	margin-top:-3px;



}







#product-page .product-sub-detail .product-brand {



	margin-right:3px;



}







#product-page .product-sub-detail .product-merchant {



	margin-left:3px;



}



#product-page h1, #product-page h2 {



	font-family: "open_sanssemibold";



	font-size:24px;	



}



#product-page .product-actions {



	padding:5px 0;	



}











#product-page .product-actions button {	  



    text-align:center;



     width:200px;



     margin-right:10px;



}







#product-page .product-actions a {



	color:#333;



	text-decoration:underline;



	font-size:15px;



}







#product-page .product-actions a:hover {



	color: #de414d;



	text-decoration:none;



}











#product-page .denominations {



	padding:20px 0px;	



}







#product-page .denominations select {



	width:40%;



	padding:10px;



	font-size:20px;



}







#product-page .denominations .span-label {



	margin-right:10px;



	font-weight:bold;



	font-size:14px;



}







#product-page .product-description p {



	font-size:15px;



}















/*=================================================================== 



 View Cart Section



===================================================================*/



#view-cart .table th, #view-cart .table td {



    border: 1px solid #dddddd;   



    line-height: 20px;



    padding: 10px;



    text-align: left;



    vertical-align: middle;



}







#view-cart .table > thead > tr > th {



	border-bottom:none;



}







#view-cart .product-detail {



	float: left;



    height: auto;



    padding:3px;



}







#view-cart .product-detail h4 {



	color: #30383d;



    font-family: "open_sansbold";



    font-size: 14px;



    margin: 0 0 5px;



}











#view-cart img.cart-thumb {



	height:60px;



	width:75px;



	border: 1px solid #dadada;



	float: left;



    margin-right: 10px;



}







#view-cart .cell-grayed td{



	background: none repeat scroll 0 0 #f8f8f8;	



}











#view-cart .cell-centered {



	text-align:center !important;



}







#view-cart .cell-right {



	text-align:right !important;	



}











#view-cart .cell-price {



	color: #de414d;



}







#view-cart .cell-subtotal {



	color: #30383d;



    font-family: "open_sansbold";



    font-size: 14px;



}







#view-cart .cell-total {



	color: #30383d;



    font-family: "open_sansbold";



    font-size: 16px;



}







/*=================================================================== 



 Greeting Card Section



===================================================================*/



#greeting-card h2 {



	 font-family: "open_sansbold";



	 font-size: 18px;



	 border-bottom: 2px solid #DE404E;



	 margin:40px 0 20px 0px;



	 padding-bottom:15px;



}	







#greeting-card .thumb-container {



	display:inline-block;	



	width:140px;



	margin:0 5px;



	text-align:center;



}







#greeting-card .thumb-container:first-child {



	margin-left:0;



}











#greeting-card .thumb-container input {



	display:block;



	border:1px solid #000;



	width:100%;



}







#greeting-card textarea {



	 resize:vertical;	



}







#greeting-card .medium-textbox {	



    padding: 10px;



    height:auto;



    margin-bottom:20px;



}







#greeting-card .short-textbox {



	width:19%;



}







#greeting-card #card-preview {



	border:1px solid #ccc;



	background-color:#F7F8FA;



	text-align:center;



	padding:20px;



	position:relative;



}







#greeting-card #card-preview #dynamic-content {	



	display:block;



	position:absolute;



	top:291px;



	left:153px;



	width: 314px;



	color: #FFF;



	text-align:left;



}







#greeting-card #card-preview #dynamic-details {	



	display:block;



	position:absolute;



	top:140px;



	left:470px;



	width: 480px;	



	text-align:center;	



}







#greeting-card #card-preview #dynamic-details #category-icon {



	margin-bottom:0;



}







#greeting-card #card-preview #dynamic-details h3, #greeting-card #card-preview #dynamic-details h4 {



  	margin:0 0 4px 0;



  	font-family: 'open_sanssemibold';  



}







#greeting-card #card-preview #dynamic-details h3 {



	font-size:18px;



}







#greeting-card #card-preview #dynamic-details h4 {



	font-size:14px;



}















#greeting-card #card-preview div {



	margin-bottom: 5px;



	position:relative;



	display:block;	



}







#greeting-card #card-preview #salutation-preview,  #greeting-card #card-preview #dedication-preview{	



	font-weight:bold;



	font-size:15px;



	display:block;



	position:relative;



	



}







#greeting-card #card-preview #message-preview {



	text-align:justify;



	width: 300px;



	overflow:hidden;



	word-wrap: break-word;



	height:138px;



	border:1px solid #FFF;



	border-radius:3px;



	padding:2px 10px;	

	margin: 0 auto;

}











#greeting-card .hide-me {



	display:none !important;



}







#greeting-card .form-error {



	border:1px solid #FF0000;



}	







#greeting-card .not-emphasized {



	font-size:14px;



	color:#999;



}



#greeting-card small{

	font-size:74%;

}





/*=================================================================== 



 One Page Checkout Section



===================================================================*/







#onepage-checkout .fixed-row {



	width: 100%;	



	display: table;



}







#onepage-checkout .tdkuno {



    display: table-cell;



    float: none;



    padding-bottom: 20px;



    vertical-align: top;   



}







#onepage-checkout .tdkuno:nth-child(2n) {



    border-left: 1px solid #ccc;



    border-right: 1px solid #ccc;



}











#onepage-checkout .checkout-title {



    border-bottom: 1px solid #eee;



    color: #414141;



    font-size: 15px;



    font-weight: 600;



    margin-bottom: 20px;



    padding: 10px 0;



}







#onepage-checkout .checkout-number {



    background: none repeat scroll 0 0 #C9302C;



    color: #fff;



    padding: 5px 10px;



}







#onepage-checkout .radio, #onepage-checkout .checkbox {



    display: block;



    margin-bottom: 10px;



    margin-top: 10px;



    min-height: 18px;



    padding-left: 20px;



}







#onepage-checkout .radio label, #onepage-checkout .checkbox label {



    padding-left:5px !important;



    font-weight: 600;



}







.checkout-container label, .checkout-container th, .cart-total-text, .cart-total-price {



    font-weight: 600;



}







#onepage-checkout #shipping-address {



	/*display:none;*/



}















#onepage-checkout .normal-title {



  font-weight: 400 !important;



}







#onepage-checkout .tdkuno tfoot {



    background: none repeat scroll 0 0 #fafafa;



    border-top: 2px solid #ddd;



}







/*=================================================================== 



Breadcrumb Section



===================================================================*/



.breadcrumb {



    background-color: #fff;    



    list-style: none outside none;



    margin-bottom: 0px;



    padding-left:5px;



    color: #999;



    float: left;



    font-size: 12px;



}







.breadcrumb li.active  {



	color: #000;



}







.breadcrumb li a {



	 color: #999;



}











.breadcrumb > li + li:before {    



    content: url("../img/breadcrumb_arrow.png");



    padding: 0 10px;

    vertical-align: middle;

}





/*=================================================================== 

 Product Details Page

===================================================================*/





.product-detail{

	margin-bottom: 20px;

}

.slick-prev,.slick-next{

	background-color: lightgray !important;

	height: 50px !important;

}



/*=================================================================== 
Search Page
===================================================================*/

.search-sidebar h3{
	font-weight: bold;
	border-bottom: 2px solid #e04e5a;
	padding-bottom: 3px;
	font-family: monospace;
}

.search-page-container .search-box{
	padding-top: 5px;
}

.search-page-container .search-box .form-group
,.search-page-container .search-box .input-group
{
	width: 100%;
}



.search-page-container .clickable-bg {
	cursor: pointer;
}

.search-page-container .sort-select {
	position:absolute;
	right:25px;
	top:5px;
}



/*=================================================================== 

Press Section

===================================================================*/

a.red , a.red:hover {

	text-decoration:none;

}

.search-page-container .sidebar-nav

,.search-page-container .sidebar-subnav{

	list-style: none;

}

.search-page-container .sidebar-nav > li{

}

.search-page-container .sidebar-nav li a{

	margin-bottom: 1px solid #dadada;

	font-weight: bold;

	color: #333;

	font-family: sans-serif;

}

.search-page-container .sidebar-nav li.active > a{

	color: #cf3a45;

}

.search-page-container .sidebar-nav

{

	padding-left: 0px;

}

.search-page-container .sidebar-subnav{

	padding-left: 20px;

	margin-top: 10px;

}

.search-page-container .sidebar-subnav li a{

	font-weight: normal;

}

.search-page-container .sidebar-subnav li a:hover{

	color: #e04e5a;

	text-decoration: none;

	font-weight: bold;

}

.search-page-container .sidebar-subnav li{

	margin-bottom: 10px;

}

.search-content{

	font-family: 'open_sansregular';

}

.search-content h4{

	font-size: 18px;

	color: #1d2125;

	float: left;

	height: auto;

	width: 100%;

	margin-top: 0;

	padding-top: 20px;

	padding-bottom: 10px;

	border-bottom: 2px solid #e04e5a;

	font-family: open_sansbold;

	margin-bottom: 20px;

	text-transform: uppercase;

	background-color: #fff;

}

.search-page-container .highlighted-content{

	background-color: #f8f8f8;

}

.search-page-container .product-list .row{

	margin-bottom: 20px;

 }

.search-page-container .product-list{

	padding: 10px;

	padding-left: 20px;

}

.search-page-container .product-list img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}

.search-page-container .product-list .preview {
	border: 1px solid#e2e8eb;
	margin-bottom: 20px;
	height: 159px;
	overflow: hidden;
}

.search-page-container .product-list .product-title {
	min-height:50px;
}




.search-page-container .product-list .product-title{

	font-weight: bold;

}



.search-page-container .product-list .product-title a {

	color: #000000;

}

.search-page-container .product-list .product-title a:hover, .search-page-container .product-list .product-title a:focus {

	color: #000000;

}



.search-page-container .product-list .product-desc{

	font-size: 12px;

	max-height: 35px;

	word-wrap: break-word;

	overflow: hidden;

}

.search-page-container .product-list .product-price{

	color: #e04e5a;



}



/*=================================================================== 

PLACED ORDER SECTION

===================================================================*/

#place-order .page-header {

	border-bottom:none;

}



#place-order h2 {

	font-family: open_sansbold;

	font-size:20px;

	font-weight:700px;

	color:#24292D;

}



#place-order h3 {

	margin:0 0 15px 0;

	font-size:15px;

	font-family: open_sanssemibold;

}





#place-order .well {

	border: 1px solid #EAEEF1;

	border-radius: 0px;

	box-shadow:none;

	background-color:#FAFAFA;

	padding:10px;

}



#place-order .well .side-label {

	font-family: open_sanssemibold;

	font-size:14px;

	margin-right:10px;

	margin-top:4px;

	display:inline-block;

}





#place-order .table th, #place-order .table td {

    border: 1px solid #EAEEF1;  

    line-height: 20px;

    padding: 10px;

    text-align: left;

    vertical-align: middle;

}



#place-order .table td:first-child{

	border-right: none;

}



#place-order .table td:last-child{

	border-left: none;

}



#place-order .table > thead > tr > th {

	border-bottom:none;

}



#place-order .product-detail {

	float: left;

    height: auto;

    padding:3px;

}



#place-order .product-detail h4 {

	color: #30383d;

    font-family: "open_sansbold";

    font-size: 14px;

    margin: 0 0 5px;

}



#place-order img.cart-thumb {

	height:60px;

	width:75px;

	border: 1px solid #dadada;

	float: left;

    margin-right: 10px;

}



#place-order .cell-grayed td{

	background: none repeat scroll 0 0 #f8f8f8;	

	padding:15px;

}



#place-order .cell-centered {

	text-align:center !important;

}



#place-order .cell-right {

	text-align:right !important;	

}





#place-order .cell-price {

	/*color: #de414d;*/

	font-weight:550;

}



#place-order .cell-subtotal {

	color: #30383d;

    font-family: "open_sansbold";

    font-size: 14px;

}



#place-order .cell-total {

	color: #30383d;

    font-family: "open_sanssemibold";

    font-size: 14px;

}



#place-order .cell-main-total {

	color: #30383d;
    font-family: "open_sansbold";
    font-size: 16px;

}

#place-order .social-media-row {
	display:table;	
	width:100%;
	text-align:right;
	margin-top:20px;
}

#place-order .social-media-row div {
	display:table-cell;	
}

#place-order .feedback {
	display:block;
	text-align:right;	
	margin-top:40px;
	float:right;
}

#place-order .feedback h5 {
    color: #c93d47;
    font-family: "tabitharegular",serif !important;
    font-size: 22px;
    margin-top:8px; 
    margin-bottom:5px;   
}

#place-order p.really-small {
	font-size:13px;
}


#place-order .feedback a {
	text-decoration-color: #c93d47;
	-moz-text-decoration-color: #c93d47;
}


#place-order .social-media-row h3 {
	font-family: "tabitharegular", serif !important;
	font-weight: normal !important;
	color: #c93d47;
	margin:0 0 5px 0 !important;
	font-size:18px;
}

#place-order .social-media-row a {
	float: right;
	margin-right: 10px;
	padding: 0;
}



/*=================================================================== 

gift suggestions

===================================================================*/

.gift-suggestions-container h4{

    font-weight: bold;

    font-family: sans-serif;

    font-size: 13px;

	text-align: left;

	padding-left: 0px;
	margin-left:20px;
	margin-bottom: 20px;
	
	width:222px;

}

.gift-suggestions-container .suggestion-category-item {

	text-align: center;

}

.gift-suggestions-container .suggestion-category-item a{

	color: #000;

	text-decoration: none;

}

.gift-suggestions-container .suggestion-category-item div{

	display:block;

	margin:auto;

	width: 222px;

	height: 147px;

	border: 1px solid #F0ECEC;

}

.gift-suggestions-container .suggestion-category-item div:hover{

	background: url(../img/product-red-bg.png) !important;

}

/*=================================================================== 

featured gifts section

===================================================================*/

.featured-gifts-container .thumbnail .caption h3 a,

.latest-gifts-container .thumbnail .caption h3 a {

	color: #30383d;

	text-decoration: none;

	

}



/*=================================================================== 

homepage

===================================================================*/

.flag-hot-ribbon{










.product-detail{



	margin-bottom: 20px;



}



.slick-prev,.slick-next{



	background-color: lightgray !important;



	height: 50px !important;



}







/*=================================================================== 

Search Page

===================================================================*/



.search-sidebar h3{

	font-weight: bold;

	border-bottom: 2px solid #e04e5a;

	padding-bottom: 3px;

	font-family: monospace;

}



.search-page-container .search-box{

	padding-top: 5px;

}



.search-page-container .search-box .form-group

,.search-page-container .search-box .input-group

{

	width: 100%;

}







.search-page-container .clickable-bg {

	cursor: pointer;

}



.search-page-container .sort-select {

	position:absolute;

	right:25px;

	top:5px;

}







/*=================================================================== 



Press Section



===================================================================*/



a.red , a.red:hover {



	text-decoration:none;



}



.search-page-container .sidebar-nav



,.search-page-container .sidebar-subnav{



	list-style: none;



}



.search-page-container .sidebar-nav > li{



}



.search-page-container .sidebar-nav li a{



	margin-bottom: 1px solid #dadada;



	font-weight: bold;



	color: #333;



	font-family: sans-serif;



}



.search-page-container .sidebar-nav li.active > a{



	color: #cf3a45;



}



.search-page-container .sidebar-nav



{



	padding-left: 0px;



}



.search-page-container .sidebar-subnav{



	padding-left: 20px;



	margin-top: 10px;



}



.search-page-container .sidebar-subnav li a{



	font-weight: normal;



}



.search-page-container .sidebar-subnav li a:hover{



	color: #e04e5a;



	text-decoration: none;



	font-weight: bold;



}



.search-page-container .sidebar-subnav li{



	margin-bottom: 10px;



}



.search-content{



	font-family: 'open_sansregular';



}



.search-content h4{



	font-size: 18px;



	color: #1d2125;



	float: left;



	height: auto;



	width: 100%;



	margin-top: 0;



	padding-top: 20px;



	padding-bottom: 10px;



	border-bottom: 2px solid #e04e5a;



	font-family: open_sansbold;



	margin-bottom: 20px;



	text-transform: uppercase;



	background-color: #fff;



}



.search-page-container .highlighted-content{



	background-color: #f8f8f8;



}



.search-page-container .product-list .row{



	margin-bottom: 20px;



 }



.search-page-container .product-list{



	padding: 10px;



	padding-left: 20px;



}



.search-page-container .product-list img {

	display: block;

	margin: 0 auto;

	max-width: 100%;

	max-height: 100%;

}



.search-page-container .product-list .preview {

	border: 1px solid#e2e8eb;

	margin-bottom: 20px;

	height: 159px;

	overflow: hidden;

}



.search-page-container .product-list .product-title {

	min-height:50px;

}









.search-page-container .product-list .product-title{



	font-weight: bold;



}







.search-page-container .product-list .product-title a {



	color: #000000;



}



.search-page-container .product-list .product-title a:hover, .search-page-container .product-list .product-title a:focus {



	color: #000000;



}







.search-page-container .product-list .product-desc{



	font-size: 12px;



	max-height: 35px;



	word-wrap: break-word;



	overflow: hidden;



}



.search-page-container .product-list .product-price{



	color: #e04e5a;







}







/*=================================================================== 



PLACED ORDER SECTION



===================================================================*/



#place-order .page-header {



	border-bottom:none;



}







#place-order h2 {



	font-family: open_sansbold;



	font-size:20px;



	font-weight:700px;



	color:#24292D;



}







#place-order h3 {



	margin:0 0 15px 0;



	font-size:15px;



	font-family: open_sanssemibold;



}











#place-order .well {



	border: 1px solid #EAEEF1;



	border-radius: 0px;



	box-shadow:none;



	background-color:#FAFAFA;



	padding:10px;



}







#place-order .well .side-label {



	font-family: open_sanssemibold;



	font-size:14px;



	margin-right:10px;



	margin-top:4px;



	display:inline-block;



}











#place-order .table th, #place-order .table td {



    border: 1px solid #EAEEF1;  



    line-height: 20px;



    padding: 10px;



    text-align: left;



    vertical-align: middle;



}







#place-order .table td:first-child{



	border-right: none;



}







#place-order .table td:last-child{



	border-left: none;



}







#place-order .table > thead > tr > th {



	border-bottom:none;



}







#place-order .product-detail {



	float: left;



    height: auto;



    padding:3px;



}







#place-order .product-detail h4 {



	color: #30383d;



    font-family: "open_sansbold";



    font-size: 14px;



    margin: 0 0 5px;



}







#place-order img.cart-thumb {



	height:60px;



	width:75px;



	border: 1px solid #dadada;



	float: left;



    margin-right: 10px;



}







#place-order .cell-grayed td{



	background: none repeat scroll 0 0 #f8f8f8;	



	padding:15px;



}







#place-order .cell-centered {



	text-align:center !important;



}







#place-order .cell-right {



	text-align:right !important;	



}











#place-order .cell-price {



	/*color: #de414d;*/



	font-weight:550;



}







#place-order .cell-subtotal {



	color: #30383d;



    font-family: "open_sansbold";



    font-size: 14px;



}







#place-order .cell-total {



	color: #30383d;



    font-family: "open_sanssemibold";



    font-size: 14px;



}







#place-order .cell-main-total {



	color: #30383d;

    font-family: "open_sansbold";

    font-size: 16px;



}



#place-order .social-media-row {

	display:table;	

	width:100%;

	text-align:right;

	margin-top:20px;

}



#place-order .social-media-row div {

	display:table-cell;	

}



#place-order .feedback {

	display:block;

	text-align:right;	

	margin-top:40px;

	float:right;

}



#place-order .feedback h5 {

    color: #c93d47;

    font-family: "tabitharegular",serif !important;

    font-size: 22px;

    margin-top:8px; 

    margin-bottom:5px;   

}



#place-order p.really-small {

	font-size:13px;

}





#place-order .feedback a {

	text-decoration-color: #c93d47;

	-moz-text-decoration-color: #c93d47;

}





#place-order .social-media-row h3 {

	font-family: "tabitharegular", serif !important;

	font-weight: normal !important;

	color: #c93d47;

	margin:0 0 5px 0 !important;

	font-size:18px;

}



#place-order .social-media-row a {

	float: right;

	margin-right: 10px;

	padding: 0;

}







/*=================================================================== 



gift suggestions



===================================================================*/



.gift-suggestions-container h4{



    font-weight: bold;



    font-family: sans-serif;



    font-size: 13px;



	text-align: left;



	padding-left: 0px;

	margin-left:20px;

	margin-bottom: 20px;

	

	width:222px;



}



.gift-suggestions-container .suggestion-category-item {



	text-align: center;



}



.gift-suggestions-container .suggestion-category-item a{



	color: #000;



	text-decoration: none;



}



.gift-suggestions-container .suggestion-category-item div{



	display:block;



	margin:auto;



	width: 222px;



	height: 147px;



	border: 1px solid #F0ECEC;



}



.gift-suggestions-container .suggestion-category-item div:hover{



	background: url(../img/product-red-bg.png) !important;



}



/*=================================================================== 



featured gifts section



===================================================================*/



.featured-gifts-container .thumbnail .caption h3 a,



.latest-gifts-container .thumbnail .caption h3 a {



	color: #30383d;



	text-decoration: none;



	



}







/*=================================================================== 



homepage



===================================================================*/



.flag-hot-ribbon{



	position: absolute;



	top: 5px;



	left: 40px;



	width: 60px;



	height: 38px;



	background: url(../img/hot-flag.png);



}.flag-best-seller-ribbon{



	position: absolute;



	top: 5px;



	left: 40px;



	width: 60px;



	height: 38px;



	background: url(../img/best-flag.png);



}



.search_img{



	margin-top: -8px;



	height: 25px;



}



















/*=============================================================



additional



==============================================================*/



.home-arrow-btn {



	background: url("../img/h-sprite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);



	background-position: -5px -56px;



    height: 22px;



    width: 21px;



	display: inline-block;



	vertical-align: middle;



}



.label-btn {



	display: inline-block; 



	vertical-align: middle;



	margin-right: 11px; 



	margin-left: 15px;



	font-size: 15px;



}











.btn-how-it-works {



	font-size: 16px;



    font-weight: bold;



    padding: 15px 30px;



}







/* Generated by http://css.spritegen.com CSS Sprite Generator */



 



.hicon_arrow-next, .hicon_arrow-previous, .hicon_homme-arrow-btn



{



	display: inline-block; 



	background: url('../img/h-sprite.png') no-repeat; 



	overflow: hidden; 



	text-indent: -9999px; 



	text-align: left; 



}











.hicon_arrow-next { background-position: -5px -0px; width: 23px; height: 23px; }



.hicon_arrow-previous { background-position: -5px -28px; width: 23px; height: 23px; }



.hicon_homme-arrow-btn { background-position: -5px -56px; width: 21px; height: 22px; }







/*<div class="hicon_arrow-next"></div>



<div class="hicon_arrow-previous"></div>



<div class="hicon_homme-arrow-btn"></div>*/











/* modfy slick slider */



.related-gift-container .slick-next {



    right: 0 !important;



}



.related-gift-container .slick-prev {



    left: 0 !important;



}



.slick-next:before, .slick-prev:before {



	content: "" !important;



}







.slick-prev, .slick-next {



	background-color: transparent !important;



	color: #626568;



	font-size: 20px !important;



}











.related-gift-container a {



	color: #333;



}







.featured-gifts-container.slick-slider, .latest-gifts-container.slick-slider {



	margin-bottom: 0;



}







#section-press .thumbnail > .preview {



	height: 222px;



}







.featured-gifts-container .thumbnail .preview {



	height: 175px;



}







.featured-gifts-container .thumbnail img, .latest-gifts .thumbnail img {



	max-width: 100%;



}







.copyright {



	display: block;



	margin-top: 35px;



}







.footer-info-list {



	font-size: 13px;



}







#footer .subscribe_form > .form-group >.form-control {



	height: 40px;



}







#footer .subscribe_form > .btn {



	padding: 9px 16px;



}







.well-total {



	background-color: #f5f5f5;



    border: 1px solid #e3e3e3;



	padding: 15px;



}



.well-total:first-child {



	-webkit-border-top-left-radius: 5px;



	-webkit-border-top-right-radius: 5px;



	-moz-border-radius-topleft: 5px;



	-moz-border-radius-topright: 5px;



	border-top-left-radius: 5px;



	border-top-right-radius: 5px;



}



.well-total:last-child {



	-webkit-border-bottom-right-radius: 5px;



	-webkit-border-bottom-left-radius: 5px;



	-moz-border-radius-bottomright: 5px;



	-moz-border-radius-bottomleft: 5px;



	border-bottom-right-radius: 5px;



	border-bottom-left-radius: 5px;



}







.well-total + .well-total {



	border-top: none;



}







.cart-options {



	margin: 20px 0;



}











h1.customer-dashboard {



	font-size: 35px;



}



















.label-viewall {



	display: inline-block; 



	vertical-align: middle; 



	font-size: 16px;



	font-weight: bold; 



	margin-left: 12px; 



	font-family: "open_sanssemibold";



}











.table-orders  > tbody > tr > td {



	padding: 15px;



}















.customize-pagination  .pagination > li:last-child > a, .pagination > li:last-child > span {



	border-bottom-right-radius: 0;



    border-top-right-radius: 0;



}







.customize-pagination  .pagination > li:first-child > a, .pagination > li:first-child > span {



	border-bottom-left-radius: 0;



    border-top-left-radius: 0;



}



.customize-pagination .pagination > li.active > a {



	color: #fff;



}



.customize-pagination .pagination > li > a {



	color: #333;



}







.customize-pagination .pagination > .active > a, 



.customize-pagination .pagination > .active > span, 



.customize-pagination .pagination > .active > a:hover, 



.customize-pagination .pagination > .active > span:hover, 



.customize-pagination .pagination > .active > a:focus, 



.customize-pagination .pagination > .active > span:focus {



	background-color: #c9302c;



	border: 1px solid #c9302c;



}







.elastislide-wrapper {



	box-shadow: none !important;



}







#img-carousel .elastislide-wrapper nav span {



	position: absolute;



	background: #fff url('../img/h-sprite.png') no-repeat;



	width: 25px;



	height: 30px;



	text-indent: -9000px;



	cursor: pointer;



	border-radius: 0;



	-webkit-border-radius: 0;



	-moz-border-radius: 0;



}







#img-carousel .elastislide-horizontal nav span.elastislide-next {



	right: 10px;



	left: auto;



	background-position: -4px 2px;



}







#img-carousel .elastislide-horizontal nav span.elastislide-prev {



	right: auto;



	left: 10px;



	background-position: -4px -25px;



}











.gray {



	color: #999999;



}







.sidebar-nav.first > li > a {



	display: block;



	padding: 10px 0;



	border-bottom: 1px solid #999999;



}







#login-popup .login-right {



	background-color: transparent;



	background: url("../img/pop_login.png") no-repeat scroll -14px 0px rgba(0, 0, 0, 0);



	background-size: 100% 100%;



}







.modal-content {



	border: none;



}







.modal-header {



	border-bottom: none;



}







.custom-close {



	 background: url("../img/gifted_close_button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);



    border: medium none;



    padding: 13px;



    position: absolute;



    right: 7px;



    top: 25px;



    z-index: 10;



}































@media(max-width: 768px) {



	#login-popup .login-right {



		background-color: #de414d;



	}



}















/* checkout */



#onepage-checkout .checkout-title.border-top-none {



	border-top: 0;



}







#onepage-checkout .checkout-title.border-left-right-none { 



	border-right: 0;



	border-left: 0;



}















.checkout-column {



	border: 1px solid #eee;



}







#onepage-checkout .checkout-title {



	padding: 0;



	border: 1px solid #eee;



}



#onepage-checkout .checkout-number {



	display: inline-block;



	padding: 11px 20px;



	margin-right: 10px;



}







.checkout-column:nth-child(2) {



	border-right:0;



	border-left: 0;



}







.column-container {



	padding: 0;



	



	min-height: 300px;



}











.image-preview{



	/*background-color: #F7F7F7;*/



}







.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{



	background-color: #c93d47;



}



.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{



	border-color: #ddd;



}



.pagination>li>a, .pagination>li>span{



	color: #000;



}



.pagination>li>a, .pagination>li>span{



	font-weight: bold;



	font-size: .9em;



}







.content-container p {

	font-size:15px;

}



.hide{

    display:none;

}





#generic-page h3{

	margin-bottom:20px;

}



.addthis_sharing_toolbox {

	position: absolute;

	left: 340px;

}



.mobile-detail-block {

	display:none;

}



.ad-banner {

	max-width:100%;

}

.tbl-referral{
	width: 80%;
}

.centered{
	margin: 0 auto;
}

.w80{
	width: 80%;
}
.fs12{
	font-size: 12px;
}
.fs10{
	font-size: 10px;
}

.addthis_native_toolbox{
	display: flex !important;
	align-items: center;
	float: left;
}

#myCarousel .item{
	height: 500px !important;text-align: center;
}
.item-child{
	display: flex !important;align-items: center !important;height: 500px !important;
}