	#breadcrumbs{
		display: none;
	}
	#voucher-form-wrapper{
	    width: 500px;
	    margin: 50px auto 40px;
	    border: 1px solid #de3c4c;
	    padding: 30px 30px 38px;
	    text-align: center;
	}
	#voucher-form-wrapper h1{
		text-align: center;
		margin: 0 auto 10px;
		padding: 0;
		font-size: 30px;
	}
	#voucher-form-wrapper input[name=voucher]{
		width: 302px;
		padding: 5px 10px;
		height: 44px;
		font-size: 20px;
		text-transform: uppercase;
		text-align: center;
	}
	#voucher-form-wrapper input[name=voucher]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  	text-transform: none;
	}
	#voucher-form-wrapper input[name=voucher]::-moz-placeholder { /* Firefox 19+ */
	  	text-transform: none;
	}
	#voucher-form-wrapper input[name=voucher]:-ms-input-placeholder { /* IE 10+ */
	  	text-transform: none;
	}
	#voucher-form-wrapper input[name=voucher]:-moz-placeholder { /* Firefox 18- */
	  	text-transform: none;
	}
	#voucher-form-wrapper input[name=voucher]:focus, #voucher-form-wrapper input[name=voucher]:hover{
		outline: 0 none;
	}
	#voucher-form-wrapper .g-recaptcha{
		width: 302px;
		margin: 0 auto;
	}
	#voucher-form-wrapper button{
		width: 302px;
		padding: 10px 0;
		font-size: 16px;	
	}
	#voucher-form-wrapper p{
		color: #ac2925;
	}
	@media only screen and (max-width: 600px){
		#voucher-form-wrapper{
			width: 100%;
			padding: 30px 0;
		}
		#redeemModal.modal {
		    top: 2% !important;
		    left: 0;
		    width: 100% !important;
		}		
	}