/*=================================================================== 
Import Section
===================================================================*/	
@import url("custom_fonts.css");

/*=================================================================== 
General Section
===================================================================*/
body {
	/*font-family: 'open_sansregular';*/
	font-family: helvetica;	
	color:#434345;
}

.red {
	color: #de414d;
}

.side-padding {
	padding-left:20px;
	padding-right:20px
}

.bottom-margin {
	margin-bottom:20px
}

.voucher-container {
	width:640px;
	min-height:600px;
	position:relative;
	padding:0;
}


/*=================================================================== 
Header Section
===================================================================*/
.main-date {
	font-weight:600;
	margin-top:40px;
	
}

.logo img {
	margin-top:8px;
	margin-left:-10px;
}

/*=================================================================== 
Salute Section
===================================================================*/
.salute {
	font-weight:600;
}

.secondary-salute {
	background-color:#D14955;
	text-align:center;
}




/*=================================================================== 
Terms and Conditions Section
===================================================================*/
.main-terms {
	
}

ol.toc {
	padding-left:0;
	list-style-position: inside;
	font-size:12px;
	color:#727375;
}

.toc-title {
	font-weight:600;
}

.top-margined {
	margin-top:-10px;
}

/*=================================================================== 
Footer Section
===================================================================*/

.main-footer {
	background-color:#D14955;
	padding:10px 30px;	
	display:block;
	width:100%;
	color:#FFF;
	
}

.inverted-logo {
	text-align:right;
	margin-top:10px;
}

.copyright {
	font-weight:600;
	font-size:12px;
}

.address {
	font-size:12px;
}