html, body{
	top: 0;
	left: 0;
	margin: 0;
	font-family: "Helvetica", sans-serif;
}

.maxwidth{
	position: relative;
	max-width: calc(100% - 150px);
	width: 100%;
	margin: 0 auto;
}

.top-nav{
	position: relative;
	width: 100%;
	height: auto;
	background-color: #b9e2db;
}
.main-nav{
	position: relative;
	width: 100%;
	height: auto;
	padding: 25px 0;
	background-color: #de3c4c;
}

.nav-search {
	border-radius: 0px;
	outline: 0;
	border: 0;
	background-color: #fff;
	font-style: italic;
	font-size: 13px;
}
	.paddbdy{
		padding: 130px 0;
	}
	.banner-img{
		float: left;
		margin-right: 15px;
	}
	.banner-img-text{
		color: #de3c4c;
		font-size: 4em;
		line-height: 1em;
		text-transform: uppercase;
		font-weight: 600;
		font-family: "Quicksand",sans-serif;
		padding-top: 50px;
	}

	.moto-text{
		font-weight: normal;
		font-family: "Helvetica Oblique",sans-serif;
		font-style: italic;
		color: #DC3C4C;
		font-size: 26px;
		padding-top: 33px;
	}

	.sndgft,.sndgft:hover{
		text-decoration: none;
		display: inline-block;
		margin-top: 10px;
		border-radius: 10px;
		color: #DE3C4C;
		font-family: "Helvetica",sans-serif;
		font-weight: 600;
		text-transform: uppercase;
		padding: 12px 20px;
		background-color: #b8e5dc;
		border: 5px solid #DE3C4C;
	}
	.sndgft2,.sndgft2:hover{
		text-decoration: none;
		display: inline-block;
		margin-top: 10px;
		border-radius: 10px;
		color: #DC3C4C;
		font-family: "Helvetica",sans-serif;
		font-weight: 600;
		text-transform: uppercase;
		padding: 12px 20px;
		background-color: #b8e5dc;
		border: 5px solid #FFFFFF;
	}
.carousel-cont{
	position: relative;
	background-color: #fff;
	padding: 20px 0;
}

.red-cont{
	position: relative;
	background-color: #DC3C4C;
	padding: 50px 0;
}
.red-margin{
	margin-bottom: 50px;
}
.banner-text-red {
	color: #d0eae2;
	font-size: 4.4em;
	line-height: 1em;
	text-transform: uppercase;
	font-weight: 600;
	font-family: "Quicksand",sans-serif;
	margin-bottom: 20px;
}

.banner-subtext-red{
	font-weight: normal;
	font-family: "Helvetica Oblique",sans-serif;
	font-style: italic;
	color: #ffffff;
	font-size: 23px;
	margin-bottom: 20px
}
	.item-red{
		margin-bottom: 20px;
		position: relative;
	}
	.item-red .border{
		position: absolute;
		top: 0px;
		right: -10px;
		background-color: #fff;
		border-radius: 5px;
		width: 6px;
		height: 100%;
	}
	.item-red .title{
		font-family: 'Pacifico', cursive;
		color: #fff;
		font-size: 29px;
		margin-bottom: 10px;
	}
	.item-red .img{margin-bottom: 10px;}
	.item-red .img img{
		box-sizing: border-box;
		padding: 0 60px;
		max-height: 96px;
		height: 96px;
	}
	.item-red .desc{
		padding: 0 60px;
		font-size: 17px;
		color: #fff;
	}

.wtil{
	color: #de3c4c;
	font-size: 58px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: "Quicksand",sans-serif;
	padding: 35px 0;
}

.green-cont{
	background-color: #d0eae2;
	padding: 20px 0;
}



.recom-item{
	background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}
	.recom-item .image{
		position: relative;
		text-align: center;
		padding-bottom: 10px;
		background-color: #D0EAE2;
		margin-bottom: 10px;
	}
		.recom-item .image .img{
			height: 186px;
    		margin-bottom: 10px;	
		}
	.recom-item .title{
		color: #DC3C4C;
	}
		.recom-item .title span:first-child{
			font-weight: 600;
			text-transform: uppercase;
		}
	.recom-item .desc{
		text-transform: uppercase;
		color: #8e8e8e;
		font-size: 13px;
	}
		.recom-item .desc .cat{
			border-bottom: 1px solid #7d7d7d;
			text-transform: uppercase;
			padding-bottom: 5px;
			margin-bottom: 5px;
		}

.brgf{
	padding: 30px 0;
}
.footer{
	background-color: #DC3C4C;
	padding: 30px 0;
	color: #fff;
}
	.footer .sm{
		margin-bottom: 10px;
		font-weight: 600;
		text-transform: uppercase;
	}
.ftul{
	position: relative;
	padding-left: 0px;
}
	.ftul li{
		list-style: none;
	}
		.ftul li a{
			font-size: 12px;
			color: #fff;
		}


/* Bootstrap overwrite */

.nav-top-nav, .nav-main-nav{
	min-height: initial;
	background-color: transparent;
	border: 0px;
	border-color: transparent;
	margin-bottom: 0px;
}
.nav-main-nav{
	padding-top: 20px;
}
.nav-top-nav .navbar-nav>li>a,
.nav-top-nav .navbar-nav>li>a:focus, 
.nav-top-nav .navbar-nav>li>a:hover{
	padding: 10px 25px;
	color: #de3c4c;
	text-transform: uppercase;
	font-family: "Helvetica", sans-serif;
	font-size: 13px;
	font-weight: 600;
}
.nav-main-nav .navbar-nav>li>a,
.nav-main-nav .navbar-nav>li>a:focus, 
.nav-main-nav .navbar-nav>li>a:hover{
    color: #fff;
    text-transform: uppercase;
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.ftimg{
	width: 100%;
	max-width: 100px;
	margin: 0 auto;
	    display: block;
	    margin-bottom: 20px;
}
.cu-fo{
	background-color: #fff;
	color: #DC3C4C;
	font-size: 15px;
	padding: 50px 0;
}

	.cards {
		text-align: center;
		margin-bottom: 10px;
	}
	.cards .item{
		margin: 0 auto;
		max-width: 50px;
		height: 30px;
		-webkit-box-shadow: 0px 0px 18px -3px rgba(0,0,0,1);
		-moz-box-shadow: 0px 0px 18px -3px rgba(0,0,0,1);
		box-shadow: 0px 0px 18px -3px rgba(0,0,0,1);
	}
		.cards .item img{
			height: 30px;
		}

.social-links{
	margin-top: 30px;
}
.futllk {
	width:40px;
}


/* Owl carousel styles */
#owl-demo .item{
  background-color: transparent;
  margin: 10px;
  text-align: center;
}
	#owl-demo .item img{
		max-height: 80px;
	}
.owl-theme .owl-controls .owl-page span{
	background-color: #DC3C4C !important;
}
/*use styles below to disable ugly selection*/
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}