<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manage Brands
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Brands</h3>
            </div>
            <div class="box-body">
              <table id="tbl_brands" class="table table-bordered table-striped table-responsive">
                <thead>
                  <tr>
                    <th>Row</th>
                    <th>Brand Name</th>
                    <th>Location</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Date created</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                    <td>{{++index}}</td>
                    <td>{{val.name}}</td>
                    <td>{{val.location}}</td>
                    <td>{{val.category}}</td>
                    <td v-if="val.is_active==1">
                      <span class="label label-success">Active</span>
                    </td>
                    <td v-else>
                      <span class="label label-danger">Inactive</span>
                    </td>
                    <td>{{val.created_at ? val.created_at : 'N/A'}}</td>
                    <td>
                      <div class="dropdown">
                        <button
                          class="btn btn-primary dropdown-toggle"
                          type="button"
                          data-toggle="dropdown"
                        >
                          Show Actions
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="javascript:void(0)" @click="edit(val.brand_id)">Edit</a>
                          </li>
                          <!-- <li>
                            <a
                              href="javascript:void(0)"
                              @click="changeStatus(val.id,val.status)"
                            >Change Status</a>
                          </li>
                          <li>
                            <a href="javascript:void(0)" @click="deleteUser(val.id)">Delete User</a>
                          </li> -->
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
  </div>
</template>
<script type="text/javascript">
export default {
  data() {
    return {
      rows: []
    };
  },
  mounted() {
    loading();
    this.setTable();
    setTimeout(() => {
      close_loading();
    }, 1000);
  },
  methods: {
    setTable() {
      const url = `${base_url}/brands_api/get_brands`;
      axios
        .get(url)
        .then(response => {
          this.rows = response.data.brands;
          setTimeout(() => {
            $("#tbl_brands").DataTable({
              lengthMenu: [25, 50, 100],
              columnDefs: [
                {
                  targets: [6],
                  orderable: false
                },
              ]
            });
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    edit(id) {
      this.$router.push(`/edit_brandbrand_id/${escape(id).replace(/\//g, "$st")}`);
    },
    deleteUser(email) {
      confirm_alert(
        "Are you sure?",
        "You won't be able to revert this! ",
        "warning"
      ).then(response => {
        const url = `${base_url}users_api/delete`;
        axios
          .post(url, {
            token: getCookie("csrf_cookie"),
            email: email
          })
          .then(response => {
            location.reload();
          })
          .catch(function(error) {
            console.log(error);
          });
      });
    },
    changeStatus(email, status) {
      confirm_alert(
        "Are you sure?",
        "You won't be able to revert this! ",
        "warning"
      ).then(response => {
        const url = `${base_url}users_api/changeStatus`;
        axios
          .post(url, {
            token: getCookie("csrf_cookie"),
            email: email,
            status: status
          })
          .then(response => {
            location.reload();
          })
          .catch(function(error) {
            console.log(error);
          });
      });
    }
  }
};
</script>