<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Dashboard
        <small></small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    
    </section>
  </div>
</template>
<script type="text/javascript">
  export default{
    data(){
     return {
     	num_orders: 0,
     	num_products: 0,
     	num_sales: 0,
     	num_users: 0

     } 
    },
    mounted(){
      loading()
      this.getData()
      setTimeout(()=>{
        close_loading()
      },1000)
    },
    methods: {
    	getData(){
    		const url = `${base_url}/dashboard_api/get_dashboard_data`;
        axios.get(url)
	     .then((response) => {
	        this.num_orders = response.data.num_orders;
	        this.num_products = response.data.num_products;
	        this.num_sales = response.data.num_sales;
	        this.num_users = response.data.num_users;
	      })
	     .catch(function (error) {
	       console.log(error);
	     });
    	}
    }
  }
</script>