<template>
		  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <!-- <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div> -->
    <strong>Copyright {{ new Date().getFullYear() }}. Gifted. The Gift Giving Company
</strong>
  </footer>
</template>