<template>
		 <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="">
          	<router-link :to="{ name: '/' }" class=""><img src="assets/images/Gray/30x30/dashboard.png">
		                    <span>Dashboard</span></router-link>
        </li>
        <li class="treeview" v-if="email != 'test@gifted.ph' && email != 'test1@gifted.ph'">
          <a href="#">
            <img src="assets/images/Gray/30x30/users.png"> <span>Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ name: '/add_users' }" class=""><i class="fa fa-circle-o"></i>
                    <span>Add</span></router-link>
            </li>
            <li>
          		<router-link :to="{ name: '/view_users' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View List</span></router-link>
          	</li>
          </ul>
        </li>
        <li class="">
          	<router-link :to="{ name: '/view_orders' }" class=""><img src="assets/images/Gray/30x30/order.png">
		                    <span>Orders</span></router-link>
        </li>
        <li class="">
          	<router-link :to="{ name: '/view_vouchers' }" class=""><img src="assets/images/Gray/30x30/products.png">
		                    <span>Vouchers</span></router-link>
        </li>
        <li class="treeview ">
          <a href="#">
            <img src="assets/images/Gray/30x30/products.png"> <span>Brands</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ name: '/view_brands' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View List</span></router-link>
            </li>
          </ul>
        </li>
        
        <li class="treeview ">
          <a href="#">
            <img src="assets/images/Gray/30x30/dashboard.png"> <span>Corporate Clients</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ name: '/view_company_clients' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View List</span></router-link>
                    <router-link :to="{ name: '/add_company' }" class=""><i class="fa fa-circle-o"></i>
                    <span>Add</span></router-link>
            </li>
          </ul>
        </li>
        <li class="treeview ">
          <a href="#">
            <img src="assets/images/Gray/30x30/products.png"> <span>Categories</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ name: '/view_categories' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View List</span></router-link>
            </li>
          </ul>
        </li>
        <li class="treeview ">
          <a href="#">
            <img src="assets/images/Gray/30x30/loyalty_program.png"> <span>Promo Codes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ name: '/view_coupons' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View List</span></router-link>
            </li>
            <li>
              <router-link :to="{ name: '/add_coupon' }" class=""><i class="fa fa-circle-o"></i>
                    <span>Add</span></router-link>
            </li>
          </ul>
        </li>
        <li class="treeview ">
          <a href="#">
            <img src="assets/images/Gray/30x30/products.png"> <span>Greeting Cards</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ name: '/view_brands' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View List</span></router-link>
            </li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>

<script type="text/javascript">
  export default{
    data(){
     return {
       email: email

     } 
    },
    mounted(){
    },
  }
</script>