<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" id="admin-order-view">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       	View Reports
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><img src="assets/images/White/150x150/orders.png"></span>

            <div class="info-box-content">
              <span class="info-box-text">Orders</span>
              <span class="info-box-number">{{num_orders}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><img src="assets/images/White/150x150/sales.png"></span>

            <div class="info-box-content">
              <span class="info-box-text">Total Subtotal</span>
              <span class="info-box-number" >{{total_subtotal}} ฿</span>
            </div>
          </div>
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><img src="assets/images/White/150x150/products.png"></span>

            <div class="info-box-content">
              <span class="info-box-text">Total Cost</span>
              <span class="info-box-number" >{{total_base_price}} ฿</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><img src="assets/images/White/150x150/products.png"></span>

            <div class="info-box-content">
              <span class="info-box-text">Coupons Used</span>
              <span class="info-box-number" >{{total_coupons}} ฿</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><img src="assets/images/White/150x150/sales.png"></span>

            <div class="info-box-content">
              <span class="info-box-text">Profit</span>
              <span class="info-box-number">{{total_subtotal - total_base_price}} ฿</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
      	<div class="col-md-12">
      		<p>Date from: {{from}}</p>
      		<p>Date to: {{to}}</p>
      	</div>
      </div>
      <div class="row">
       <div class="col-md-3">
        <div class="form-group">
          <label for="email">From:</label>
          <input type="date" class="form-control" name="from" id="email" min="2018-10-12"  v-model="from" required>
        </div>
            </div>
       <div class="col-md-3">
        <div class="form-group">
          <label for="pwd">To:</label>
          <div class="input-group">
                  <input type="date" class="form-control" name="to" id="pwd" min="2018-10-12" v-model="to"  required>
                   <span class="input-group-btn">
                     <button type="button" class="btn btn-success btn-flat" @click="generate">Submit</button>
                   </span>
               </div>
        </div>
       </div>
      </div><!-- 
             <h3>Date: {{range}}</h3> -->
    	<div class="row">
    		<div class="col-md-12">
    			<!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Orders</h3>
            </div>
            <div class="box-body">
            	<table id="tbl_orders" class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                  <th>Invoice Number</th>
                  <th>Cost</th>
                  <th>Subtotal</th>
                  <th>Shipping</th>
                  <th>Discount</th>
                  <th>Amount</th>
                  <th>Date ordered</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                  <td><a href='javascript:void(0)' @click="view_order(val.id)">#{{ pad(val.id, 5) }}</a></td>
                  <td><p>{{val.total_base_price ? val.total_base_price : 0}} ฿</p></td>
                  <td><p>{{val.payment_details.sub_total}} ฿</p></td>
                  <td><p>{{val.payment_details.shipping_fee}} ฿</p></td>
                  <td><p>{{val.coupon_value}} ฿</p></td>
                  <td><p>{{val.price}} ฿</p></td>
                  <td >{{val.created_at}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    		</div>
    	</div>
    </section>
  </div>
</template>
<script type="text/javascript">
	export default{
	  data(){
	    return{
        rows: [],
        from:'',
        to:'',
        num_orders: 0,
        total_base_price: 0,
        total_subtotal: 0,
        total_coupons: 0,
        profit: 0
			}
	  },
	  mounted () {
      loading()
	  	  this.setTable();
      setTimeout(()=>{
        close_loading()
      },1000)
	  },
	  methods: {
    view_order(id) {
    	window.open(
				  base_url+`secure_admin#/view_orders/${escape(id).replace(/\//g,"$st")}`,
				  '_blank' // <- This is what makes it open in a new window.
				);
       // this.$router.push(`/view_orders/${escape(id).replace(/\//g,"$st")}`);
      }, 
      pad(num, size) {
        var s = num+"";
        while (s.length < size) s = "0" + s;
        return s;
      },
     generate() {
      const url = `${base_url}/Reports/get_orders`;
         axios.post(url,{
          token: getCookie('csrf_cookie'),
          from: this.from,
          to: this.to
      })
      .then((response) => {
       location.reload()
      })
      .catch(function (error) {
        console.log(error);
      });
     },
	  	  setTable() {
        const url = `${base_url}Reports/get_orders`;
        axios.get(url) 
  			  .then((response) => {
             //this.rows = response.data.orders;
             var orders = response.data.orders;
             this.from = response.data.from;
             this.to = response.data.to;
             orders.map((item, index) => {
              var payment_details = JSON.parse(item.payment_details);
               this.rows.push(
               {
                 id: item.id,
                 billing_info: JSON.parse(item.billing_info),
                 shipping_info:JSON.parse(item.shipping_info),
                 price:item.price,
                 status:item.status,
                 coupon_value:item.coupon_value,
                 payment_details: payment_details,
                 total_base_price: item.total_base_price,
                 admin_status:item.admin_status,
                 created_at:item.created_at,
               })
               this.total_base_price += parseInt(item.total_base_price) 
               this.total_subtotal += payment_details.sub_total
               this.total_coupons += parseInt(item.coupon_value)
             })
            setTimeout(() => {
             $('#tbl_orders').DataTable( {
                 "order": [[ 3, "desc" ]],
                  "lengthMenu": [25,50, 100],
                 "columnDefs": [ {
					          "targets": [0],
					    		},{'sType': 'currency', 'aTargets': [1,2,3,4,5] }]
             });
             this.num_orders = this.rows.length
            })
          })
			  .catch(function (error) {
			    console.log(error);
			  });
	  	}
   }
	}
</script>