<template>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Categories
        <small>Add category</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
     <div class="row">
      <div class="col-md-10 col-lg-6">
           <!-- Input addon -->
           <div class="box box-success">
             <!-- <div class="box-header with-border">
               <h3 class="box-title">Input Addon</h3>
             </div> -->
             <div class="box-body">
              <form action="#"  @submit.prevent="submitForm()" autocomplete="off">
               <div class="row">
                <div class="col-md-12">
                   <h4 >Category Information</h4>
                 </div>
               </div>
                <div class="row">
                 <div class="col-md-6">
                    <div class="form-group">
                       <label for="FirstName">Category</label>
                       <input class="form-control" id="first_name" name="first_name"  v-model="category_data.main_category"type="text"   required />
                    </div>
                 </div>
                </div>
                <button class="btn btn-success" id="btnSubmit">Add Category</button>
              </form>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
         </div>
     </div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
	.ladda-button {
		    padding: 7px 15px;
	}
</style>
<script type="text/javascript">

	export default{
	  data(){
	    return{
	    		category_data: {
        main_category: '',
        sub_category: JSON.stringify(['']),
        sub_category_chi: JSON.stringify(['']),
        sub_category_code: JSON.stringify(['']),
        sub_category_main_code: JSON.stringify([''])
       }
			}
	  },
	  mounted(){
	  },
	  methods: {
	    submitForm () {
	    	confirm_alert('The category will be added','','info').then((response) => {
	    			var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
			    	l.start();
			    	let category_data =  JSON.stringify(this.category_data);
			    	let url = base_url+'categories_api/add';
				  	axios.post(url, {
			        token: getCookie('csrf_cookie'),
			        category_data: category_data
			      })
			      .then((response) => {
			        if(response.data.message=="success") {
			            l.stop();
			            $("#btnSubmit").removeClass('ladda-button');
			            swal("Added Successfully","","success");
               var id = response.data.id;
			            setTimeout(()=>{
			            	this.$router.push(`/edit_category/${escape(id).replace(/\//g,"$st")}`);
			            },2000)
			        }
			        else {
			        	console.log(response.data.message);
			        }
			      })
			      .catch(function (error) {
			        console.log(error);
			      });
	    	});
	    	
	    }
	  }
	}
</script>