<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manage Categories
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Categories</h3>
            </div>
            <div class="box-body">
              <table
                id="tbl_categories"
                class="table table-bordered table-striped table-responsive"
              >
                <thead>
                  <tr>
                    <th>Row</th>
                    <th>Category Name</th>
						  <th>Tags</th>
						  <th>Type</th>
                    <th>Last Update</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                    <td>{{++index}}</td>
                    <td>{{val.name}}</td>
                    <td>{{val.tags}}</td>
                    <td>{{val.type}}</td>
                    <td>{{val.updated_at}}</td>
                    <td>
                      <div class="dropdown">
                        <button
                          class="btn btn-primary dropdown-toggle"
                          type="button"
                          data-toggle="dropdown"
                        >
                          Show Actions
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="javascript:void(0)" @click="edit(val.id)">Edit</a>
                          </li>
                          <li>
                            <a href="javascript:void(0)" @click="deleteUser(val.id)">Delete</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
  </div>
</template>
<script type="text/javascript">
export default {
  data() {
    return {
      rows: []
    };
  },
  mounted() {
    loading();
    this.setTable();
    setTimeout(() => {
      close_loading();
    }, 1000);
  },
  methods: {
    setTable() {
      const url = `${base_url}categories_api/get_all_categories`;
      axios
        .get(url)
        .then(response => {
          this.rows = response.data.categories;
          setTimeout(() => {
            $("#tbl_categories").DataTable();
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    edit(id) {
      this.$router.push(`/edit_category/${escape(id).replace(/\//g, "$st")}`);
    },
    deleteUser(id) {
      confirm_alert(
        "Are you sure?",
        "You won't be able to revert this! ",
        "warning"
      ).then(response => {
        const url = `${base_url}coupons_api/delete`;
        axios
          .post(url, {
            token: getCookie("csrf_cookie"),
            id: id
          })
          .then(response => {
            location.reload();
          })
          .catch(function(error) {
            console.log(error);
          });
      });
    },
    changeStatus(id, status) {
      confirm_alert(
        "Are you sure?",
        "You won't be able to revert this! ",
        "warning"
      ).then(response => {
        const url = `${base_url}coupons_api/changeStatus`;
        axios
          .post(url, {
            token: getCookie("csrf_cookie"),
            id: id,
            status: status
          })
          .then(response => {
            location.reload();
          })
          .catch(function(error) {
            console.log(error);
          });
      });
    }
  }
};
</script>