<template>
  <div class="container-fluid buyer_details_main_container">
    <br />
    <h3 class="main_color_text">2. Choose Gift Card Design:</h3>
    <br />
    <div class="row row-eq-height greeting_card_main_container">
      <div class="col-xs-4 col-sm-4 col-md-2" v-for="(value,index) in greeting_cards" :key="index">
        <label class="greeting_card_container" v-if="index < limit_by">
          <input
            type="radio"
            name="test"
            :value="value.id"
            v-model="gift_to_details.greeting_card_id"
          />
          <div class style="padding:5px;">
            <img
              :src="`${base_url+'uploads/greeting_cards/small/'+value.image}`"
              class="img-responsive center-block"
            />
            <center>
              <p>{{value.name}}</p>
            </center>
          </div>
        </label>
      </div>
      <br />
    </div>
    <button
      class="btn main_btn_clr"
      style="width:auto;display:block;margin:0 auto;border-radius: 5px;"
      @click="simple_toggle(default_limit, greeting_cards.length)"
    >{{ limit_by===12?'Show more Greetings Cards': 'Hide Greetings Cards'}}</button>
    <div class="row">
      <div class="col-md-12">
        <h3 class="main_color_text">3. Who are you giving this gift to?</h3>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-12">
          <div class="form-group" :class="{ hasError: $v.$error }">
            <label for>
              Recipient Name
              <span class="text-danger">*</span>
            </label>
            <input
              type="text"
              class="form-control"
              placeholder="Recipient Name"
              v-model="gift_to_details.name"
            />
            <div class="text-sm mt-2 text-red" v-if="$v.$error">
              <p
                class="text-danger"
                v-if="!$v.gift_to_details.name.required"
              >Recipient Name is required</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group" :class="{ hasError: $v.$error }">
            <label for>
              Email Address
              <span class="text-danger">*</span>
            </label>
            <input
              type="email"
              class="form-control"
              placeholder="Email Address"
              v-model="gift_to_details.email_address"
              required
            />
            <div class="text-sm mt-2 text-red" v-if="$v.$error">
              <p
                class="text-danger"
                v-if="!$v.gift_to_details.email_address.required"
              >Email Address is required</p>
              <p
                class="text-danger"
                v-if="!$v.gift_to_details.email_address.email"
              >Invalid email format</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" :class="{ hasError: $v.$error }">
            <label for>
              Contact Number
              <span class="text-danger">*</span>
            </label>
            <input
              type="text"
              class="form-control"
              placeholder="Contact Number"
              v-model="gift_to_details.contact_number"
              required
            />
            <div class="text-sm mt-2 text-red" v-if="$v.$error">
              <p
                class="text-danger"
                v-if="!$v.gift_to_details.contact_number.required"
              >Contact Number is required</p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for>Gift is From:</label>
            <input
              type="text"
              class="form-control"
              placeholder="From"
              v-model="gift_to_details.from_name"
              required
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <div class="form-group">
            <label for>
              What do you recommend to buy this gift with?
              <span class="text-danger">*</span>
            </label>
            <select name id v-model="gift_to_details.sub_category" class="form-control" required>
            <option value="Anything">Anything</option>
              <option :value="value" v-for="(value,index) in subcategories" :key="index">{{value}}</option>
            </select>
            <div class="text-sm mt-2 text-red" v-if="$v.$error">
              <p
                class="text-danger"
                v-if="!$v.gift_to_details.sub_category.required"
              >Gift Category is required</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for>Message</label>
            <textarea
              name="message"
              id
              class="form-control"
              cols="30"
              rows="5"
              placeholder="Enter your greeting message here..."
              style="height:170"
              v-model="gift_to_details.message"
              @keyup="messageLength()"
              maxlength="250"
              required
            ></textarea>
            <p>Characters limit left is {{max_character}}</p>
            <div class="text-sm mt-2 text-red" v-if="$v.$error">
              <p
                class="text-danger"
                v-if="!$v.gift_to_details.message.required"
              >Gift Message is required</p>
              <p
                class="text-danger"
                v-if="!$v.gift_to_details.message.maxLength"
              >Gift Message Max Length is 250 characters</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-default back_btn pull-left" @click="goBack()">Back</button>
        <button
          class="btn btn-primary checkout_btn main_bg_color pull-right"
          @click="finish()"
        >Checkout</button>
      </div>
    </div>
  </div>
</template>
<style scoped>
.back_btn,
.checkout_btn {
  padding: 10px 40px;
  font-size: 18px;
}
</style>
<script>
import { EventBus } from "../event-bus.js";
import { required, email, maxLength } from "vuelidate/lib/validators";
export default {
  props: ["clickedNext", "currentStep", "clickedBack","subcategories"],
  data() {
    return {
      gift_to_details: {
        name: "",
        email_address: "",
        contact_number: "",
        message: "",
        greeting_card_id: 1,
        sub_category: ""
      },
      sub_categories: [],
      greeting_cards: [],
      default_limit: 12,
      limit_by: 12,
      selected_greeting_card: [{}],
      base_url: base_url,
      brand_id: "",
      max_character:250
    };
  },
  validations: {
    gift_to_details: {
      name: { required },
      email_address: { required, email },
      contact_number: { required },
      message: { required,maxLength: maxLength(250) },
      sub_category: { required }
    }
  },
  mounted() {
    //this.getSubcategories();
    setTimeout(() => {
      this.getGreetingCards();
    }, 200);
  },
  methods: {
    messageLength(){
      var tmp_message = this.gift_to_details.message;
      var length = this.gift_to_details.message.length;
      this.max_character = 250 - length;
      if(length == 250) {
        this.gift_to_details.message = tmp_message;
      }
    },
    getSubcategories() {
      var url = base_url + "Api/get_subcategories";
      axios
        .post(url, {
          token: getCookie("csrf_cookie")
        })
        .then(response => {
          this.sub_categories = response.data.sub_categories;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    simple_toggle(default_limit, filters_length) {
      this.limit_by =
        this.limit_by === default_limit ? filters_length : default_limit;
    },
    selectGreetingCard(index) {},
    getGreetingCards() {
      var url = base_url + "greeting_cards/get_greeting_cards";
      axios
        .post(url, {
          token: getCookie("csrf_cookie")
        })
        .then(response => {
          this.greeting_cards = response.data.greeting_cards;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    goBack() {
      $(".wizard-footer-left button").click();
    },
    finish() {
      loading();
      this.$v.gift_to_details.$touch();
      // if its still pending or an error is returned do not submit
      if (this.$v.gift_to_details.$pending || this.$v.gift_to_details.$error){
        close_loading()
      };
      // to form submit after this
      EventBus.$emit("gift-to-details", JSON.stringify(this.gift_to_details));
      setTimeout(() => {
        $(".wizard-footer-right button").click();
      }, 100);
    }
  }
};
</script>