<template>
  <div class="container mt-3 mb-3">
    <form class="p-2" @submit.prevent="proceedOrder()">
      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <!-- <span class="badge badge-secondary badge-pill">{{product_details.length}}</span> -->
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class>
                <h6 class="my-0">
                  <b>Product</b>
                </h6>
                <!-- <small>EXAMPLECODE</small> -->
              </div>
              <span class>{{ quantity }} x {{product_name}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class>
                <h6 class="my-0">
                  <b>Subtotal</b>
                </h6>
                <!-- <small>EXAMPLECODE</small> -->
              </div>
              <span class>{{ transformPrice(sub_total) }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class>
                <h6 class="my-0">
                  <b>Service Fee</b>
                </h6>
                <!-- <small>EXAMPLECODE</small> -->
              </div>
              <span class>{{transformPrice(service_fee)}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div>
                <h6 class="my-0">
                  <b>Delivery Fee</b>
                </h6>
                <!-- <small>EXAMPLECODE</small> -->
              </div>
              <span>
                {{
                transformPrice(delivery_charge) == "₱0.00"
                ? "Free"
                : transformPrice(delivery_charge)
                }}
              </span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light" v-if="discount > 0">
              <div >
                <h6 class="my-0">
                  <b>Promo Code</b>
                </h6>
                <small>{{promo.toUpperCase()}}</small>
              </div>
              <span>{{transformPrice(discount)}}</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between bg-light"
              v-if="discount_amount > 0"
            >
              <div>
                <h6 class="my-0">
                  <b>Corporate Discount</b>
                </h6>
              </div>
              <span>{{transformPrice(discount_amount)}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class>
                <h6 class="my-0">
                  <b>VAT</b>
                </h6>
                <!-- <small>EXAMPLECODE</small> -->
              </div>
              <span class>{{transformPrice(vat)}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>
                <b>Total</b>
              </span>
              <strong>{{ transformPrice(total) }}</strong>
            </li>
          </ul>

          <h4>Payment</h4>
          <div class="d-block">
            <div class="custom-control custom-radio">
              <input
                id="paypal"
                name="paymentMethod"
                type="radio"
                class="custom-control-input"
                value="paypal"
                v-model="payment_method"
                required
              />
              <label class="custom-control-label" for="paypal">Paypal/Credit Card/Debit Card</label>
            </div>
            <div class="custom-control custom-radio">
              <input
                id="gifted_wallet"
                name="paymentMethod"
                value="gifted_wallet"
                type="radio"
                class="custom-control-input"
                v-model="payment_method"
              />
              <label
                class="custom-control-label"
                for="gifted_wallet"
              >Gifted Wallet ({{transformPrice(this.wallet)}})</label>
            </div>
            <div class="custom-control custom-radio">
              <input
                id="bank_deposit"
                name="paymentMethod"
                type="radio"
                value="bank_deposit"
                v-model="payment_method"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="bank_deposit">Bank Deposit (BPI and BDO)</label>
            </div>
          </div>
          <hr class="mb-4" />
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Coupon code" v-model="promo" />
            <div class="input-group-append">
              <button type="button" class="btn btn-secondary" @click.prevent="applyPromo()">Apply</button>
            </div>
          </div>
          <br />
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="save-info"
              v-model="isSaveAddress"
            />
            <label class="custom-control-label" for="save-info">Save this information for next time</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="terms_and_condition"
              v-model="terms_and_condition"
              required
            />
            <label class="custom-control-label" for="terms_and_condition">
              I agree with our
              <a href>terms and conditions</a>
            </label>
          </div>
          <br />
          <button class="btn btn-primary btn-lg btn-block main_bg_color" type="submit">Order now</button>
        </div>
        <div class="card p-2 col-md-8 order-md-1">
          <div class="row">
            <div class="col-md-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a :href="`${baseurl}`">Home</a>
                  </li>
                  <li class="breadcrumb-item" aria-current="page">
                    <a :href="`${baseurl + brand_slug}`">{{ brand_name }}</a>
                  </li>
                  <li class="breadcrumb-item active">Checkout</li>
                </ol>
              </nav>
            </div>
          </div>
          <h4 class="mb-3">Billing information</h4>
          <!-- <button @click="getUserDetails()">test</button> -->
          <div class="billing_information">
            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="firstName">First name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="First Name"
                  v-model="billing_information[0].first_name"
                  required
                />
              </div>
              <div class="col-md-5 mb-3">
                <label for="firstName">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Last Name"
                  v-model="billing_information[0].last_name"
                  required
                />
              </div>
              <div class="col-md-2 mb-3">
                <label for="firstName">Middle Initial</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="M.I."
                  v-model="billing_information[0].middle_initial"
                  required
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="email">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  name="contact_number"
                  placeholder="Your Email"
                  v-model="billing_information[0].email"
                  required
                />
              </div>
              <div class="col-md-5 mb-3">
                <label for="email">Company</label>
                <input
                  type="text"
                  class="form-control"
                  name="company"
                  placeholder="Your Company"
                  v-model="billing_information[0].company"
                />
              </div>
              <div class="col-md-2 mb-3">
                <label for="email">Contact #</label>
                <input
                  type="text"
                  class="form-control"
                  name="contact_number"
                  placeholder="09xxxxxxxxxx"
                  v-model="billing_information[0].contact_number"
                  required
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="address">Country</label>
                <select
                  name
                  id
                  v-model="billing_information[0].country"
                  class="form-control"
                  required
                >
                  <option
                    :value="item.name"
                    v-for="(item,index) in countries"
                    :key="index"
                  >{{item.name}}</option>
                </select>
              </div>
              <div class="col-md-5 mb-3">
                <label for="address">Province/City</label>
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  placeholder="Your Province or City"
                  v-model="billing_information[0].province"
                  required
                />
              </div>
              <div class="col-md-2 mb-3">
                <label for="address">Zip</label>
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  placeholder="xxxx"
                  v-model="billing_information[0].zip_code"
                  required
                />
              </div>
              <div class="col-md-12 mb-3">
                <label for="address">Full Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  placeholder="Your Full Address"
                  v-model="billing_information[0].address"
                  required
                />
              </div>
            </div>
          </div>

          <hr class="mb-4" />
          <h4 class="mb-3">Delivery Option</h4>

          <div class="d-block my-3">
            <div class="custom-control custom-radio">
              <input
                id="send_shipping"
                name="deliveryOption"
                type="radio"
                class="custom-control-input"
                value="send_shipping"
                v-model="delivery_option"
                required
              />
              <label class="custom-control-label" for="send_shipping">Send through Shipping Address</label>
            </div>
            <div class="custom-control custom-radio">
              <input
                id="send_email"
                name="deliveryOption"
                value="send_email"
                type="radio"
                class="custom-control-input"
                v-model="delivery_option"
                :disabled="product_category=='Physical GC'"
              />
              <label
                class="custom-control-label"
                for="send_email"
              >Send through Email - printable PDF (Free)</label>
            </div>

            <div class="send_later_container" v-if="delivery_option == 'send_email'">
              <br />
              <label for="send_later">
                <b>Send Later</b>
              </label>
              <input type="date" class="form-control" v-model="send_later" />
              <small>Note: Leave it blank if you want to send it right away.</small>
            </div>
          </div>
          <div class="shipping_info" v-if="delivery_option == 'send_shipping'">
            <hr class="mb-4" />
            <h4 class="mb-3">Shipping Information</h4>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="sameAsBilling"
                value="true"
                v-model="sameAsBilling"
                @change="sameAsBillingInfo"
              />
              <label class="custom-control-label" for="sameAsBilling">Same as Billing Information</label>
            </div>
            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="firstName">First name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="First Name"
                  v-model="shipping_information[0].first_name"
                  required
                />
              </div>
              <div class="col-md-5 mb-3">
                <label for="firstName">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Last Name"
                  v-model="shipping_information[0].last_name"
                  required
                />
              </div>
              <div class="col-md-2 mb-3">
                <label for="firstName">Middle name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="M.I."
                  v-model="shipping_information[0].middle_initial"
                  required
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="email">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  name="contact_number"
                  placeholder="Your Email"
                  v-model="shipping_information[0].email"
                  required
                />
              </div>
              <div class="col-md-5 mb-3">
                <label for="email">Contact number</label>
                <input
                  type="text"
                  class="form-control"
                  name="contact_number"
                  placeholder="09xxxxxxxxxx"
                  v-model="shipping_information[0].contact_number"
                  required
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="address">Country</label>
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  placeholder="Your Country"
                  v-model="shipping_information[0].country"
                  readonly
                />
              </div>
              <div class="col-md-5 mb-3">
                <label for="address">Province/City</label>
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  placeholder="Your Province or City"
                  v-model="shipping_information[0].province"
                  required
                />
              </div>
              <div class="col-md-2 mb-3">
                <label for="address">Zip</label>
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  placeholder="xxxx"
                  v-model="shipping_information[0].zip_code"
                  required
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="address">Full Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  placeholder="Your Full Address"
                  v-model="shipping_information[0].address"
                  required
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
<style>
.additional_order small {
  display: block;
}
footer {
  padding: 20px 0px 1px;
}
.product_name {
  width: 90%;
}
/*html,
body,
#app {
  height: 100%;
}*/
</style>
<script>
export default {
  data() {
    return {
      baseurl: "",
      tmp_order_details: [],
      delivery_charge: 0,
      product_name: "",
      quantity: "",
      sub_total: 0,
      total: 0,
      service_fee: 0,
      vat: 0,
      terms_and_condition: "",
      voucher: "",
      voucher_info: "",
      promo: "",
      product_category: "EGC",
      discount: "",
      discount_amount: 0,
      delivery_option: "send_email",
      billing_information: [
        {
          first_name: "",
          last_name: "",
          middle_initial: "",
          email: "",
          contact_number: "",
          address: "",
          company: "",
          country: "Philippines",
          province: "",
          zip_code: ""
        }
      ],
      shipping_information: [
        {
          first_name: "",
          last_name: "",
          middle_initial: "",
          email: "",
          contact_number: "",
          address: "",
          company: "",
          country: "Philippines",
          province: "",
          zip_code: ""
        }
      ],
      send_later: "",
      sameAsBilling: false,
      payment_method: "bank_deposit",
      isSaveAddress: true,
      total_price: 0,
      brand_name: brand_name,
      brand_slug: brand_slug,
      wallet: 0
    };
  },
  mounted() {
    loading();
    this.baseurl = base_url;
    this.getUserDetails();
    this.getCart();
  },
  methods: {
    applyPromo() {
      var url = base_url + "checkout/apply_promo";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          promo: this.promo
        })
        .then(response => {
          if (response.data.message == "success") {
            this.sub_total = response.data.sub_total;
            this.delivery_charge = response.data.delivery_charge;
            this.service_fee = response.data.service_fee;
            this.total = response.data.total;
            this.vat = response.data.vat;
            this.discount_amount = response.data.discount;
            this.product_name = response.data.product_name;
            this.quantity = response.data.quantity;
            this.discount = response.data.promo;
            notify2("Promo code applied", "", "success");
          } else {
            notify2(
              "Invalid Promo Code",
              "Please check you promo code",
              "error"
            );
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    getUserDetails() {
      var url = base_url + "checkout/get_user_details";
      axios
        .post(url, {
          token: getCookie("csrf_cookie")
        })
        .then(response => {
          this.wallet = parseInt(response.data.user_details.wallet);
          this.countries = response.data.countries;
          if (response.data.order_details.length != "") {
            var shipping_info = JSON.parse(
              response.data.order_details.shipping_address
            );
            var billing_info = JSON.parse(
              response.data.order_details.billing_address
            );
            if (billing_info != "") {
              this.billing_information[0].first_name = billing_info.first_name
                ? billing_info.first_name
                : "";
              this.billing_information[0].last_name = billing_info.last_name
                ? billing_info.last_name
                : "";
              this.billing_information[0].middle_initial = billing_info.middle_initial
                ? billing_info.middle_initial
                : "";
              this.billing_information[0].email = billing_info.email;
              this.billing_information[0].contact_number = billing_info.contact_number
                ? billing_info.contact_number
                : "";
              this.billing_information[0].address = billing_info.address
                ? billing_info.address
                : "";
              this.billing_information[0].country = billing_info.country
                ? billing_info.country
                : "";
              this.billing_information[0].province = billing_info.province
                ? billing_info.province
                : "";
              this.billing_information[0].zip_code = billing_info.zip_code
                ? billing_info.zip_code
                : "";
            }
            this.delivery_option = response.data.order_details.delivery_option;
            this.payment_method = response.data.order_details.payment_method;
            setTimeout(() => {
              if (shipping_info != "") {
                this.shipping_information[0].first_name = shipping_info.first_name
                  ? shipping_info.first_name
                  : "";
                this.shipping_information[0].last_name = shipping_info.last_name
                  ? shipping_info.last_name
                  : "";
                this.shipping_information[0].middle_initial = shipping_info.middle_initial
                  ? shipping_info.middle_initial
                  : "";
                this.shipping_information[0].email = shipping_info.email;
                this.shipping_information[0].contact_number = shipping_info.contact_number
                  ? shipping_info.contact_number
                  : "";
                this.shipping_information[0].address = shipping_info.address
                  ? shipping_info.address
                  : "";
                this.shipping_information[0].country = shipping_info.country
                  ? shipping_info.country
                  : "Philippines";
                this.shipping_information[0].province = shipping_info.province
                  ? shipping_info.province
                  : "";
                this.shipping_information[0].zip_code = shipping_info.zip_code
                  ? shipping_info.zip_code
                  : "";
              }
            }, 200);
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    sameAsBillingInfo() {
      var tmp_shipping_information = [
        {
          first_name: "",
          last_name: "",
          middle_initial: "",
          email: "",
          contact_number: "",
          address: "",
          country: "",
          province: "",
          zip_code: ""
        }
      ];
      if (this.sameAsBilling == true) {
        tmp_shipping_information = [
          {
            first_name: this.billing_information[0].first_name,
            last_name: this.billing_information[0].last_name,
            middle_initial: this.billing_information[0].middle_initial,
            email: this.billing_information[0].email,
            contact_number: this.billing_information[0].contact_number,
            address: this.billing_information[0].address,
            country: this.billing_information[0].country,
            province: this.billing_information[0].province,
            zip_code: this.billing_information[0].zip_code
          }
        ];
      }
      this.shipping_information = tmp_shipping_information;
    },
    getCart() {
      var url = base_url + "checkout/get_product_checkout_info";
      axios
        .post(url, {
          token: getCookie("csrf_cookie")
        })
        .then(response => {
          this.product_category = response.data.product_category;
          if (this.product_category == "Physical GC") {
            this.delivery_option = "send_shipping";
          }
          this.sub_total = response.data.sub_total;
          this.delivery_charge = response.data.delivery_charge;
          this.service_fee = response.data.service_fee;
          this.total = response.data.total;
          this.discount_amount = response.data.discount;
          this.vat = response.data.vat;
          this.product_name = response.data.product_name;
          this.quantity = response.data.quantity;
          close_loading();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    transformPrice(price) {
      var price = parseFloat(price);
      return "₱" + price.toFixed(2);
    },
    proceedOrder() {
      this.confirm_alert("Proceed with Order?", "", "info").then(response => {
        if (response) {
          var url = base_url + "checkout/proceed_order";
          axios
            .post(url, {
              token: getCookie("csrf_cookie"),
              billing_address: this.billing_information,
              shipping_information: this.shipping_information,
              isSaveAddress: this.isSaveAddress,
              payment_method: this.payment_method,
              delivery_option: this.delivery_option,
              send_later: this.send_later,
              promo: this.promo
            })
            .then(response2 => {
              console.log(response2);
              if (response2.data.message == "success") {
                notify2(
                  "Order Placed",
                  "Thank you for choosing Gifted.PH",
                  "success"
                );
                setTimeout(() => {
                  location.href =
                    this.baseurl +
                    "orders/view-order/" +
                    response2.data.order_number;
                }, 3000);
              } else if (response2.data.message == "invalid coupon") {
                notify2(
                  "Invalid Promo Code",
                  "Please check you promo code",
                  "error"
                );
              } else if (response2.data.message == "Insufficient credits") {
                notify2(
                  "Insufficient Credits",
                  "Please load your wallet.",
                  "error"
                );
              } else {
                notify2(
                  "Error",
                  "Please contact us and send a report for the error",
                  "error"
                );
              }
            })
            .catch(function(error) {
              alert(error);
            });
        }
      });
    },
    confirm_alert(title, text, type) {
      return swal({
        title: title,
        text: text,
        type: type,
        showCancelButton: true,
        confirmButtonColor: '#bfa255',
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      });
    }
  }
};
</script>
