<template>
  <div>
    <section id="section-generic-content">
      <div id="wrapper">
        <div class="container" id="contact">
          <br />
          <br />
          <div class="row">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a :href="`${baseurl}`">Home</a>
                </li>
                <li class="breadcrumb-item active">Contact</li>
              </ol>
            </nav>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h1 class="main_color_text">Contact Us</h1>
              <p>For inquiries, bulk orders, collaborations, comments and feedback, kindly fill up the form below.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-7">
              <form action method="post" @submit.prevent="submitForm()">
                <div class="row">
                  <div class="col-md-3">
                    <label for="first_tname">
                      First Name
                      <span class="red">*</span>
                    </label>
                  </div>

                  <div class="col-md-8">
                    <input
                      class="form-control big-textbox"
                      type="text"
                      name="first_name"
                      id="first_name"
                      v-model="send_email.first_name"
                      required
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <label for="last_name">
                      Last Name
                      <span class="red">*</span>
                    </label>
                  </div>

                  <div class="col-md-8">
                    <input
                      class="form-control big-textbox"
                      type="text"
                      name="last_name"
                      id="last_name"
                      v-model="send_email.last_name"
                      required
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <label for="email">
                      Email Address
                      <span class="red">*</span>
                    </label>
                  </div>

                  <div class="col-md-8">
                    <input
                      class="form-control big-textbox"
                      type="email"
                      name="email"
                      id="email"
                      v-model="send_email.email_address"
                      required
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <label for="subject">
                      Subject
                      <span class="red">*</span>
                    </label>
                  </div>

                  <div class="col-md-8">
                    <input
                      class="form-control big-textbox"
                      type="text"
                      name="subject"
                      id="subject"
                      v-model="send_email.subject"
                      required
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <label for="message">
                      Message
                      <span class="red">*</span>
                    </label>
                  </div>

                  <div class="col-md-8">
                    <textarea
                      class="form-control big-textbox"
                      name="message"
                      id="message"
                      rows="6"
                      v-model="send_email.message"
                      required
                    ></textarea>
                    <center>
                      <vue-recaptcha
                        sitekey="6LeB8cIUAAAAAJCxvh2-6G2eZhKRY4MguY8bH72W"
                        :loadRecaptchaScript="true"
                      ></vue-recaptcha>
                      <br />
                      <button class="btn btn-danger btn-medium-cta" type="submit">
                        <span style class="label-btn">Send Message</span>

                        <span class="home-arrow-btn"></span>
                      </button>
                    </center>
                  </div>
                </div>
                <br />
              </form>
            </div>

            <div class="col-lg-4 col-md-3 col-sm-3">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <a href="https://www.gifted.ph/faq">
                    <span class="info-icon soc-pn"></span>
                  </a>
                  <a href="https://www.gifted.ph/faq">
                    <span class="info">Visit our FAQ page for more information</span>
                  </a>

                  <br />
                  <br />
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <a href="mailto:admin@gifted.ph" style="color: #0e1011;">
                    <span class="info-icon soc-em"></span>
                  </a>
                  <span class="info">
                    <a href="mailto:admin@gifted.ph" style="color: #0e1011;">admin@gifted.ph</a>
                  </span>

                  <br />
                  <br />
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <a
                    href="http://facebook.com/giftedphilippines"
                    target="_blank"
                    style="color: #0e1011;"
                  >
                    <span class="info-icon soc-fb"></span>
                  </a>
                  <span class="info">
                    <a
                      href="http://facebook.com/giftedphilippines"
                      target="_blank"
                      style="color: #0e1011;"
                    >facebook.com/giftedphilippines</a>
                  </span>

                  <br />
                  <br />
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <a href="http://twitter.com/gifted_ph" target="_blank" style="color: #0e1011;">
                    <span class="info-icon soc-tw"></span>
                  </a>
                  <span class="info">
                    <a
                      href="http://twitter.com/gifted_ph"
                      target="_blank"
                      style="color: #0e1011;"
                    >twitter.com/gifted_ph</a>
                  </span>

                  <br />
                  <br />
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <a href="http://instagram.com/gifted_ph" target="_blank" style="color: #0e1011;">
                    <span class="info-icon soc-ig"></span>
                  </a>
                  <span class="info">
                    <a
                      href="http://instagram.com/gifted_ph"
                      target="_blank"
                      style="color: #0e1011;"
                    >instagram.com/gifted_ph</a>
                  </span>

                  <br />
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script type="text/javascript">
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import VueRecaptcha from "vue-recaptcha";
export default {
  components: { VueRecaptcha },
  data() {
    return {
      baseurl: base_url,
      send_email: {
        first_name: "",
        last_name: "",
        email_address: "",
        subject: "",
        message: ""
      },
      tmp_send_email: {
        first_name: "",
        last_name: "",
        email_address: "",
        subject: "",
        message: ""
      }
    };
  },
  mounted() {},
  methods: {
    submitForm() {
      var url = `${base_url}contact/send_message`;
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          send_email: this.send_email
        })
        .then(response => {
          if (response.data.message == "success") {
            notify2("Email Sent", "", "success");
            this.send_email = this.tmp_send_email;
          } else {
            notify2("Error", "Email not sent", "error");
          }
        })
        .catch(function(error) {
          console.log(error);
        });
      // var canned_message = this.canned_messages[index];
      // var canned_template = canned_message.name;
    }
  }
};
</script>