<template>
  <div>
    <div class="footer">
      <div class="maxwidth">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4">
              <div class="row">
                <div class="col-xs-12">
                  <div class="sm">SITE MAP</div>
                </div>
                <div class="col-xs-4">
                  <ul class="ftul">
                    <li>
                      <a :href="`${this.baseurl}gift-suggestions`">Home</a>
                    </li>
                    <li>
                      <a :href="`${this.baseurl}secure/login`">Log-in</a>
                    </li>
                    <li>
                      <a :href="`${this.baseurl}secure/register`">Sign-up</a>
                    </li>
                    <li>
                      <a :href="`${this.baseurl}cart/view-cart`">Cart</a>
                    </li>
                    <li>
                      <a :href="`${this.baseurl}gift-suggestions`">Send A Gift</a>
                    </li>
                    <li>
                      <a :href="`${this.baseurl}how-it-works`">How It Works</a>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-4">
                  <ul class="ftul">
                    <!--<li> <a :href="`${this.baseurl}gift-suggestions">Why Gifted</a></li>-->
                    <li>
                      <a :href="`${this.baseurl}about`">About</a>
                    </li>
                    <li>
                      <a :href="`${this.baseurl}products`">Browse Gifts</a>
                    </li>
                    <li>
                      <a :href="`${this.baseurl}gift-suggestions`">Gift Suggestions</a>
                    </li>
                    <li>
                      <a :href="`${this.baseurl}press`">Press</a>
                    </li>
                    <li>
                      <a :href="`${this.baseurl}blog`">Blog</a>
                    </li>
                    <li>
                      <a :href="`${this.baseurl}privacy-policy`">Privacy Policy</a>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-4">
                  <ul class="ftul">
                    <li>
                      <a :href="`${this.baseurl}contact-us`">Contact Us</a>
                    </li>
                    <li>
                      <a :href="`${this.baseurl}faq`">FAQ</a>
                    </li>
                    <li>
                      <a :href="`${this.baseurl}shipping-and-returns`">Shipping and Returns</a>
                    </li>
                    <li>
                      <a
                        href="https://www.theaffiliategateway.asia/directory/category/gifts-flowers/giftedph"
                      >Affiliates</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="sm">Featured In</div>
                  </div>
                  <div class="col-xs-4">
                    <img class="ftimg" :src="`${this.images_bundle}fhm.png`" alt="FHM" />
                  </div>
                  <div class="col-xs-4">
                    <img class="ftimg" :src="`${this.images_bundle}abscbn.png`" alt="ABS-CBN" />
                  </div>
                  <div class="col-xs-4">
                    <img class="ftimg" :src="`${this.images_bundle}rouge.png`" alt="Rouge" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <img
                      class="ftimg"
                      :src="`${this.images_bundle}parenting.png`"
                      alt="Parenting"
                    />
                  </div>
                  <div class="col-xs-4">
                    <img class="ftimg" :src="`${this.images_bundle}style.png`" alt="Style" />
                  </div>
                  <div class="col-xs-4">
                    <img class="ftimg" :src="`${this.images_bundle}fhm.png`" alt="FHM" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="text-center social-links">
                <a href="https://twitter.com/gifted_ph">
                  <img :src="`${this.images_bundle}twitter.png`" alt="Twitter" class="futllk" />
                </a>&nbsp;&nbsp;
                <a href="https://facebook.com/giftedphilippines">
                  <img :src="`${this.images_bundle}facebook.png`" alt="Facebook" class="futllk" />
                </a>&nbsp;&nbsp;
                <a href="http://instagram.com/gifted_ph">
                  <img :src="`${this.images_bundle}instagram.png`" alt="Instagram" class="futllk" />
                </a>&nbsp;&nbsp;
                <br />
                <div class="flus">Follow Us</div>
                <div class="flus">
                  <div
                    class="fb-like"
                    data-href="https://www.facebook.com/GiftedPhilippines"
                    data-layout="box_count"
                    data-action="like"
                    data-show-faces="true"
                    data-share="false"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <img src="img/white-line-foot.png" alt="" class="white-line-foot" /> -->
    </div>
    <footer class="text-center cu-fo">
      <div class="cards">
        <div class="item">
          <img :src="`${this.images_bundle}master-card.png`" alt="Master Card" />
        </div>
        <div class="item">
          <img :src="`${this.images_bundle}visa.png`" alt="Visa" />
        </div>
        <div class="item">
          <img :src="`${this.images_bundle}bdo.png`" alt="BDO" />
        </div>
        <div class="item">
          <img :src="`${this.images_bundle}paypal.png`" alt="Paypal" />
        </div>
        <div class="item">
          <img :src="`${this.images_bundle}bpi.png`" alt="BPI" />
        </div>
      </div>
      <span>Copyright 2020 Gifted | The Gift Giving Company</span>
    </footer>
  </div>
</template>

<script type="text/javascript">
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import VueRecaptcha from "vue-recaptcha";
export default {
  components: { VueRecaptcha },
  data() {
    return {
      baseurl: '',
      images_bundle:''
    };
  },
  mounted() {
     this.baseurl = base_url
     this.images_bundle = base_url + 'assets/img/'
  },
  methods: {
  }
};
</script>