<template>
  <div class="greeting_card_main_container container">
    <div class="row">
      <div class="col-md-12">
        <p class="greeting_cart_title">Select your Greeting Card Theme</p>
      </div>
    </div>
    <hr />
    <div class="row row-eq-height">
      <div class="col-xs-6 col-sm-4 col-md-2" v-for="index in 20" :key="index">
        <label class="greeting_card_container">
          <input type="radio" name="test" value="small" />
          <div class style="padding:5px;">
            <img
              :src="`${base_url+'uploads/greeting_cards/small/'+index+'.jpg'}`"
              class="img-responsive center-block"
            />
          </div>
          <p class="text-center">Greeting card name</p>
        </label>
      </div>
    </div>
  </div>
</template>
<script>
import { EventBus } from "../event-bus.js";
export default {
  props: ["clickedNext", "currentStep", "clickedBack"],
  data() {
    return {
      products: [],
      brand: [],
      base_url: base_url,
      msg:
        "For over 60 years adidas has been part of the world of sports on every level, delivering state-of-the-art sports footwear, apparel and accessories. Today, the adidas Group is a global leader in the sporting goods industry and its brands offer a broad portfolio of innovative products. Use this gift card at adidas retail locations or online at www.adidas.com."
    };
  },
  watch: {
    $v: {
      handler: function(val) {
        this.$emit("can-continue", { value: true });
      },
      deep: true
    },
    clickedNext(val) {},
    clickedBack(val) {
      alert(val);
    }
  },
  mounted() {
    setTimeout(() => {
      this.$emit("can-continue", { value: true });
    });
  },
  methods: {
    getGreetingCards() {
      var url = base_url + "products/get_products_by_brand_id";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          brand_id: this.brand.brand_id
        })
        .then(response => {
          this.products = response.data.products;
          // setTimeout(() => {
          //   var tmp_images = [];
          //   this.product.images = JSON.parse(this.product.images);
          //   for (var image in this.product.images) {
          //     tmp_images.push(this.product.images[image].filename);
          //   }
          //   this.product.images = tmp_images;
          //   $('.single-item').slick();
          // });
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>