<template>
  <div>
    <br />
    <div class="container orders_container mt-5 mb-5">
      <p>
        <a :href="`${baseurl}`">Go back to homepage</a>
      </p>
      <div class="row">
        <div class="col-md-4">
          <div class="info-box">
            <span class="info-box-icon bg-primary" style="background:#bfa255;">
              <img :src="`${baseurl}assets/images/White/150x150/orders.png`" />
            </span>

            <div class="info-box-content">
              <span class="info-box-text">Orders</span>
              <span class="info-box-number">{{orders.length}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="info-box">
            <span class="info-box-icon bg-danger main_bg_color">
              <img :src="`${baseurl}assets/images/White/150x150/sales.png`" />
            </span>

            <div class="info-box-content">
              <span class="info-box-text">Gifted Wallet</span>
              <span class="info-box-number">{{wallet}}</span>
              <small>
                <a href>Top-up</a>
              </small>
            </div>
            <!-- /.info-box-content -->
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div class="info-box">
            <span class="info-box-icon">
              <img src="assets/images/White/150x150/orders.png" />
            </span>

            <div class="info-box-content">
              <span class="info-box-text">Nothing</span>
              <span class="info-box-number">0</span>
            </div>
          </div>
        </div>-->
      </div>

      <h2>My Orders</h2>
      <hr />
      <data-tables
        :data="orders"
        style="width: 100%"
        :pagination-props="{ pageSizes: [10,15],layout: &quot;sizes, prev, pager, next, jumper, ->, total, slot&quot; }"
        :table-props="tableProps"
        
      >
        <el-table-column label="Date ordered" prop="created_at" sortable="custom">
          <template slot-scope="scope">
            <p>{{ formatDate(scope.row.created_at) }}</p>
          </template>
        </el-table-column>
        <el-table-column label="Payment method" prop="payment_method">
          <template slot-scope="scope">
            <div class="payment_method_container">
              <p v-if="scope.row.payment_method == 'bank_deposit'">Bank Transfer</p>
              <p v-else-if="scope.row.payment_method == 'paypal'">Paypal/CC/Debit</p>
              <p v-else>Gifted Wallet</p>
            </div>
            <div class="mobile_payment_method_container">
              <p v-if="scope.row.payment_method == 'bank_deposit'">Bank Transfer</p>
              <p v-else-if="scope.row.payment_method == 'paypal'">Paypal/CC/Debit</p>
              <p v-else>Gifted Wallet</p>
            </div>
            <p class="mobile_order_status">{{ scope.row.status }}</p>
          </template>
        </el-table-column>
        <el-table-column label="Status" prop="status">
          <template slot-scope="scope">
            <p>{{ scope.row.status }}</p>
          </template>
        </el-table-column>
        <el-table-column label="Total" prop="price">
          <template slot-scope="scope">
            <p>{{ transformPrice(scope.row.total) }}</p>
          </template>
        </el-table-column>
        <el-table-column label prop="price">
          <template slot-scope="scope">
            <div class="order_actions">
              <button
                class="btn btn-primary action_btn main_bg_color"
                @click="viewOrder(scope.row.order_number)"
              >
                <i class="fa fa-search"></i>
              </button>
              <button
                class="btn btn-primary action_btn main_bg_color"
                v-if="scope.row.status == 'Pending'"
                @click="cancelOrder(scope.row.order_key)"
              >
                <i class="fa fa-times"></i>
              </button>
            </div>
          </template>
        </el-table-column>
      </data-tables>
    </div>
  </div>
</template>
<style>
#app {
  margin-bottom: 30px;
}

.order_actions button {
  display: inline-block;
}
.orders_container [name="el-table_1_column_1"] {
  width: 20% !important;
}
.orders_container [name="el-table_1_column_2"] {
  width: 20% !important;
}
.orders_container [name="el-table_1_column_3"] {
  width: 20% !important;
}
.orders_container [name="el-table_1_column_4"] {
  width: 20% !important;
}
.orders_container [name="el-table_1_column_5"] {
  width: 20% !important;
}
.action_btn {
  display: inline-block;
}
.mobile_payment_method_container {
  display: none;
}
.mobile_payment_method_container p {
  margin-bottom: 0px;
}
.mobile_order_status {
  display: none;
}
@media (max-width: 991px) {
  .mobile_order_status {
    display: block;
  }
  .orders_container [name="el-table_1_column_4"] {
    display: none;
  }
  .payment_method_container {
    display: none;
  }
  .mobile_payment_method_container {
    display: block;
  }
}
</style>
<script>
export default {
  data() {
    return {
      baseurl: "",
      orders: [],
      wallet: 0,
      tableProps: {
        defaultSort: {
          prop: "created_at",
          order: "descending"
        }
      }
    };
  },
  mounted() {
    this.getUserOrders();
    this.baseurl = base_url;
  },
  methods: {
    viewOrder(order_number) {
      location.href = this.baseurl + "orders/view-order/" + order_number;
    },
    getUserOrders() {
      var url = base_url + "orders/get_user_orders";
      axios
        .post(url, {
          token: getCookie("csrf_cookie")
        })
        .then(response => {
          this.orders = response.data.orders;
          this.wallet = response.data.wallet;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    getTotalPrice() {},
    transformPrice(price) {
      var price = parseFloat(price);
      return "₱ " + price.toFixed(2);
    },
    formatDate(date) {
      var d = new Date(date.replace(/-/g, "/"));
      return d.getMonth() + "/" + d.getDay() + "/" + d.getFullYear();
    },
    cancelOrder(order_key) {
      this.confirm_alert(
        "Cancel Order?",
        "Are you sure to cancel your order?",
        "info"
      ).then(response => {
        if (response) {
          var url = base_url + "orders/cancel_order";
          axios
            .post(url, {
              token: getCookie("csrf_cookie"),
              order_key: order_key
            })
            .then(response => {
              location.reload();
            })
            .catch(function(error) {
              console.log(error);
            });
        }
      });
    },
    confirm_alert(title, text, type) {
      return swal({
        title: title,
        text: text,
        type: type,
        showCancelButton: true,
        confirmButtonColor: '#bfa255',
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      });
    }
  }
};
</script>
