<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 col-md-4">
        <!-- <div class="slider single-item">
          <div v-for="(image,index) in product.images" :key="index">
            <img :src="image.filename" alt="">
          </div>
        </div>-->
        <div class="brand_image_container">
          <span class="helper"></span>
          <img
            :src="`${base_url+'uploads/brands/'+brand.image}`"
            :alt="brand.name"
            class="img-responsive center-block"
          />
        </div>
        <br />
        <ul class="nav nav-tabs nav-justified brand_details">
          <li class="active">
            <a href="#1" data-toggle="tab">About</a>
          </li>
          <li>
            <a href="#2" data-toggle="tab">How to Redeem</a>
          </li>
        </ul>
        <div id="exTab2" class>
          <div class="tab-content">
            <div class="tab-pane active" id="1">
              <br />
              <p class="brand_description" v-html="displayText"></p>
              <a href="javascript:void(0)" @click="toggle">Show {{ toggled ? 'less' : 'more' }}</a>
            </div>
            <div class="tab-pane" id="2">
              <br />
              <p class="brand_description" v-html="brand.how_to_redeem"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-8">
        <div class="brand_description_container">
          <p class="text-center brand_title">{{brand.name}}</p>
          <p class="text-center brand_description">{{brand.category}}</p>
          <div class>
            <h3 class="main_color_text">1. Select Voucher</h3>
            <div class="row row-eq-height">
              <div
                class="col-xs-6 col-sm-4 col-md-4"
                v-for="(product,index) in products"
                :key="index"
              >
                <div class="card" @click="selectProduct(product.id,index)">
                  <div class="brand_product_container">
                    <span class="helper"></span>
                    <p>{{product.name}}</p>
                  </div>
                  <div class="card-block">
                    <p class="card-title product_price">PHP {{product.price}}</p>
                    
                    <!-- <hr />
                    <small>{{product.excerpt}}</small>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />

    <!-- Modal -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="selectProduct"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-lg vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">{{brand.name}} Voucher Details</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card">
                      <div class="brand_product_container">
                        <span class="helper"></span>
                        <p>{{selected_product_details.name}}</p>
                      </div>
                    </div>
                    <br />
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button
                          type="button"
                          class="quantity-left-minus btn btn-danger btn-number"
                          data-type="minus"
                          @click="deductQuantity"
                          data-field
                        >
                          <span class="glyphicon glyphicon-minus"></span>
                        </button>
                      </span>
                      <input
                        type="text"
                        id="quantity"
                        name="quantity"
                        class="form-control voucher_quantity"
                        v-model="quantity"
                        min="1"
                        max="100"
                      />
                      <span class="input-group-btn">
                        <button
                          type="button"
                          class="quantity-right-plus btn btn-success btn-number"
                          data-type="plus"
                          data-field
                          @click="addQuantity"
                        >
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </span>
                    </div>
                    <br />
                    <button
                      type="button"
                      class="btn main_btn_clr"
                      @click="sendGift('send_gift')"
                    >Send as a gift</button>
                    <button
                      type="button"
                      class="btn sub_btn_clr"
                      style="margin-top:10px;"
                      @click="sendGift('buy_myself')"
                    >Buy for myself</button>
                    <a :href="`${baseurl}contact`">
                      <button
                        type="button"
                        class="btn btn-default"
                        style="margin-top:10px;width:100%;border-radius:0px;"
                      >Click here to ask about Bulk Orders</button>
                    </a>

                    <!-- <button
                      type="button"
                      class="btn  sub_btn_clr"
                      style="margin-top:10px;"
                    >Add to wishlist</button>-->
                  </div>
                  <div class="col-md-8" v-if="selected_product_details">
                    <small class="voucher_price" v-html="selected_product_details.description"></small>
                    <p v-html="selected_product_details.terms_and_condition"></p>
                    <!-- <read-more
                      more-str="read more"
                      :text="selected_product_details.terms_and_condition"
                      link="#"
                      less-str="read less"
                      :max-chars="300"
                    ></read-more>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style >
.stepper-button {
  display: none !important;
}
</style>
<script>
import { EventBus } from "../event-bus.js";
export default {
  props: ["clickedNext", "currentStep"],
  data() {
    return {
      products: [],
      brand: [],
      toggled: false,
      limit: 400,
      baseurl: base_url,
      quantity: 1,
      base_url:"",
      selected_product: "",
      selected_product_details: [
        {
          excerpt: "",
          name: ""
        }
      ],
      msg:
        "For over 60 years adidas has been part of the world of sports on every level, delivering state-of-the-art sports footwear, apparel and accessories. Today, the adidas Group is a global leader in the sporting goods industry and its brands offer a broad portfolio of innovative products. Use this gift card at adidas retail locations or online at www.adidas.com."
    };
  },
  computed: {
    displayText() {
      if(this.brand.about)
      return this.toggled ? this.brand.about : this.truncate(this.brand.about);
    }
  },
  mounted() {
    this.getBrandAndProducts();
  },
  methods: {
    toggle() {
      console.log("tog");
      this.toggled = !this.toggled;
    },
    truncate(text) {
      if (text.length > this.limit) {
        for (let i = this.limit; i > 0; i--) {
          const currChar = text.charAt(i);
          const prevChar = text.charAt(i - 1);
          const prevCharNotPuncuation =
            prevChar != "," || prevChar != "." || prevChar != ".";
          if (currChar === " " && prevCharNotPuncuation) {
            return text.substring(0, i) + "...";
          }
        }
      } else {
        return text;
      }
    },
    addQuantity() {
      this.quantity++;
    },
    deductQuantity() {
      if (this.quantity != 1) {
        this.quantity--;
      }
    },
    selectProduct(id, index) {
      $("#selectProduct").modal("show");
      this.selected_product = id;
      this.selected_product_details = this.products[index];
      setTimeout(() => {
        this.msg = this.selected_product_details.terms_and_condition;
      });
    },
    sendGift(type) {
      $("#selectProduct").modal("hide");
      var selected_product_details = [
        {
          product_id: this.selected_product,
          greeting_card_id: 3,
          quantity: this.quantity,
          brand_id: this.brand.brand_id,
          brand_name: this.brand.name,
          brand_slug: this.brand.slug
        }
      ];

      EventBus.$emit(
        "select-product",
        JSON.stringify(selected_product_details)
      );

      EventBus.$emit(
        "send-brand-id", JSON.stringify(selected_product_details)
      );

      if (type == "send_gift") {
        $(".wizard-footer-right button").click();
      } else {
        if (is_logged == 1) {
          var status = this.saveTempOrder(selected_product_details);
          setTimeout(() => {
            var url = base_url + "checkout";
            location.href = url;
          });
        } else {
          var status = this.saveTempOrder(selected_product_details);
          setTimeout(() => {
            var url = base_url + "authentication/?redirect=checkout";
            location.href = url;
          });
        }
      }
    },
    saveTempOrder(selected_product_details) {
      var url = base_url + "orders/save_order";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          selected_product_details: selected_product_details
        })
        .then(response => {
          console.log(response);
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    getProduct() {
      var url = base_url + "products/get_products_by_brand_id";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          brand_id: this.brand.brand_id
        })
        .then(response => {
          this.products = response.data.products;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    getBrandAndProducts() {
      var url = base_url + "products/get_brand_and_products";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          slug: slug
        })
        .then(response => {
          this.brand = response.data.brand;
          this.products = response.data.products;
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>