<template>
  <div class="products_container container">
    <!-- <br />
    <div class="row">
      <div class="col-md-12">
        <div class="dish_menu_container">
          <div class="dish_menu" v-if="product_filter">
            <div
              v-for="(filter,index) in product_filter"
              :key="index"
              @click="sortMenu(filter)"
              :class="current_category == filter ? 'main_bg_color slick-slide slick-current slick-active':'slick-slide slick-active'"
            >
              <h3>{{filter}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <input type="text" class="form-control" placeholder="Search voucher..." />
      </div>
    </div>
    <hr />-->

    <section class="products">
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">Filter by Location</div>
            <div class="panel-body">
              <select
                name="location"
                id="location"
                class="form-control"
                v-model="location"
                @change="sortLocation"
              >
                <option value>Any</option>
                <option value="Nationwide">Nationwide</option>
                <option value="Makati">Makati</option>
                <option value="Manila">Manila</option>
                <option value="Quezon City">Quezon City</option>
                <option value="Mandaluyong">Mandaluyong</option>
                <option value="Taguig">Taguig</option>
                <option value="Pasay">Pasay</option>
                <option value="Muntinlupa">Muntinlupa</option>
              </select>
            </div>
            <div class="panel-heading">Filter by Voucher Type</div>
            <div class="panel-body">
              <ul class="category_menu">
                <li
                  v-for="(filter,index) in product_filter"
                  :key="index"
                  v-show="filter.type=='voucher_type'"
                >
                  <img :src="`${base_url+'assets/img/categoryicons/'+filter.logo}`" alt />
                  <a
                    href="javascript:void(0);"
                    @click.prevent="sortBrand(filter.name,filter.type)"
                  >{{filter.name}}</a>
                </li>
              </ul>
            </div>
            <div class="panel-heading">Filter by Category</div>
            <div class="panel-body">
              <ul class="category_menu">
                <li
                  v-for="(filter,index) in product_filter"
                  :key="index"
                  v-show="filter.type=='category'"
                >
                  <img :src="`${base_url+'assets/img/categoryicons/'+filter.logo}`" alt />
                  <a
                    href="javascript:void(0);"
                    @click.prevent="sortBrand(filter.name,filter.type)"
                  >{{filter.name}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <h3 class="vouchers_header">Available Brands</h3>
            </div>
            <div class="col-md-6 col-md-offset-2">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control search_branch"
                  aria-label="Search for brands"
                  placeholder="Search for brands"
                  @input="searchBrand()"
                  v-model="search"
                />
                <span class="input-group-addon">
                  <i class="fa fa-search"></i>
                </span>
              </div>
            </div>
          </div>
          <br />
          <div class="row row-eq-height">
            <div
              class="col-xs-6 col-sm-4 col-md-4 col-lg-3 product"
              v-for="(brand, index) in brands"
              :key="index"
            >
              <div class="card" @click="selectProduct(brand.slug)">
                <div class="card-image">
                  <span class="helper"></span>
                  <img
                    class="card-img-top img-responsive center-block"
                    :src="`${base_url+'uploads/brands/'+brand.image}`"
                    :alt="brand.name"
                  />
                </div>
                <div class="card-block">
                  <p class="card-title">{{brand.name}}</p>
                  <!-- <p
                    class="card-text"
                  >This card has supporting text below as a natural lead-in to additional content.</p>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      product_filter: [],
      tmp_brands: [],
      current_category: "All",
      brands: [],
      base_url: base_url,
      search: "",
      location: ""
    };
  },
  mounted() {
    this.setCategories();
    this.getProducts();
  },
  methods: {
    setCategories() {
      var url = base_url + "products/get_categories";
      axios
        .post(url, {
          token: getCookie("csrf_cookie")
        })
        .then(response => {
          this.product_filter = response.data.categories;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    selectProduct(slug) {
      window.location = base_url + slug;
    },
    getProductImage(images) {
      var index = 0;
      var filename = "";
      var base_img = base_url + "uploads/images/thumbnails/";
      for (var image in images) {
        if (index == 0) {
          return base_img + images[image].filename;
          break;
        }
        index++;
      }
    },
    getProducts() {
      var url = base_url + "products/get_brands";
      axios
        .post(url, {
          token: getCookie("csrf_cookie")
        })
        .then(response => {
          this.brands = response.data.brands;
          this.tmp_brands = response.data.brands;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    searchBrand() {
      var toSearch = trimString(this.search).toLowerCase();
      var results = [];
      for (var i = 0; i < this.tmp_brands.length; i++) {
        for (var key in this.tmp_brands[i]) {
          if (
            this.tmp_brands[i]["name"].toLowerCase().indexOf(toSearch) != -1
          ) {
            if (!itemExists(results, this.tmp_brands[i]))
              results.push(this.tmp_brands[i]);
          }
        }
      }
      this.brands = results;
    },
    sortBrand(category, type) {
      //var tags = tag ? tag.split(";") : [];
      if (category == "Anything") {
        this.brands = this.tmp_brands;
      } else {
        var results = [];
        // for (var x = 0; x < tags.length; x++) {
        //   var toSearch = trimString(tags[x]).toLowerCase();

        //   for (var i = 0; i < this.tmp_brands.length; i++) {
        //     for (var key in this.tmp_brands[i]) {
        //       if (
        //         this.tmp_brands[i]["category"]
        //           .toLowerCase()
        //           .indexOf(toSearch) != -1
        //       ) {
        //         if (!itemExists(results, this.tmp_brands[i]))
        //           results.push(this.tmp_brands[i]);
        //       }
        //     }
        //   }
        // }
        var toSearch = trimString(category).toLowerCase();
        if (type == "category") {
          for (var i = 0; i < this.tmp_brands.length; i++) {
            for (var key in this.tmp_brands[i]) {
              if (
                this.tmp_brands[i]["category"]
                  .toLowerCase()
                  .indexOf(toSearch) != -1
              ) {
                if (!itemExists(results, this.tmp_brands[i]))
                  results.push(this.tmp_brands[i]);
              }
            }
          }
          this.brands = results;
        } else {
          var is_egc = category == "E-vouchers" ? 1 : 0;
          for (var i = 0; i < this.tmp_brands.length; i++) {
            for (var key in this.tmp_brands[i]) {
              if (
                this.tmp_brands[i]["is_egc"]
                  .toLowerCase()
                  .indexOf(is_egc) != -1
              ) {
                if (!itemExists(results, this.tmp_brands[i]))
                  results.push(this.tmp_brands[i]);
              }
            }
          }
          this.brands = results;
        }
      }
    },
    sortLocation() {
      var tags = this.location;
      if (tags == "") {
        this.brands = this.tmp_brands;
      } else {
        var results = [];
        var toSearch = trimString(tags).toLowerCase();

        for (var i = 0; i < this.tmp_brands.length; i++) {
          for (var key in this.tmp_brands[i]) {
            if (
              this.tmp_brands[i]["location"].toLowerCase().indexOf(toSearch) !=
              -1
            ) {
              if (!itemExists(results, this.tmp_brands[i]))
                results.push(this.tmp_brands[i]);
            }
          }
        }

        this.brands = results;
      }
    }
  }
};
</script>