<template>
  <div class="pb-5 profile">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5 mt-5 cart_summary_container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a :href="`${baseurl}checkout`">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
          </nav>
          <br />
          <div class="container">
            <h4 class="text-center">My Profile</h4>
            <hr />
            <div class="row">
              <div class="col-10 offset-1">
                <form action="#" method="POST" @submit.prevent="updateUserDetails()">
                  <label for="username">Email</label>
                  <input type="text" class="form-control" v-model="email" readonly />
                  <label for="username">Name</label>
                  <input type="text" class="form-control" v-model="name" required />
                  <label for="username">Contact number</label>
                  <input type="text" class="form-control" v-model="contact_number" required />
                  <br />
                  <button class="btn btn-primary main_bg_color float-right">Continue</button>
                </form>
              </div>
            </div>
            <br />
            <h4 class="text-center">Password</h4>
            <hr />
            <div class="row" v-if="reg_type == 'Manual'">
              <div class="col-10 offset-1">
                <label for="username">Current password</label>
                <input type="password" class="form-control" v-model="current_password" />
                <label for="username">New password</label>
                <input type="password" class="form-control" v-model="new_password" />
                <br />
                <button class="btn btn-primary main_bg_color float-right" @click="updatePassword()">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style >
.additional_order small {
  display: block;
}
</style>
<script>
export default {
  data() {
    return {
      baseurl: "",
      name: "",
      email: "",
      contact_number: "",
      reg_type: "",
      current_password: "",
      new_password: ""
    };
  },
  computed: {},
  created() {},
  mounted() {
    this.baseurl = base_url;
    this.getUserDetails();
  },
  methods: {
    getUserDetails() {
      var url = base_url + "profile/get_user_details";
      axios
        .post(url, {
          token: getCookie("csrf_cookie")
        })
        .then(response => {
          var user_details = response.data.user_details;
          this.email = user_details.email;
          this.reg_type = user_details.reg_type;
          this.name = user_details.name;
          this.contact_number = user_details.contact_number;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    updatePassword() {
      var url = base_url + "profile/change_password";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          password: this.current_password,
          new_password: this.new_password
        })
        .then(response => {
          if (response.data.message) {
            swal(
              "Updated Successfully",
              "Account password updated successfully",
              "success"
            );
            setTimeout(() => {
              location.reload();
            }, 2000);
          } else {
            swal(
              "Change Password failed",
              response.data.error_msg,
              "warning"
            );
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    updateUserDetails() {
      var url = base_url + "profile/update_user_details";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          contact_number: this.contact_number,
          name: this.name
        })
        .then(response => {
          swal(
            "Updated Successfully",
            "Account details updated successfully",
            "success"
          );
          setTimeout(() => {
            location.reload();
          }, 2000);
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    updateUserPassword() {
      var url = base_url + "profile/update_user_details";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          contact_number: this.contact_number,
          name: this.name
        })
        .then(response => {
          swal(
            "Updated Successfully",
            "Account password updated successfully",
            "success"
          );
          setTimeout(() => {
            location.reload();
          }, 2000);
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    transformPrice(price) {
      var price = parseFloat(price);
      return "₱" + price.toFixed(2);
    }
  }
};
</script>