<template>
  <div>
    <div class="container">
      <div class="row">
        <div id="voucher-form-wrapper">
          <img :src="`${baseurl}assets/img/logo.png`" alt="Gifted logo" />
          <br />
          <br />

          <form action="#" @submit.prevent="validateVoucher()" method="POST">
            <label>
              Enter Voucher Code
              <span class="text-danger">*</span>
            </label>
            <input
              type="text"
              name="voucher"
              id="voucher"
              class="input-medium"
              v-model="voucher_code"
              placeholder="Voucher code"
              autocomplete="off"
            />
            <br />
            <br />
            <label>Enter Branch</label>
            <br />
            <input
              type="text"
              name="voucher"
              class="input-medium"
              v-model="redemption_branch_name"
              placeholder="Branch or Location"
              autocomplete="off"
            />
            <center>
              <br />
              <vue-recaptcha
                sitekey="6LeB8cIUAAAAAJCxvh2-6G2eZhKRY4MguY8bH72W"
                :loadRecaptchaScript="true"
              ></vue-recaptcha>
            </center>
            <br />
            <button type="submit" class="btn btn-primary btn-danger btn-medium-cta">
              <span class="label-btn">Submit</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import VueRecaptcha from "vue-recaptcha";
export default {
  components: { VueRecaptcha },
  data() {
    return {
      baseurl: "",
      voucher_code: "",
      redemption_branch_name: ""
    };
  },
  mounted() {
     this.baseurl = base_url;
  },
  methods: {
    validateVoucher() {
      loading();
      var url = this.baseurl + "validate/validate_voucher";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          voucher_code: this.voucher_code,
          redemption_branch_name: this.redemption_branch_name
        })
        .then(response => {
          setTimeout(() => {
            if (response.data.message == "success") {
              notify2(
                "Thank you for using our service.",
                "Voucher Successfully Redeemed",
                "success"
              );
              this.voucher_code = "";
              this.redemption_branch_name = "";
            } else {
              notify2("Error", response.data.message, "error");
            }
          },2000);
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>