<template>
  <div class="products_container container">
    <section class="products">
      <div class="row">
        <div class="col-8 col-offset-2">
          <form-wizard finish-button-text="Checkout" color="#DE3C4C" @on-complete="onComplete">
            <tab-content title="Personal details">
              <product></product>
            </tab-content>
            <tab-content title="Additional Info">
              <buyer-details :subcategories="sub_categories"></buyer-details>
            </tab-content>
          </form-wizard>
        </div>
      </div>
    </section>
  </div>
</template>
<style>
.divider-line,
.steps-wrapper {
  display: none !important;
}
.vue-form-wizard {
  background: white;
}
.wizard-nav-pills,
.wizard-progress-with-circle,
.wizard-header {
  display: none !important;
}
.wizard-card-footer {
  display: none;
}
</style>
<script>
import { FormWizard, TabContent } from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import Product from "./Product.vue";
import BuyerDetails from "./BuyerDetails.vue";
import GreetingTemplate from "./GreetingTemplate.vue";
import { EventBus } from "../event-bus.js";
export default {
  name: "view-product",
  components: {
    FormWizard,
    TabContent,
    Product,
    BuyerDetails
  },
  data() {
    return {
      selected_product_details: [],
      gift_to_details: [],
      sub_categories: []
    };
  },
  mounted() {
    EventBus.$on("select-product", selected_product_details => {
      this.selected_product_details = JSON.parse(selected_product_details);
      setTimeout(()=>{
        this.getSubcategories(this.selected_product_details[0].brand_id)
      })
      // this.product_id = product_details[0].product_id;
      // this.quantity = product_details[0].quantity;
      // this.greeting_card_id = product_details[0].greeting_card_id;
    });

    EventBus.$on("gift-to-details", gift_to_details => {
      this.gift_to_details = JSON.parse(gift_to_details);
      setTimeout(()=>{
        this.selected_product_details[0].greeting_card_id = this.gift_to_details.greeting_card_id
      })
    });
  },
  methods: {
    getSubcategories(brand_id) {
      var url = base_url + "Api/get_subcategories";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          brand_id:brand_id
        })
        .then(response => {
          this.sub_categories = response.data.sub_categories;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    onComplete: function() {
      var status = this.saveTempOrder();
    },
    saveTempOrder() {
      var url = base_url + "orders/save_order";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          selected_product_details: this.selected_product_details,
          gift_to_details: this.gift_to_details
        })
        .then(response => {
          if (is_logged == 1) {
            setTimeout(() => {
              var url = base_url + "checkout";
              location.href = url;
            }, 1500);
          } else {
            setTimeout(() => {
              var url = base_url + "authentication/?redirect=checkout";
              location.href = url;
            }, 1500);
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>