<template>
  <div class="pb-5 cart_summary">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5 mt-5 cart_summary_container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a :href="`${baseurl}checkout`">Home</a>
              </li>
              <li class="breadcrumb-item " aria-current="page"><a :href="`${baseurl}Orders/`">Orders</a></li>
              <li class="breadcrumb-item active">
                <a href="#">View Order</a>
              </li>
            </ol>
          </nav>
          <div v-if="product_details.length == 0">
            <p>
              Your cart is empty
              <a :href="`${baseurl}`">Go back to shopping</a>
            </p>
          </div>
          <!-- Shopping cart table -->
          <div class="table-responsive" v-else>
            <table class="table product_details_table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Product</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Price</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Qty</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(product, index) in product_details" :key="index">
                  <th scope="row" class="border-0">
                    <div class="p-2">
                      <el-image
                        class="img-fluid rounded shadow-sm d-none d-md-inline-block d-lg-inline-block"
                        :src="`${baseurl+'uploads/products/'+product.restaurant_slug+'/'+product.product_image}`"
                        :alt="`${product.product_image}} logo`"
                        style="width:50px;height:30px;"
                        lazy
                      >
                        <div slot="error" class="image-slot">
                          <img
                            src="https://www.lauriloewenberg.com/wp-content/uploads/2019/04/No_Image_Available.jpg"
                            alt="no image"
                            class="card-img-top resto_logo"
                          />
                        </div>
                      </el-image>

                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0">
                          <a
                            href="#"
                            class="text-dark d-inline-block align-middle"
                          >{{product.product_name}}</a>
                        </h5>
                        <div
                          class="additional_order"
                          v-if="product.side_dish.length > 0 || product.additional_information != ''"
                        >
                          <small
                            v-for="(side_dish_id,index2) in product.side_dish_id"
                            :key="index2"
                          >+ {{getSideDish(product.side_dish,side_dish_id)}}</small>
                          <small
                            v-if="product.additional_information"
                          >+ {{product.additional_information}}</small>
                        </div>
                      </div>
                    </div>
                  </th>
                  <td class="border-0 align-middle">
                    <strong>{{transformPrice(product.price)}}</strong>
                  </td>
                  <td class="border-0 align-middle">
                    <strong>{{product.quantity}}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End -->
        </div>
      </div>

      <div class="row py-5 p-4 bg-white rounded shadow-sm cart_summary_price_container">
        <div class="col-lg-6">
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Billing information</div>
          <div class="p-4">
            <p class="font-italic mb-4">{{billing_address[0].name}}</p>
            <p class="font-italic mb-4">{{billing_address[0].contact_number}}</p>
            <p class="font-italic mb-4">{{billing_address[0].address}}</p>
            <p class="font-italic mb-4" v-if="billing_address[0].sub_address!=''">{{billing_address[0].sub_address}}</p>
          </div>
          <div
            class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold"
          >Instructions for seller</div>
          <div class="p-4">
            <p>{{additional_information}}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary</div>
          <div class="p-4">
            <!-- <p
              class="font-italic mb-4"
            >Shipping and additional costs are calculated based on values you have entered.</p>-->
            <ul class="list-unstyled mb-4 price_details">
              <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">Payment Method</strong>
                <strong>{{this.payment_method}}</strong>
              </li>
              <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">Status</strong>
                <strong>{{this.status}}</strong>
              </li>
              <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">Order Subtotal</strong>
                <strong>{{transformPrice(sub_total)}}</strong>
              </li>
              <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">Shipping and handling</strong>
                <strong>{{transformPrice(delivery_charge)}}</strong>
              </li>
              <li class="d-flex justify-content-between py-3 border-bottom" v-if="voucher">
                <strong class="text-muted">Voucher</strong>
                <strong>{{voucher.toUpperCase()}}</strong>
              </li>
              <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">Total</strong>
                <h5 class="font-weight-bold">{{transformPrice(total_price)}}</h5>
              </li>
            </ul>
            <button
              @click="cancelOrder(this.order_key)"
              class="btn rounded-pill py-2 btn-block main_bg_color"
              v-if="status=='Pending'"
            >Cancel Order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style >
.additional_order small {
  display: block;
}
</style>
<script>
export default {
  data() {
    return {
      baseurl: "",
      product_details: [],
      restaurant: [],
      order_number: "",
      billing_address: [{
        name: "",
        contact_number: "",
        address: "",
        sub_address: ""
      }],
      additional_information: "",
      payment_method: '',
      status: '',
      voucher: ''
    };
  },
  computed: {},
  created() {},
  mounted() {
    this.baseurl = base_url;
    if (order_number == "") {
      location.href = base_url;
    } else {
      this.order_number = order_number;
      setTimeout(() => {
        this.getOrder();
      });
    }
  },
  methods: {
    getSideDish(side_dish, side_dish_id) {
      return side_dish[side_dish_id];
    },
    transformPrice(price) {
      var price = parseFloat(price);
      return "₱" + price.toFixed(2);
    },
    getOrder() {
      var url = base_url + "orders/get_order";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          order_key: this.order_key
        })
        .then(response => {
          this.product_details = response.data.product_details.order
            ? JSON.parse(response.data.product_details.order)
            : [];
         this.billing_address = response.data.product_details.billing_address
            ? JSON.parse(response.data.product_details.billing_address)
            : [];
         this.status = response.data.product_details.status
         this.payment_method = response.data.product_details.payment_method
          var order_price_details = response.data.order_price_details;
          this.sub_total = order_price_details.sub_total;
          this.delivery_charge = order_price_details.delivery_fee;
          this.voucher = response.data.voucher;
          this.total_price = this.sub_total + this.delivery_charge;
          this.additional_information = response.data.additional_information;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    getRestaurantInfo() {
      var url = base_url + "food/get_restaurant_info";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          restaurant_code: restaurant_code
        })
        .then(response => {
          this.restaurant = response.data.restaurant;
        })
        .then(response => {
          this.setCategories();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    cancelOrder(order_key) {
      confirm_alert("Cancel Order?","Are you sure to cancel your order?","info").then((response) => {
        if(response) {
          var url = base_url + "orders/cancel_order";
           axios
            .post(url, {
              token: getCookie("csrf_cookie"),
              order_key: order_key
            })
            .then(response => {
              location.reload();
            })
            .catch(function(error) {
              console.log(error);
            });
        }
      });
    }
  }
};
</script>