<template>
  <div class="pb-5 profile">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5 mt-5 cart_summary_container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a :href="`${baseurl}checkout`">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
          </nav>

          <br />

          <div class="container">
            <div class="row">
              <div class="col-10 offset-1">
                <div v-if="payment_method=='bank transfer'">
                  <h5 class="text-center">Bank Account Details:</h5>
                  <p class="text-center">
                    <span style="text-align: justify;">
                      Bank Name: BDO
                      <br />Account Name: Jonas Dulay
                      <br />Account Number: 010860035980
                    </span>
                    <!-- </p>
                <center>
                  <p
                    class="text-center"
                    style="width: 70%;"
                  >Thank you for placing your order. The items in your order have been reserved. Kindly make payment via bank transfer within the next 72 hours otherwise your order may be canceled. Once payment is received, your order will be shipped out within 1 - 2 business days! Thank you for your continued support!</p>
                    </center>-->
                  </p>
                </div>

                <h4>My Pabile Wallet</h4>
                <hr />

                <form action="#" method="POST" @submit.prevent="requestLoad()">
                  <label>Current Balance: {{transformPrice(0)}}</label>
                  <input
                    type="number"
                    class="form-control"
                    min="100"
                    max="10000"
                    v-model="amount"
                    required
                  />
                  <br />
                  <div v-if="payment_method=='pickup'">
                    <label>Full Address:</label>
                    <input type="text" class="form-control" v-model="full_address" required />
                    <br />
                  </div>
                  <label>Payment Method:</label>
                  <div class="radio">
                    <label>
                      <input type="radio" value="bank transfer" v-model="payment_method" /> Bank Transfer
                    </label>
                  </div>
                  <label>Transfer to (optional):</label>
                  <div class="radio">
                    <label>
                      <input type="text" class="form-control" v-model="transfer_to" placeholder="Please indicate the email address you want to transfer your load" />
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" value="pickup" v-model="payment_method" /> Pick Up
                    </label>
                  </div>
                  <button class="btn btn-primary main_bg_color float-right load_now">Load Now</button>
                </form>
              </div>
            </div>
            <br />
            <div class="row orders_container">
              <div class="col-10 offset-1">
                <data-tables :data="orders" style="width: 100%">
                  <el-table-column label="Date" prop="created_at">
                    <template slot-scope="scope">
                      <p>{{formatDate(scope.row.created_at)}}</p>
                    </template>
                  </el-table-column>
                  <el-table-column label="Payment" prop="payment_method">
                    <template slot-scope="scope">
                      <div class="payment_method_container">
                        <p v-if="scope.row.payment_method=='pickup'">Pick up</p>
                        <p v-else>Bank Transfer</p>
                      </div>
                      <div class="mobile_payment_method_container">
                        <p v-if="scope.row.payment_method=='pickup'">Pick up</p>
                        <p v-else>Wallet</p>
                      </div>
                      <p class="mobile_order_status">{{scope.row.status}}</p>
                    </template>
                  </el-table-column>
                  <el-table-column label="Status" prop="status">
                    <template slot-scope="scope">
                      <p>{{scope.row.status}}</p>
                    </template>
                  </el-table-column>
                  <el-table-column label="Total" prop="price">
                    <template slot-scope="scope">
                      <p>{{transformPrice(scope.row.amount)}}</p>
                    </template>
                  </el-table-column>
                  <el-table-column label prop="price">
                    <template slot-scope="scope">
                      <div class="order_actions">
                        <button
                          class="btn btn-primary action_btn main_bg_color"
                          v-if="scope.row.status=='Pending'"
                          @click="cancelOrder(scope.row.order_key)"
                        >
                          <i class="fa fa-times"></i>
                        </button>
                      </div>
                    </template>
                  </el-table-column>
                </data-tables>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style >
.additional_order small {
  display: block;
}
.order_actions button {
  display: inline-block;
}
.orders_container [name="el-table_1_column_1"] {
  width: 20% !important;
}
.orders_container [name="el-table_1_column_2"] {
  width: 30% !important;
}
.orders_container [name="el-table_1_column_3"] {
  width: 20% !important;
}
.orders_container [name="el-table_1_column_4"] {
  width: 20% !important;
}
.orders_container [name="el-table_1_column_5"] {
  width: 10% !important;
}
.action_btn {
  display: inline-block;
}
.mobile_payment_method_container {
  display: none;
}
.mobile_payment_method_container p {
  margin-bottom: 0px;
}
.mobile_order_status {
  display: none;
}
@media (max-width: 991px) {
  .mobile_order_status {
    display: block;
  }
  .payment_method_container {
    display: none;
  }
  .mobile_payment_method_container {
    display: block;
  }
}
@media (max-width: 650px) {
  .el-table__header-wrapper,
  .el-table__header,
  .el-table__body {
    width: 400px !important;
  }
  .el-table__header-wrapper {
    display: block !important;
  }
  .load_now {
    float: unset !important;
    margin-top: 10px;
    margin: 0 auto;
    display: block;
  }
}
</style>
<script>
export default {
  data() {
    return {
      baseurl: "",
      current_balance: "",
      amount: "",
      full_address: "",
      transfer_to: "",
      payment_method: "bank transfer",
      orders: []
    };
  },
  computed: {},
  created() {},
  mounted() {
    this.baseurl = base_url;
    this.getUserWalletOrders();
    // this.getUserDetails();
  },
  methods: {
    formatDate(date) {
      var d = new Date(date);
      return d.getMonth() + "/" + d.getDay() + "/" + d.getFullYear();
    },
    cancelOrder(order_key) {
      this.confirm_alert(
        "Cancel Order?",
        "Are you sure to cancel your order?",
        "info"
      ).then(response => {
        if (response) {
          var url = base_url + "wallet/cancel_order";
          axios
            .post(url, {
              token: getCookie("csrf_cookie"),
              order_key: order_key
            })
            .then(response => {
              location.reload();
            })
            .catch(function(error) {
              console.log(error);
            });
        }
      });
    },
    getUserWalletOrders() {
      var url = base_url + "wallet/get_user_wallet_orders";
      axios
        .post(url, {
          token: getCookie("csrf_cookie")
        })
        .then(response => {
          this.orders = response.data.orders.length > 0 ? response.data.orders : [] ;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    getUserDetails() {
      var url = base_url + "profile/get_user_details";
      axios
        .post(url, {
          token: getCookie("csrf_cookie")
        })
        .then(response => {
          var user_details = response.data.user_details;
          this.email = user_details.email;
          this.reg_type = user_details.reg_type;
          this.name = user_details.name;
          this.contact_number = user_details.contact_number;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    requestLoad() {
      this.confirm_alert(
        "Proceed Order?",
        "Are you sure you want to proceed your order?",
        "info"
      ).then(response => {
        if (response) {
          var url = base_url + "wallet/request_load";
          axios
            .post(url, {
              token: getCookie("csrf_cookie"),
              amount: this.amount,
              full_address: this.full_address,
              payment_method: this.payment_method,
              transfer_to: this.transfer_to
            })
            .then(response => {
              if (response.data.message == "success") {
                notify2(
                  "Thank you for choosing Pabile Food Delivery",
                  "Please wait for the confirmation text/call of your order",
                  "success"
                );
                setTimeout(() => {
                  location.reload();
                }, 2000);
              } else {
                swal("Order failed", response.data.error_msg, "warning");
              }
            })
            .catch(function(error) {
              console.log(error);
            });
        }
      });
    },
    transformPrice(price) {
      var price = parseFloat(price);
      return "₱" + price.toFixed(2);
    },
    confirm_alert(title, text, type) {
      return swal({
        title: title,
        text: text,
        type: type,
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      });
    }
  }
};
</script>