<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" id="admin-order-view">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manage Orders
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- <div class="col-md-12">
          <div class="col-md-4 form-group">
            <label>Status</label>
            <select class="form-control" v-model="filter_status" @change="filterTable()">
              <option value="all">All</option>
              <option value="0">Pending</option>
              <option value="1">Processing</option>
              <option value="3">Completed</option>
              <option value="4">Cancelled</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <label>Payment Status</label>
            <select class="form-control" v-model="filter_payment_status" @change="filterTable()">
              <option value="all">All</option>
              <option value="1">Paid</option>
              <option value="0">Unpaid</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <label>Payment Mode</label>
            <select class="form-control" v-model="filter_payment_method" @change="filterTable()">
              <option value="all">All</option>
              <option value="bank_transfer">Bank Transfer</option>
              <option value="pickup">Pickup</option>
              <option value="paypal">Paypal</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <label>Date Range</label>
            <date-picker v-model="filter_date" range lang="en" @change="filterTable()"></date-picker>
          </div>
          <div class="col-md-4 form-group">
            <label>Mode</label>
            <select class="form-control" v-model="filter_mode" @change="filterTable()">
              <option value="Live">Live</option>
              <option value="Test">Test</option>
            </select>
          </div>
        </div>-->

        <div class="col-md-12">
          <!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Orders</h3>
            </div>
            <div class="box-body">
              <button
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#createOrder"
              >Create New Order</button>
              <button
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#importOrder"
              >Import Orders</button>
              <button
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#cancelBulkOrder"
              >Cancel Bulk Orders</button>
              <!-- Modal -->
              <div id="cancelBulkOrder" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="#" method="POST" @submit.prevent="cancelBulkOrders()">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Cancel Bulk Order</h4>
                      </div>
                      <div class="modal-body">
                        <label>Bulk Order Key:</label>
                        <input type="text" class="form-control" v-model="bulk_order_key" required />
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <div id="importOrder" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Import Orders</h4>
                    </div>
                    <div class="modal-body">
                      <form method="get" action="#" @submit.prevent="generateOrderTemplate()">
                        <div class="form-group">
                          <label for>Brand: (Brand ID: {{selected_brand}})</label>
                          <select
                            name
                            class="form-control"
                            id
                            v-model="selected_brand"
                            @change="changeBrand()"
                            required
                          >
                            <option value>- Select a Brand -</option>
                            <option
                              :value="value.brand_id"
                              v-for="(value,index) in brands"
                              :key="index"
                            >{{value.name}}</option>
                          </select>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for>Product: (Product ID: {{selected_product}})</label>
                              <select
                                name
                                class="form-control"
                                id
                                v-model="selected_product"
                                required
                              >
                                <option value>- Select a Product -</option>
                                <option
                                  :value="value.id"
                                  v-for="(value,index) in products"
                                  :key="index"
                                >{{value.name}}</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for>Greeting Card: (Greeting ID: {{selected_greeting_card_id}})</label>
                          <select
                            name
                            class="form-control"
                            id
                            v-model="selected_greeting_card_id"
                            required
                          >
                            <option
                              :value="value.id"
                              v-for="(value,index) in greeting_cards"
                              :key="index"
                            >{{value.name}}</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for>Recommended Gift Item:</label>
                          <select
                            name
                            id
                            v-model="selected_sub_category"
                            class="form-control"
                            required
                          >
                            <option value>- Select a Recommended Gift Item -</option>
                            <option value="Anything">Anything</option>
                            <option
                              :value="value"
                              v-for="(value,index) in sub_categories"
                              :key="index"
                            >{{value}}</option>
                          </select>
                        </div>
                        <label for>Sending Option:</label>
                        <div class="radio">
                          <label>
                            <input
                              type="radio"
                              name="optradio"
                              value="send_email_greeeting"
                              v-model="sending_option"
                            />Send Email with Greeting Card
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input
                              type="radio"
                              name="optradio"
                              value="send_email_voucher"
                              v-model="sending_option"
                            />Send Email with Voucher Only
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input
                              type="radio"
                              name="optradio"
                              value="send_sms"
                              v-model="sending_option"
                            />Send SMS
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input
                              type="radio"
                              name="optradio"
                              value="dont_send"
                              v-model="sending_option"
                            />Don't Send
                          </label>
                        </div>
                        <button type="submit " class="btn btn-primary">Generate Template</button>
                      </form>
                      <br />
                      <form action="#" method="POST" @submit.prevent="importOrders()">
                        <div class="form-group">
                          <label for>Import File:</label>
                          <input
                            type="file"
                            class="form-control"
                            ref="file"
                            v-on:change="handleFileUpload()"
                          />
                        </div>
                        <button type="submit " class="btn btn-primary">Import Orders</button>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <div id="createOrder" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <form method="post" action="#" @submit.prevent="createOrders()">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create New Order</h4>
                      </div>
                      <div class="modal-body">
                        <div class="form-group">
                          <label for>Brand</label>
                          <select
                            name
                            class="form-control"
                            id
                            v-model="selected_brand"
                            @change="changeBrand()"
                            required
                          >
                            <option value>- Select a Brand -</option>
                            <option
                              :value="value.brand_id"
                              v-for="(value,index) in brands"
                              :key="index"
                            >{{value.name}}</option>
                          </select>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for>Quantity:</label>
                              <input type="number" class="form-control" v-model="quantity" />
                            </div>
                          </div>
                          <div class="col-md-9">
                            <div class="form-group">
                              <label for>Product:</label>
                              <select
                                name
                                class="form-control"
                                id
                                v-model="selected_product"
                                required
                              >
                                <option value>- Select a Product -</option>
                                <option
                                  :value="value.id"
                                  v-for="(value,index) in products"
                                  :key="index"
                                >{{value.name}}</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for>Greeting Card:</label>
                          <select
                            name
                            class="form-control"
                            id
                            v-model="gift_to_details.greeting_card_id"
                            required
                          >
                            <option
                              :value="value.id"
                              v-for="(value,index) in greeting_cards"
                              :key="index"
                            >{{value.name}}</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for>Recommended Gift Item:</label>
                          <select
                            name
                            id
                            v-model="gift_to_details.sub_category"
                            class="form-control"
                            required
                          >
                            <option value>- Select a Recommended Gift Item -</option>
                            <option value="Anything">Anything</option>
                            <option
                              :value="value"
                              v-for="(value,index) in sub_categories"
                              :key="index"
                            >{{value}}</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for>Recipient Name</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Recipient Name"
                            v-model="gift_to_details.name"
                          />
                        </div>
                        <div class="form-group">
                          <label for>Email Address</label>
                          <input
                            type="email"
                            class="form-control"
                            placeholder="Email Address"
                            v-model="gift_to_details.email_address"
                            required
                          />
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for>Contact Number</label>
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Contact Number"
                                v-model="gift_to_details.contact_number"
                                required
                              />
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label for>Gift is From:</label>
                              <input
                                type="text"
                                class="form-control"
                                placeholder="From"
                                v-model="gift_to_details.from_name"
                                required
                              />
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for>Message</label>
                          <textarea
                            name
                            id
                            cols="30"
                            rows="10"
                            v-model="gift_to_details.message"
                            class="form-control"
                          ></textarea>
                        </div>
                        <label for>Sending Option:</label>
                        <div class="radio">
                          <label>
                            <input
                              type="radio"
                              name="optradio"
                              value="send_email_greeeting"
                              v-model="sending_option"
                            />Send Email with Greeting Card
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input
                              type="radio"
                              name="optradio"
                              value="send_email_voucher"
                              v-model="sending_option"
                            />Send Email with Voucher Only
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input
                              type="radio"
                              name="optradio"
                              value="send_sms"
                              v-model="sending_option"
                            />Send SMS
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input
                              type="radio"
                              name="optradio"
                              value="dont_send"
                              v-model="sending_option"
                            />Don't Send
                          </label>
                        </div>
                        <div class="form-group">
                          <label for>Admin Notes:</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Admin Notes"
                            v-model="admin_notes"
                          />
                        </div>
                        <div class="form-group">
                          <label for>Default Status</label>
                          <select name="status" class="form-control" v-model="default_status">
                            <option value="Pending">Pending</option>
                            <option value="Paid">Paid</option>
                            <option value="Cancelled">Cancelled</option>
                            <option value="Delivered">Delivered</option>
                            <option value="Paid – Brand Pending">Paid – Brand Pending</option>
                            <option value="Paid – Email Pending">Paid – Email Pending</option>
                            <option value="Paid - Payment Verification">Paid - Payment Verification</option>
                            <option value="Paid - Lazada">Paid - Lazada</option>
                            <option value="Completed">Completed</option>
                          </select>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit " class="btn btn-primary">Create Orders</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <br />
              <br />

              <table id="tbl_orders" class="table table-bordered table-striped table-responsive">
                <thead>
                  <tr>
                    <th>Order Number</th>
                    <th>Email</th>
                    <th>Amount</th>
                    <th>Product</th>
                    <th>Brand</th>
                    <th>Payment method</th>
                    <th>Order Status</th>
                    <th>Date ordered</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                    <td>
                      <a
                        href="javascript:void(0)"
                        @click="view_order(val.order_number)"
                      >{{ val.order_number }}</a>
                    </td>
                    <td>
                      <p>{{val.email}}</p>
                    </td>
                    <td>
                      <p>PHP {{val.total}}</p>
                    </td>
                    <td>
                      <p>{{val.product_name}}</p>
                    </td>
                    <td>
                      <p>{{val.brand_name}}</p>
                    </td>
                    <td>
                      <p
                        v-if="val.payment_method=='bank_deposit' || val.payment_method=='bank_transfer' "
                      >Bank Transfer</p>
                      <p v-else-if="val.payment_method=='gifted_wallet'">Gifted Wallet</p>
                      <p v-else-if="val.payment_method=='paypal'">Paypal</p>
                      <p v-else>{{val.payment_method}}</p>
                    </td>
                    <td>
                      {{val.status}}
                      <!-- <select name="status" class="form-control" v-model="val.status">
                        <option value="Pending">Pending</option>
                        <option value="Processing">Processing</option>
                        <option value="Order Placed">Order Placed</option>
                        <option value="Paid">Paid</option>
                        <option value="Shipped">Shipped</option>
                        <option value="On Hold">On Hold</option>
                        <option value="Cancelled">Cancelled</option>
                        <option value="Delivered">Delivered</option>
                        <option value="Paid – Brand Pending">Paid – Brand Pending</option>
                        <option value="Completed" selected="selected">Completed</option>
                        <option value="Paid – Email Pending">Paid – Email Pending</option>
                        <option value="Paid - Payment Verification">Paid - Payment Verification</option>
                        <option value="Paid - Lazada">Paid - Lazada</option>
                        <option value="Paid – Greetings Card Pending">Paid – Greetings Card Pending</option>
                        <option value="Redeemed">Redeemed</option>
                      </select>-->
                    </td>
                    <td>{{val.created_at ? val.created_at : 'N/A'}}</td>
                    <td>
                      <div class="dropdown">
                        <button
                          class="btn dropdown-toggle"
                          type="button"
                          v-bind:class="{ disabled: val.status >= 3, 'btn-success': val.status == 3, 'btn-danger': val.status == 4 || val.status == 5 || val.status == 6, 'btn-primary': !(val.status >= 3) }"
                          data-toggle="dropdown"
                        >
                          Actions
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li v-bind:class="{ active: val.status == 'Pending' }">
                            <a href="javascript:void(0)" @click="view_order(val.order_number)">View</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
  </div>
</template>
<script type="text/javascript">
import DatePicker from "vue2-datepicker";
export default {
  components: { DatePicker },
  data() {
    return {
      rows: [],
      gift_to_details: {
        name: "",
        email_address: "",
        contact_number: "",
        message: "",
        greeting_card_id: 3,
        sub_category: ""
      },
      greeting_cards: [],
      products: [],
      sub_categories: [],
      selected_brand: "",
      selected_product: "",
      selected_sub_category: "",
      quantity: 1,
      bulk_order_key: "",
      admin_notes: "",
      selected_greeting_card_id: "",
      sending_option: "",
      default_status: "Paid",
      brands: [],
      file: ""
    };
  },
  mounted() {
    loading();
    this.setTable();
    this.setBrands();
    this.getGreetingCards();
    setTimeout(() => {
      close_loading();
    }, 1000);
  },
  methods: {
    cancelBulkOrders() {
      confirm_alert(
        "Are you sure you want to cancel the orders?",
        "",
        "info"
      ).then(response => {
        loading();
        var url = base_url + "orders_api/cancel_bulk_orders";
        axios
          .post(url, {
            token: getCookie("csrf_cookie"),
            bulk_order_key: this.bulk_order_key
          })
          .then(response => {
            close_loading();
            if (response.data.message == "success") {
              notify2(
                "Orders Successfully Cancelled",
                response.data.bulk_order_key,
                "success"
              );
              setTimeout(() => {
                location.reload();
              }, 2000);
            } else {
              notify2(
                "Error",
                "Please check bulk order key",
                "error"
              );
            }
          })
          .catch(function(error) {
            close_loading();
            console.log(error);
          });
      });
    },
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
    },
    importOrders() {
      confirm_alert("Orders will be added", "", "info").then(response => {
        loading();
        let url = base_url + "orders_api/import_orders";
        this.file = this.$refs.file.files[0];
        let formData = new FormData();
        formData.append("file", this.file);
        formData.append("token", getCookie("csrf_cookie"));
        axios
          .post(url, formData, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          })
          .then(function(response) {
            close_loading();
            console.log(response);
            if (response.data.message == "success") {
              notify2(
                "Added Successfully",
                response.data.bulk_order_key,
                "success"
              );
              setTimeout(() => {
                location.reload();
              }, 5000);
            } else {
              notify2("Please upload excel file only", "", "error");
            }
          })
          .catch(function(error) {
            notify2("Please upload excel file only", "", "error");
          });
      });
    },
    generateOrderTemplate() {
      var url =
        base_url +
        `orders_api/generate_template?brand_id=${
          this.selected_brand
        }&product_id=${this.selected_product}&sending_option=${
          this.sending_option
        }&selected_sub_category=${
          this.selected_sub_category
        }&selected_greeting_card_id=${this.selected_greeting_card_id}`;
      window.open(url, "_blank");
      // axios
      //   .get(url)
      //   .then(response => {})
      //   .catch(function(error) {
      //     console.log(error);
      //   });
    },
    createOrders() {
      loading();
      var url = base_url + "orders_api/create_orders";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          brand_id: this.selected_brand,
          gift_to_details: this.gift_to_details,
          product_id: this.selected_product,
          admin_notes: this.admin_notes,
          sending_option: this.sending_option,
          default_status: this.default_status,
          quantity: this.quantity
        })
        .then(response => {
          close_loading();
          notify2(
            "Please save the bulk order key",
            response.data.bulk_order_key,
            "success"
          );
        })
        .catch(function(error) {
          close_loading();
          console.log(error);
        });
    },
    getSubcategories() {
      var url = base_url + "Api/get_subcategories";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          brand_id: this.selected_brand
        })
        .then(response => {
          this.sub_categories = response.data.sub_categories;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    changeBrand() {
      loading();
      var url = base_url + "products/get_products_by_brand_id";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          brand_id: this.selected_brand
        })
        .then(response => {
          this.products = response.data.products;
          close_loading();
          this.getSubcategories();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    getGreetingCards() {
      var url = base_url + "greeting_cards/get_greeting_cards";
      axios
        .post(url, {
          token: getCookie("csrf_cookie")
        })
        .then(response => {
          this.greeting_cards = response.data.greeting_cards;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    setBrands() {
      const url = `${base_url}/brands_api/get_brands`;
      axios
        .get(url)
        .then(response => {
          this.brands = response.data.brands;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    view_order(order_number) {
      window.open(
        base_url +
          `secure_admin#/view_orders/${escape(order_number).replace(
            /\//g,
            "$st"
          )}`,
        "_blank" // <- This is what makes it open in a new window.
      );
      //this.$router.push(`/view_orders/${escape(id).replace(/\//g,"$st")}`);
    },
    pad(num, size) {
      var s = num + "";
      while (s.length < size) s = "0" + s;
      return s;
    },
    filterTable() {
      const url =
        `${base_url}/orders_api/get_orders/?status=` +
        this.filter_status +
        `&payment_method=` +
        this.filter_payment_method +
        `&payment_status=` +
        this.filter_payment_status +
        `&mode=` +
        this.filter_mode;
      axios
        .get(url)
        .then(response => {
          this.rows = [];
          var orders = response.data.orders;

          if (this.filter_date.length != 0) {
            orders.map((item, index) => {
              var payment_details = JSON.parse(item.payment_details);
              var item_date = new Date(item.created_at);
              var date_from = new Date(this.filter_date[0]);
              var date_to = new Date(this.filter_date[1]);
              date_to.setDate(date_to.getDate() + 1);
              if (
                item_date.getTime() >= date_from.getTime() &&
                item_date.getTime() <= date_to.getTime()
              ) {
                this.rows.push({
                  id: item.id,
                  order_key: item.order_key,
                  email: item.email,
                  billing_info: JSON.parse(item.billing_info),
                  shipping_info: JSON.parse(item.shipping_info),
                  price: item.price,
                  status: item.status,
                  coupon_value: item.coupon_value,
                  payment_details: payment_details,
                  payment_method: item.payment_method,
                  total: item.total,
                  status: item.status,
                  expired_at: item.expired_at,
                  created_at: item.created_at
                });
              }
            });
          } else {
            orders.map((item, index) => {
              var payment_details = JSON.parse(item.payment_details);
              this.rows.push({
                id: item.id,
                order_key: item.order_key,
                email: item.email,
                billing_info: JSON.parse(item.billing_info),
                shipping_info: JSON.parse(item.shipping_info),
                price: item.price,
                status: item.status,
                coupon_value: item.coupon_value,
                payment_details: payment_details,
                payment_method: item.payment_method,
                total: item.total,
                status: item.status,
                created_at: item.created_at
              });
            });
          }
          $("#tbl_orders")
            .dataTable()
            .fnDestroy();
          setTimeout(() => {
            $("#tbl_orders").DataTable({
              searching: false,
              order: [[8, "desc"]],
              lengthMenu: [25, 50, 100]
            });
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    setTable() {
      const url = `${base_url}/orders_api/get_orders`;
      axios
        .get(url)
        .then(response => {
          var orders = response.data.orders;
          console.log(orders);
          orders.map((item, index) => {
            this.rows.push({
              id: item.id,
              order_number: item.order_number,
              order_key: item.order_key,
              email: item.email,
              status: item.status,
              payment_method: item.payment_method,
              total: item.total,
              brand_name: item.brand_name,
              product_name: item.product_name,
              status: item.status,
              voucher: item.voucher,
              created_at: item.created_at
            });
          });
          setTimeout(() => {
            $("#tbl_orders").DataTable({
              lengthMenu: [25, 50, 100],
              aaSorting: [],
              order: [[5, "desc"]],
              columnDefs: [{}, { sType: "currency", aTargets: [2] }]
            });
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    getPaymentStatus(status) {
      return status == 1 ? "Paid" : "Unpaid";
    },
    changeStatus(status, id) {
      let vm = this;
      confirm_alert("Update Status?", "Are you sure?", "info").then(
        response => {
          if (response) {
            var url = `${base_url}orders_api/change_status`;
            axios
              .post(url, {
                token: getCookie("csrf_cookie"),
                id: id,
                status: status
              })
              .then(response => {
                location.reload();
              })
              .catch(function(error) {
                console.log(error);
              });
          }
        }
      );
    }
  }
};
</script>