<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" id="admin-order-view">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manage Orders
        <small>View</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-success">
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-primary pull-left" @click="go_to_order_list()">Back</button>
                  <button
                    class="btn btn-primary pull-right"
                    data-toggle="modal"
                    data-target="#sendEmailNotif"
                  >Send Email Notification</button>
                  <button
                    class="btn btn-default pull-right"
                    @click="downloadGreetingCard()"
                  >Download Greeting Card</button>
                </div>
              </div>
              <br />
              <!-- Modal -->
              <div id="sendEmailNotif" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <form method="POST" @submit.prevent="sendEmailNotification()">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Send Email Notification</h4>
                      </div>
                      <div class="modal-body">
                        <label for>Message Templates</label>
                        <select
                          name
                          v-model="send_email_notification.message_template"
                          id
                          class="form-control"
                          @change="changeCannedMessage"
                          required
                        >
                          <option value>- Select Canned Message -</option>
                          <option
                            :value="index"
                            v-for="(value,index) in canned_messages"
                            :key="index"
                          >{{value.name}}</option>
                        </select>
                        <br />
                        <label for>Recipient</label>

                        <select
                          name
                          v-model="send_email_notification.receipient"
                          id
                          class="form-control"
                          required
                        >
                          <option value>- Select Receipient -</option>
                          <option :value="order_data.email">Account Main Email {{order_data.email}}</option>
                          <option
                            :value="billing_address.email"
                            v-if="billing_address.email != ''"
                          >Billing Email {{billing_address.email}}</option>
                          <option
                            :value="shipping_address.email"
                            v-if="shipping_address.email != ''"
                          >Shipping Email {{shipping_address.email}}</option>
                        </select>
                        <br />
                        <label for>Subject</label>
                        <input
                          type="text"
                          class="form-control"
                          v-model="send_email_notification.subject"
                          required
                        />
                        <br />
                        <label for>Message</label>
                        <ckeditor
                          :editor="editor"
                          v-model="send_email_notification.message"
                          :config="editorConfig"
                          style="height:200px;"
                        ></ckeditor>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Send Notification</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapse1"
                      >Order Details</a>
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-details" style="padding: 15px">
                            <h4>Order Info</h4>
                            <div style="padding: 15px">
                              <p>Order Number: {{order_data.order_number}}</p>
                              <p>Customer Email: {{ order_data.email }}</p>
                              <p
                                v-if="order_data.delivery_option=='send_shipping'"
                              >Delivery Option: Shipping</p>
                              <p v-else>Delivery Option: Printable PDF</p>
                              <p
                                v-if="order_data.payment_method=='bank_deposit'"
                              >Payment Method: Bank Transfer</p>
                              <p
                                v-else-if="order_data.payment_method=='gifted_wallet'"
                              >Payment Method: Gifted Wallet</p>
                              <p
                                v-else-if="order_data.payment_method=='paypal'"
                              >Payment Method: Paypal</p>
                              <p v-else>Payment Method: {{order_data.payment_method}}</p>
                              <p>Date ordered: {{order_data.created_at}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-details" style="padding: 15px">
                            <h4>Billing Address</h4>
                            <div style="padding: 15px">
                              <p
                                v-show="billing_address.first_name"
                              >Name: {{ billing_address.first_name + " " + billing_address.middle_initial + " " + billing_address.last_name}}</p>
                              <p
                                v-show="billing_address.contact_number"
                              >Contact Number: {{ billing_address.contact_number}}</p>
                              <p v-show="billing_address.email">Email: {{ billing_address.email}}</p>
                              <p
                                v-show="billing_address.address"
                              >Address: {{ billing_address.address}}</p>
                              <p
                                v-show="billing_address.province"
                              >Province/Country: {{ billing_address.province + ", " + billing_address.country + ", " + billing_address.zip_code}}</p>
                              <p
                                v-show="billing_address.company"
                              >Company: {{ billing_address.company}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6" v-if="shipping_address.address!=''">
                          <div class="form-details" style="padding: 15px">
                            <h4>Shipping Address</h4>
                            <div style="padding: 15px">
                              <p
                                v-show="shipping_address.first_name"
                              >Name: {{ shipping_address.first_name + " " + shipping_address.middle_initial + " " + shipping_address.last_name}}</p>
                              <p
                                v-show="shipping_address.contact_number"
                              >Contact Number: {{ shipping_address.contact_number}}</p>
                              <p v-show="shipping_address.email">Email: {{ shipping_address.email}}</p>
                              <p
                                v-show="shipping_address.address"
                              >Address: {{ shipping_address.address}}</p>
                              <p
                                v-show="shipping_address.province"
                              >Province/Country: {{ shipping_address.province + ", " + shipping_address.country + ", " + shipping_address.zip_code}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6" v-if="order_data.lazada_main_order_reference!=''">
                          <div class="form-details" style="padding: 15px">
                            <h4>Lazada Order Details</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapse2"
                      >Voucher Details</a>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12">
                          <h4 style="margin-left: 5px">Voucher Details</h4>
                          <button
                            type="button"
                            class="btn btn-danger"
                            @click="unselectAll()"
                            v-if="selected_all"
                          >Unselect All</button>
                          <button
                            type="button"
                            class="btn btn-default"
                            @click="selectAll()"
                            v-if="selected_all == false"
                          >Select All</button>
                          <button class="btn btn-primary" @click="resendVouchers()">Resend Vouchers</button>

                          <br />
                          <br />
                          <table
                            class="table table-bordered table-striped table-hover table-order-list"
                            id="tbl_vouchers"
                          >
                            <thead>
                              <tr>
                                <th>Voucher Code</th>
                                <th>Voucher Notes</th>
                                <th>Date Sent</th>
                                <th>Redeemed</th>
                                <th>Downloaded</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="(voucher, index) in this.vouchers" :key="index">
                                <td>
                                  <input
                                    type="checkbox"
                                    v-model="selected_vouchers"
                                    :id="`row${index}`"
                                    :value="index"
                                  />
                                  <b>{{ voucher.voucher_code }}</b>
                                </td>
                                <td>
                                  <div class="input-group" style="width: 100%;">
                                    <input
                                      type="text"
                                      class="form-control"
                                      placeholder="Voucher notes"
                                      v-model="voucher.voucher_notes"
                                    />
                                    <div class="input-group-btn">
                                      <button
                                        class="btn btn-default"
                                        type="button"
                                        @click="updateVoucherNotes(voucher.voucher_code,index)"
                                      >Update</button>
                                    </div>
                                  </div>
                                </td>
                                <td>{{voucher.date_sent}}</td>
                                <td v-if="voucher.is_redeemed == 1">Yes</td>
                                <td v-else>No</td>
                                <td v-if="voucher.is_downloaded == 1">Yes</td>
                                <td v-else>No</td>
                                <td>
                                  <div class="dropdown">
                                    <button
                                      class="btn dropdown-toggle"
                                      type="button"
                                      data-toggle="dropdown"
                                    >
                                      Actions
                                      <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <!-- <li>
                                <a href="javascript:void(0)">Download Voucher Link</a>
                                      </li>-->
                                      <li>
                                        <a
                                          href="javascript:void(0)"
                                          @click="downloadVoucher(voucher.voucher_code)"
                                        >Direct Download Voucher</a>
                                      </li>
                                      <li>
                                        <a
                                          href="javascript:void(0)"
                                        >Resend Voucher Download link email</a>
                                      </li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapse3"
                      >Customer Payment Details</a>
                    </h4>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12">
                          <form method="POST" @submit.prevent="updateOrder()">
                            <div class="col-md-6">
                              <h4 style="margin-left: 5px">Customer Payment Details</h4>
                              <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>Brand:</td>
                                    <td v-if="product_details != ''">
                                      <p>{{ product_details.name }}</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>Product:</td>
                                    <td v-if="order_data != ''">
                                      <p
                                        v-if="order_data.lazada_reference != ''"
                                      >{{ order_data.quantity +"x "+order_data.lazada_reference.name }}</p>
                                      <p v-else>{{ order_data.quantity +"x "+product_details.name }}</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>Payment Status:</td>
                                    <td>
                                      <select
                                        name="status"
                                        class="form-control"
                                        v-model="order_data.status"
                                      >
                                        <option value="Pending">Pending</option>
                                        <option value="Paid">Paid</option>
                                        <option value="Completed">Completed</option>
                                        
                                        <option value="Paid – Brand Pending">Paid – Brand Pending</option>
                                        <option
                                          value="Paid - Payment Verification"
                                        >Paid - Payment Verification</option>
                                        <option value="Cancelled">Cancelled</option>
                                      </select>
                                    </td>
                                  </tr>

                                  <tr>
                                    <td>Payment Mode:</td>
                                    <td
                                      v-if="order_data.payment_method=='bank_deposit'"
                                    >Bank Transfer</td>
                                    <td
                                      v-else-if="order_data.payment_method=='gifted_wallet'"
                                    >Gifted Wallet</td>
                                    <td v-else-if="order_data.payment_method=='paypal'">Paypal</td>
                                    <td v-else>{{order_data.payment_method}}</td>
                                  </tr>
                                  <tr>
                                    <td>Shipping:</td>
                                    <td
                                      v-if="order_data.delivery_option == 'send_email'"
                                    >Send through Email - printable PDF</td>
                                    <td v-else>Sent via Shipping Address</td>
                                  </tr>
                                  <tr>
                                    <td>Subtotal:</td>
                                    <td>{{transformPrice(order_data.sub_total)}}</td>
                                  </tr>
                                  <tr>
                                    <td>Delivery Fee:</td>
                                    <td>{{ transformPrice(order_data.delivery_charge) }}</td>
                                  </tr>
                                  <tr v-if="order_data.promo > 0">
                                    <td>Promo Code:</td>
                                    <td>{{ order_data.promo_code }}({{order_data.promo}})</td>
                                  </tr>
                                  <tr v-if="order_data.discount > 0 ">
                                    <td>Corporate Discount:</td>
                                    <td>{{transformPrice(order_data.discount)}}</td>
                                  </tr>
                                  <tr>
                                    <td>Service Fee:</td>
                                    <td>{{ transformPrice(order_data.service_fee) }}</td>
                                  </tr>
                                  <tr>
                                    <td>Customer Vatable Sales::</td>
                                    <td>{{ transformPrice(order_data.vatable_sales) }}</td>
                                  </tr>
                                  <tr>
                                    <td>Vat:</td>
                                    <td>{{ transformPrice(order_data.vat) }}</td>
                                  </tr>
                                  <tr>
                                    <td>Total:</td>
                                    <td>{{ transformPrice(order_data.total) }}</td>
                                  </tr>
                                </tbody>
                              </table>
                              <!-- <h4 style="margin-left: 5px">Merchant Payment Details</h4>
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td>Merchant Fee:</td>
                          <td>({{order_data.merchant_fee}}%) {{ transformPrice(order_data.merchant_fee_total) }}</td>
                        </tr>
                        <tr>
                          <td>Merchant Payment Fee Vatable Sales:</td>
                          <td>{{ transformPrice(order_data.merchant_fee_vat_sales) }}</td>
                        </tr>
                        <tr>
                          <td>Merchant Fee Vat:</td>
                          <td>{{ transformPrice(order_data.merchant_fee_vat) }}</td>
                        </tr>
                        <tr>
                          <td>Total Merchant Sales:</td>
                          <td>{{transformPrice(order_data.merchant_total)}}</td>
                        </tr>
                        <tr>
                          <td>Withholding Taxt:</td>
                          <td>{{transformPrice(order_data.withholding_tax)}}</td>
                        </tr>
                        <tr>
                          <td>Total Merchant Sales + Withholding Tax:</td>
                          <td>{{ transformPrice(order_data.merchant_total_and_witholding) }}</td>
                        </tr>
                      </tbody>
                              </table>-->
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <div class="form-group">
                                  <label>Admin Notes</label>
                                  <textarea
                                    name="admin_notes"
                                    id
                                    cols="30"
                                    rows="5"
                                    v-model="order_data.admin_notes"
                                    class="form-control"
                                    placeholder
                                  ></textarea>
                                </div>
                                <div class="form-group">
                                  <label for>Payment Deposit Slip #</label>
                                  <input
                                    type="text"
                                    v-model="order_data.deposit_slip"
                                    class="form-control"
                                    :required="order_data.status=='Paid'"
                                  />
                                </div>
                                <div v-if="order_data.delivery_option == 'send_shipping'">
                                  <div class="form-group">
                                    <label for>Courier Name</label>
                                    <input
                                      type="text"
                                      v-model="order_data.courier_details.courier_name"
                                      class="form-control"
                                    />
                                  </div>
                                  <div class="form-group">
                                    <label for>Courier Website</label>
                                    <input
                                      type="text"
                                      v-model="order_data.courier_details.courier_website"
                                      class="form-control"
                                    />
                                  </div>
                                  <div class="form-group">
                                    <label for>Delivery Tracking #</label>
                                    <input
                                      type="text"
                                      v-model="order_data.courier_details.delivery_trackin_no"
                                      class="form-control"
                                    />
                                  </div>
                                  <div class="form-group">
                                    <label for>Date Dispatch</label>
                                    <input
                                      type="text"
                                      v-model="order_data.courier_details.date_dispatched"
                                      class="form-control"
                                    />
                                  </div>
                                </div>
                                <br />
                                <button class="btn btn-primary">Update Order</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style type="text/css">
.table-order-list th {
  padding: 10px;
}
.ck-editor__editable {
  min-height: 200px;
}
.table-order-list td {
  text-align: left !important;
}
.additional_order small {
  display: block;
}
</style>

<script type="text/javascript">
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
export default {
  data() {
    return {
      editor: ClassicEditor,
      editorConfig: {
        // The configuration of the rich-text editor.
      },
      send_email_notification: {
        message_template: "",
        receipient: "",
        subject: "",
        message: ""
      },
      order_data: [],
      billing_address: [
        {
          name: "",
          contact_number: "",
          address: "",
          sub_address: "",
          email: ""
        }
      ],
      shipping_address: [],
      product_details: [],
      vouchers: [],
      order_number: "",
      selected_vouchers: [],
      selected_all: false,
      canned_messages: []
    };
  },
  mounted() {
    loading();
    this.getOrderData(this.$route.params.id);
    this.getAllCannedMessage();
    this.order_number = this.$route.params.id;
    setTimeout(() => {
      close_loading();
    }, 1000);
  },
  methods: {
    getAllCannedMessage() {
      var url = `${base_url}api/get_all_canned_messages`;
      axios
        .post(url, {
          token: getCookie("csrf_cookie")
        })
        .then(response => {
          this.canned_messages = response.data.canned_messages;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    selectAll() {
      this.selected_all = true;
      for (var x = 0; x < this.vouchers.length; x++) {
        this.selected_vouchers.push(x);
      }
    },
    unselectAll() {
      this.selected_all = false;
      this.selected_vouchers = [];
    },
    changeCannedMessage() {
      var index = this.send_email_notification.message_template;
      var placeholder = ["{order_number}"];
      if (index != "") {
        var canned_message = this.canned_messages[index].content;
        var canned_subject = this.canned_messages[index].subject;
        placeholder.forEach(element => {
          var search = element;
          if (canned_subject.indexOf(search)) {
            canned_subject = canned_subject.replace(search, this.order_number);
          }
          if (canned_message.indexOf(search)) {
            canned_message = canned_message.replace(search, this.order_number);
          }
        });

        this.send_email_notification.message = canned_message;
        this.send_email_notification.subject = canned_subject;
      }
    },
    sendEmailNotification() {
      var tmp_canned_message = this.send_email_notification;
      var index = this.send_email_notification.message_template;
      var url = `${base_url}orders_api/send_notification_message`;
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          email_notification: this.send_email_notification
        })
        .then(response => {
          if (response.data.message == "success") {
            notify2("Email Notification Sent", "", "success");
            this.send_email_notification = tmp_canned_message;
          } else {
            notify2("Error", "Emain not sent", "error");
          }
        })
        .catch(function(error) {
          console.log(error);
        });
      // var canned_message = this.canned_messages[index];
      // var canned_template = canned_message.name;
    },
    getPercentage(sub_total, percentage) {
      return sub_total * (parseInt(percentage) / 100);
    },
    updateVoucherNotes(voucher_code, index) {
      var url = `${base_url}orders_api/update_voucher_notes`;
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          voucher_code: voucher_code,
          voucher_notes: this.vouchers[index].voucher_notes
        })
        .then(response => {
          if (response.data.message == "success") {
            if (order_data.status == "Paid") {
              var order_number = this.order_data.order_number;
              var url = `${base_url}orders_api/resend_vouchers`;
              var voucher_codes = [];
              for (var x = 0; x < this.selected_vouchers.length; x++) {
                voucher_codes.push(this.vouchers[x].voucher_code);
              }
              axios
                .post(url, {
                  token: getCookie("csrf_cookie"),
                  order_number: order_number,
                  voucher_codes: voucher_codes
                })
                .then(response => {
                  if (response.data.message == "success") {
                    notify2("Updated Successfully", "", "success");
                  }
                })
                .catch(function(error) {
                  console.log(error);
                });
            } else {
              notify2("Updated Successfully", "", "success");
            }
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    go_to_order_list() {
      this.$router.push(`/view_orders/`);
    },
    downloadGreetingCard() {
      var url = `${base_url}api/downloadGreetingCard/${this.order_number}`;
      window.open(
        url,
        "_blank" // <- This is what makes it open in a new window.
      );
    },
    getOrderData(order_number) {
      const url =
        `${base_url}/orders_api/get_order_details?order_number=` + order_number;
      axios
        .get(url)
        .then(response => {
          this.order_data = response.data[0];
          this.voucher = response.data[0].voucher;
          this.order_data.lazada_reference = this.order_data.lazada_reference
            ? JSON.parse(this.order_data.lazada_reference)
            : "";
          this.billing_address = JSON.parse(this.order_data.billing_address);
          this.shipping_address = JSON.parse(this.order_data.shipping_address);
          this.order_data.courier_details = JSON.parse(
            this.order_data.courier_details
          );
          this.product_details = response.data.product_details;
          this.vouchers = response.data.vouchers;
          //this.order_data.order = JSON.parse(this.order_data.order);
          setTimeout(() => {
            $("#tbl_vouchers").DataTable({
              lengthMenu: [50, 100],
              columnDefs: [
                {
                  targets: 0,
                  orderable: false
                },
                {
                  targets: 1,
                  orderable: false
                }
              ]
            });
          }, 500);
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    downloadVoucher(voucher_code) {
      var url = `${base_url}api/downloadVoucher/${voucher_code}`;
      window.open(
        url,
        "_blank" // <- This is what makes it open in a new window.
      );
    },
    getPaymentStatus(status) {
      return status == 1 ? "Paid" : "Unpaid";
    },
    transformPrice(price) {
      var price = parseFloat(price);
      return "₱" + price.toFixed(2);
    },
    updateOrder() {
      var status = this.order_data.status;
      confirm_alert("Update Order?", "Are you sure?", "info").then(response => {
        if (response) {
          var url = `${base_url}orders_api/update_order`;
          axios
            .post(url, {
              token: getCookie("csrf_cookie"),
              order_number: this.order_number,
              order_data: this.order_data
            })
            .then(response => {
              console.log(response);
              location.reload();
            })
            .catch(function(error) {
              console.log(error);
            });
        }
      });
    },
    resendVouchers() {
      if (this.selected_vouchers.length > 0) {
        var order_number = this.order_data.order_number;

        confirm_alert("Resend Vouchers?", "Are you sure?", "info").then(
          response => {
            if (response) {
              var url = `${base_url}orders_api/resend_vouchers`;
              var voucher_codes = [];
              for (var x = 0; x < this.selected_vouchers.length; x++) {
                voucher_codes.push(this.vouchers[x].voucher_code);
              }
              axios
                .post(url, {
                  token: getCookie("csrf_cookie"),
                  order_number: order_number,
                  voucher_codes: voucher_codes
                })
                .then(response => {
                  if (response.data.message == "success")
                    notify2("Voucher Sent", "", "success");
                  else notify2("Voucher Not Send", "", "error");
                })
                .catch(function(error) {
                  console.log(error);
                });
            }
          }
        );
      } else {
        notify2("Please select a voucher", "", "error");
      }
    },
    changeStatus() {
      var status = order_data.status;
      let vm = this;
      confirm_alert("Update Status?", "Are you sure?", "info").then(
        response => {
          if (response) {
            var url = `${base_url}orders_api/change_status`;
            axios
              .post(url, {
                token: getCookie("csrf_cookie"),
                id: this.id,
                status: status
              })
              .then(response => {
                console.log(response);
                //  location.reload();
              })
              .catch(function(error) {
                console.log(error);
              });
          }
        }
      );
    }
  }
};
</script>